<div class="container top-space">
  <h1>করোনা ভাইরাস</h1>
  <p>
    করোনা ভাইরাস বা কোভিড-১৯ নামটি সাম্প্রতিক সময়ে বিশ্বের সকল গণমাধ্যমসমূহের প্রধান শিরোনামগুলোতে নিজের জায়গা করে নিয়েছে।
    এর আগে কখনো এই ভাইরাসটি মানুষের মধ্যে দেখা যায় নি। এশিয়ার বিভিন্ন অংশ এবং এর বাইরেও দ্রুত ছড়িয়ে পড়ছে এই ভাইরাস।
  </p>
  <img src="/assets/corona/goton.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
  
  <p style = "padding-top: 30px;">
    চীনসহ বেশ কয়েকটি দেশে করোনা ভাইরাস সংক্রমণের ফলে আতঙ্ক তৈরি হয়েছে। এখন পর্যন্ত বেশকিছু
    রোগীর মৃত্যুর খবর পাওয়া গেছে এবং দিনদিন এ সংখ্যা বেড়েই যাচ্ছে। ইতোমধ্যে সতর্কতা জারি করেছে বিশ্ব
    স্বাস্থ্য সংস্থা (World Health Organization) ।
  </p>

  <h5>করোনা ভাইরাস কি?</h5>

 
  <p>
    করোনা ভাইরাসসমূহ একটি বৃহৎ গোত্রের অন্তর্ভূক্ত এক ধরনের অণুজীব যা মানুষ কিংবা অন্যান্য প্রাণীর দেহে সংক্রমিত হয়ে তাকে অসুস্থ
    করে ফেলে। করোনা ভাইরাসের অনেক রকম প্রজাতি আছে। এর মধ্যে গুটিকয়েক মানবদেহে আক্রমণে সক্ষম। বাকীগুলো বিভিন্ন প্রানীর দেহে
    বংশবিস্তার করে থাকে। কিছুদিন আগ পর্যন্তও আমরা জানতাম, এসকল প্রজাতির মধ্যে মাত্র ছয়টি প্রজাতি মানুষের দেহে সংক্রমিত হতে পারে।
    তবে নতুন ধরণের ভাইরাসের কারণে সেই সংখ্যা এখন থেকে হবে সাতটি। নতুন এই প্রজাতটির নামকরণ করা হয়েছে নভেল করোনাভাইরাস
    (Novel Coronavirus) বা ২০১৯– এনসিওভি (2019-nCoV) ।
  </p>
  <p>
  মানবদেহে এই নতুন প্রজাতিটির আক্রমণের ফলে যে রোগের সৃষ্টি হয় তার নামন দেওয়া হয়েছে “কোভিড-২০১৯ (COVID-2019)” সংক্ষেপে যাকে
  “কোভিড-১৯ (COVID-19)” নামেও ডাকা হয়ে থাকে। রোগটি হলো এক ধরণের ভাইরাল ইনফেকশন (Viral Infection) যা মানুষের ফুসফুসে
  হয়ে থাকে। এর ফলে রোগীর, সাধারণ সর্দি-কাশি থেকে শুরু করে মিডল ইষ্ট রেসপিরেটরী সিনড্রম (Middle East Respiratory Syndrome)
  কিংবা সিভিয়ার একিউট রেপিরেটরি সিনড্রম (Severe Acute Respiratory Syndrome) হয়ে থাকে। শুধু তাই নয়, এই ভাইরাসের সংক্রমনের
  কারণে এমনকি রোগীর মৃত্যু পর্যন্ত হতে পারে।
  </p>

  
    <h5>
      করোনা ভাইরাসের গঠনঃ:
    </h5>
  
 
  <p>
    বহুল আলোচিত নভেল করোনাভাইরাসটি দেখতে সাধারণত গোলাকার যাতে বিভিন্ন প্রকার প্রোটিন ও এর অন্যান্য অঙ্গাণু প্রোথিত থাকে।
    এসকল অঙ্গাণুসমূহের মধ্যে রাইবোনিউক্লিক এসিড, স্পাইক গ্লাইকোপ্রোটিন, এম-প্রোটিন, এন-প্রোটিনসহ আরও কয়েক ধরণের প্রোটিন
    বিশেষভাবে উল্লেখযোগ্য। এগুলো দ্বারা একটি ভাইরাস কোনো প্রাণীর দেহে আক্রমণ, খাদ্য ও পুষ্টি গ্রহণ এবং বংশবিস্তার ঘটিয়ে থাকে।
  </p>
 
   
    <h5>কতটা ভয়ংকর এই ভাইরাস?</h5>

  <p>
    এই ভাইরাস মানুষের ফুসফুসে সংক্রামণ ঘটায় এবং শ্বাসতন্ত্রের মাধ্যমেই এটি একজনের দেহ থেকে আরেকজনের দেহে ছড়ায়। সাধারণ ফ্লু
    বা ঠান্ডা লাগার মতো করেই এ ভাইরাস ছড়ায় হাঁচি-কাশির মাধ্যমে। তবে এর পরিণামে অরগ্যান ফেইলিওর বা দেহের বিভিন্ন প্রত্যঙ্গ বিকল
    হয়ে যাওয়া, নিউমোনিয়া এবং মৃত্যু ঘটারও আশঙ্কা রয়েছে। এখন পর্যন্ত আক্রান্তদের দুই শতাংশ মারা গেছেন, হয়তো আরও মৃত্যু হতে পারে।
    তাছাড়া এমন মৃত্যুও হয়ে থাকতে পারে যা চিহ্নিত হয়নি। তাই এ ভাইরাস ঠিক কতটা ভয়ংকর, তা এখনও স্পষ্ট নয়।

    এক দশক আগে সার্স (পুরো নাম সিভিয়ার অ্যাকিউট রেসপিরেটরি সিনড্রোম) নামে যে ভাইরাসের সংক্রমণে পৃথিবীতে ৮০০ লোকের মৃত্যু
    হয়েছিল সেটিও ছিল এক ধরনের করোনা ভাইরাস। এতে আক্রান্ত হয়েছিল ৮ হাজারের বেশি মানুষ। আরও একটি ভাইরাসজনিত রোগ ছিল
    মিডল ইস্ট রেসপিরেটরি সিনড্রোম বা মার্স। ২০১২ সালে এতে মৃত্যু হয় ৮৫৮ জনের।

    সবচেয়ে ভয়ংকর ও আশংকার কথা হচ্ছে, বিজ্ঞানীরা বলছেন, ভাইরাসটি হয়তো মানুষের দেহকোষের ভেতরে ইতোমধ্যে মিউটেট করছে,
    অর্থাৎ গঠন পরিবর্তন করে নতুন রূপ নিচ্ছে এবং সংখ্যাবৃদ্ধি করছে। ফলে এটি আরও বেশি বিপজ্জনক হয়ে উঠতে পারে।

    হংকং ইউনিভার্সিটির পাবলিক হেলথ স্কুলের ভাইরোলজিস্ট লিও পুন বলেন, ‘ভাইরাসটি নিউমোনিয়ার মতো অসুস্থতা তৈরি করে। কিন্তু কোনো
    অ্যান্টিবায়োটিকে সাড়া দেয় না। তবে করোনা ভাইরাস কতোটা মারাত্মক হয়ে উঠবে তা এখনো পরিষ্কার নয়।’

    ইতিমধ্যে বিশেষজ্ঞরা নিশ্চিত করেছেন, এ ভাইরাস একজন মানুষের দেহ থেকে আরেকজন মানুষের দেহে ছড়াতে পারে। তবে, কিছু সাধারণ
    সতর্কতা অবলম্বন করে  এই ভাইরাসটির সংক্রমণ ও বিস্তারের ঝুঁকি কমিয়ে আনা যায়।
  </p>
    <h5>
      বিশ্বজুড়ে যেভাবে ছড়িয়েছে এই ভাইরাস?
    </h5>
  <p>
    মধ্য চীনের উহান শহর থেকে এই রোগের সূচনা। ৩১ ডিসেম্বর এই শহরে নিউমোনিয়ার মতো একটি রোগ ছড়াতে দেখে প্রথম চীনের কর্তৃপক্ষ
    বিশ্ব স্বাস্থ্য সংস্থাকে সতর্ক করে। এরপর ১১ জানুয়ারি প্রথম একজনের মৃত্যু হয়।

    তবে ঠিক কীভাবে এর সংক্রমণ শুরু হয়েছিল, তা এখনও নিশ্চিত করে বলতে পারেরনি বিশেষজ্ঞরা। তারা বলছেন, সম্ভবত কোনও প্রাণী এর
    উৎস ছিল। প্রাণী থেকেই প্রথমে ভাইরাসটি কোনও মানুষের দেহে ঢুকেছে এবং তারপর মানুষ থেকে মানুষে ছড়িয়েছে। এর আগে সার্স ভাইরাসের
    ক্ষেত্রে প্রথমে বাদুড় এবং পরে গন্ধগোকুল থেকে মানুষের দেহে ঢোকার নজির রয়েছে। আর মার্স ভাইরাস ছড়িয়েছিল উট থেকে।

    করোনা ভাইরাসের ক্ষেত্রে উহান শহরে সামুদ্রিক একটি খাবারের কথা বলা হচ্ছে। শহরটির একটি বাজারে গিয়েছিল এমন ব্যক্তিদের মধ্যে এই
    রোগের সংক্রমণ ঘটেছে বলে প্রমাণ পাওয়া গেছে। ওই বাজারটিতে অবৈধভাবে বন্যপ্রাণী বেচাকেনা হতো

    কিছু সামুদ্রিক প্রাণী যেমন বেলুগা জাতীয় তিমি করোনা ভাইরাস বহন করতে পারে। তবে উহানের ওই বাজারে মুরগি, বাদুড়, খরগোশ এবং
    সাপ বিক্রি হতো।
  </p>
  <h5>
      এক নজরে করোনা ভাইরাসের প্রাদূর্ভাব ও বিস্তার সম্পর্কিত কিছু তথ্য –
    </h5>
  <p>
    <ul>
      <li>
        ৩১ ডিসেম্বর ২০১৯ – চীন প্রথম কিছু ভিন্ন ধরনের নিউমোনিয়া রোগ সম্পর্কে বিশ্ব স্বাস্থ্য সংস্থাকে অবহিত করে।
      </li>
      <li>
        ইউরোপে প্রথমবারের মতো ফ্রান্স এই ভাইরাসটির উপস্থিতি সনাক্ত করে ২০২০ সালের জানুয়ারী মাসের ৭ তারিখে।
      </li>
      <li>
        একই মাসের ১১ তারিখে চীনে, বিশ্ব ইতিহাসের প্রথম করোনায় আক্রান্ত রোগী মৃত্যুবরণ করে।
      </li>
      <li>
        	জানুয়ারীর ১৩ তারিখে বিশ্ব স্বাস্থ্য সংস্থা একটি রিপোর্ট প্রকাশ করে যাতে দাবী করা হয় চীন থেকে প্রথম থাইল্যান্ডের মাধ্যমে
        এই ভাইরাসটি সমগ্র বিশ্বে ছড়িয়ে পড়ে।
      </li>
      <li>
        ৩০ জানুয়ারী ২০২০ – বিশ্ব স্বাস্থ্য সংস্থা পৃথিবীজুড়ে জরুরী অবস্থা ঘোষণা করে।
      </li>
      <li>
        এর ঠিক ২ দিন পর ২রা ফেব্রুয়ারীতে ফিলিপাইনে আরেকজন রোগী মৃত্যুবরণ করেন। চীনের বাইরে সেটাই ছিল প্রথম মৃত্যুবরণ।
      </li>
      <li>
        ২০২০ সালের ৭ ফেব্রুয়ারী চীনে আরও একজন রোগী ও তার চিকিৎসায় নিয়োজিত একজন ডাক্তার মৃত্যুবরণ করেন।
      </li>
      <li>
        ১১ ফেব্রুয়ারীতে বিশ্ব স্বাস্থ্য সংস্থা করোনাভাইরাসের কারণে সৃষ্ট রোগটির নামকরণ করেন কোভিড-১৯ (COVID-19) ।
      </li>
      <li>
        	আফ্রিকায় এই ভাইরাসের উপস্থিতি প্রথম সনাক্ত হয় ১৪ ফেব্রুয়ারি মিশরে।
      </li>
    </ul>
  </p>
  <h5>
      কোভিড-১৯ রোগের লক্ষণসমূহঃ
    </h5>
 
  <p>
    কোভিড-১৯ বা করোনা ভাইরাস সংক্রমণের প্রধান লক্ষণ হলো, শ্বাস নিতে কষ্ট হওয়া, জ্বর এবং কাশি। বিজ্ঞানীরা বলছেন, ভাইরাসটি শরীরে
    ঢোকার পর সংক্রমণের লক্ষণ দেখা দিতে প্রায় পাঁচ দিন লাগে। প্রথম লক্ষণ হচ্ছে জ্বর। তারপর দেখা দেয় শুকনো কাশি। এক সপ্তাহের মধ্যে
    শ্বাসকষ্ট দেখা দেয় এবং তখনই কোনও কোনও রোগীকে হাসপাতালে ভর্তি হতে হয়।

    এছাড়াও রোগীর দেহে আরও কিছু উপসর্গসমূহ যেমন- ফুসফুসে ব্যাথা, নাক দিয়ে রক্ত পড়া, সর্দি, গলা ব্যাথা করা কিংবা ডায়রিয়া প্রভৃতি
    দেখা দিতে পারে। এসকল উপসর্গগুলো প্রথমে হালকাভাবে দেখা দিলেও ধীরে ধীরে এদের মাত্রা বৃদ্ধি পায়। কিছু কিছু মানুষের দেহে করোনাভাইরাস
    সংক্রমিত হলেও এরা সেখানে সুপ্ত অবস্থায় থাকে কিংবা বেশী ক্ষতি করতে সক্ষম হতে পারে না। যার ফলে, ওই ব্যাক্তির দেহে তেমন কোনো
    উপসর্গই দেখা যায় না। এদের আমরা ২০১৯-এনসিওভি পজেটিভ বলি যদিও আদতে এরা কোভিড-১৯ রোগী নয়। এমনকি রোগী বিন্দুমাত্রও
    খারাপ বোধ করেন না।

    বেশীরভাগ (৮০%) রোগীই কোনোরকম চিকিৎসা ছাড়াই এই রোগ থেকে সুস্থতা লাভ করে। আনুমানিক প্রতি ৬ জনে ১ জন কোভিড-১৯ রোগী
    গুরুতর অসুস্থ হয় যাদের মাঝে শ্বাসকষ্ট দেখা দেয়। বয়োবৃদ্ধ, উচ্চ রক্তচাপ ও হৃদরোগী ও ডায়াবেটিসের রোগীদের ক্ষেত্রে ঝুঁকি অনেক বেশী।
    বর্তমানে যারা জ্বর, সর্দি-কাশি কিংবা শ্বাসকষ্টে ভুগছেন তাদের জরুরী ভিত্তিতে চিকিৎসকের শরণাপন্ন হওয়া উচিৎ।
  </p>

  <h5>
    চিকিৎসা ও প্রতিকারঃ
  </h5>
  
  <p>
    বিশ্ব স্বাস্থ্য সংস্থা ইতোমধ্যে সবাইকে নিয়মিত ভালোভাবে হাত ধোঁয়ার পরামর্শ দিয়েছে। হাঁচি-কাশির সময় নাক-মুখ ঢেকে রাখা এবং ঠান্ডা ও
    ফ্লুতে আক্রান্ত মানুষ থেকে দূরে থাকারও পরামর্শ দিয়েছে তারা। বিশ্বের প্রায় সকল দেশের বহু মানুষ ইতিমধ্যে সার্জিক্যাল মুখোশ
    (Surgical Mask) পরা শুরু করে দিয়েছে।খান থেকে সড়ক পথে কক্সবাজার যেতে হবে। আপাতত প্রতিকার হিসেবে এ ভাইরাস বহনকারীদের
    সংস্পর্শ এড়িয়ে চলতে বলছেন বিজ্ঞানীরা। ডাক্তারদের পরামর্শ, বারবার হাত ধোয়া, হাত দিয়ে নাক-মুখ স্পর্শ না করা ও ঘরের বাইরে গেলে
    মুখোশ পরা।

    হংকং বিশ্ববিদ্যালয়ের ড. গ্যাব্রিয়েল লিউং স্বাস্থ্য সম্পর্কিত এ নির্দেশনায় বলছেন, হাত সবসময় পরিষ্কার-পরিচ্ছন্ন রাখতে হবে, বারবার হাত
    ধুতে হবে। হাত দিয়ে নাক বা মুখ ঘষবেন না, ঘরের বাইরে গেলে মুখোশ পরতে হবে। তিনি বলেন, ‘আপনি যদি অসুস্থ হয়ে থাকেন তাহলে
    মুখোশ পরুন, আর নিজে অসুস্থ না হলেও, অন্যের সংস্পর্শ এড়াতে মুখোশ পরুন।’
  </p>
 
  <h5>
    বিশ্ব স্বাস্থ্য সংস্থা (World Health Organization) ও বিভিন্ন দেশের রোগ নিয়ন্ত্রণ সংস্থার পরামর্শঃ
  </h5>
  
 

  <ul style="list-style: none">
    <li>
    <span style="font-size: large;font-weight: bold"> হাত পরিষ্কার রাখাঃ</span></br>করোনাভাইরাস সংক্রমণের একটি প্রধান মাধ্যম হলো মানুষের হাত। তাই একে প্রতিরোধে নিয়মিত ভালোভাবে
    হাত ধৌত করতে হবে। এক্ষেত্রে, সাবান বা হ্যান্ড স্যানিটাইজার ব্যাবহার করা যেতে পারে। হ্যান্ড স্যানিটাইজার ব্যাবহারের ক্ষেত্রে লক্ষ্য রাখতে
    হবে, এতে অ্যালকোহলের পরিমাণ যেন ৬০% এর বেশী থাকে। ময়লা হাতে চোখ, নাক, মুখ- অঙ্গসমূহ স্পর্শ করা থেকে বিরত থাকতে বলা হয়েছে।
    </li>
    <li>
    <span style="font-size: large;font-weight: bold">মানুষের কাছাকাছি যাওয়া থেকে বিরত থাকাঃ</span></br> সুস্থ ও কোভিড-১৯ রোগী- উভয় ধরণের সকল মানুষকেই একে অপরের কাছাকাছি যাওয়া
    থেকে বিরত থাকার পরামর্শ দেওয়া হয়েছে। হ্যান্ডশেক, কোলাকুলি প্রভৃতি হতে বিরত থাকার কথাও বলা হয়েছে।
    </li>
    <li>
    <span style="font-size: large;font-weight: bold">যথাসম্ভব ঘরে থাকাঃ</span> </br>সবাইকে যথাসম্ভব ঘরে থাকাতে বলা হয়েছে এবং জরুরী প্রয়োজন ছাড়া বাইরে বের হতে নিষেধ করা হয়েছে। বিদেশ
    ফেরত সকল প্রবাসীকে গৃহ পর্যবেক্ষন (Home Quarantine) এ থাকার পরামর্শ দেওয়া হয়েছে। আক্রান্ত রোগীদের বাড়িতে পরিবারের অন্যান্য
    সদস্যাদের কাছ থেকে দূরে থাকতে হবে।
    </li>
    <li>
      
    <span style="font-size: large;font-weight: bold">রুমাল ও টিস্যুর ব্যাবহারঃ</span></br> জনসম্মুখে হাঁচি-কাশি দেওয়ার সময় সকলকে মুখের সামনে হাত, টিস্যু বা রুমাল ধরতে বলা হয়েছে। আক্রান্ত
    রোগীদের হাঁচি দেওয়ার পর হাত বা রুমাল ভালভাবে ধৌত করতে হবে। এছাড়াও তাদের পোশাক-পরচ্ছদ, বিছানা, কাথা-বালিশ প্রভৃতি নিয়মিত পরিষ্কার করার কথা বলা হয়েছে।
    </li>
    <li>
    <span style="font-size: large;font-weight: bold">মুখোশ (Mask) ব্যাবহার করাঃ</span></br> করোনার সংক্রমণ ও বিস্তার ঠেকাতে সকলকে মুখোশ পরার পরামর্শ দিয়েছে বিশ্ব স্বাস্থ্য সংস্থা।
    </li>
    <li>
    <span style="font-size: large;font-weight: bold">চিকিৎসক ও স্বাস্থ্যকর্মীদের নিরাপত্তা প্রদানঃ</span></br> করোনায় আক্রান্ত রোগীদের চিকিৎসায় নিয়োজিত ডাক্তার ও স্বাস্থ্যকর্মীদের যথাযথ প্রশিক্ষণ ও
    নিরাপত্তা বিধানের কথা বলা হয়েছে। সেবা দিতে গিয়ে তারাও যেন আক্রান্ত না হয় সেজন্য পর্যাপ্ত পোশাক ও যন্ত্রপাতি নিশ্চিত করতে হবে।
    </li>
    <li>
    <span style="font-size: large;font-weight: bold">ভ্রমণ ও চলাচল নিয়ন্ত্রণ করাঃ</span></br> বিশ্বের এই জরুরী পরিস্থিতিতে ভ্রমণ ও চলাচলের উপর নিষেধাজ্ঞা জারী করা হয়েছে। জরুরী প্রয়োজন
    ছাড়া এক দেশ থেকে অন্য দেশে গমণ হতে বিরত থাকতে বলা হয়েছে।
    </li>
  </ul>
</div>