<div class="container top-space">
    <h1>বলধা গার্ডেন</h1>
    <p>
        ‘বাসাবাড়ি কোথাও নেই </br> তাই তাঁবু পাতলেম নদীর ধারে
        সঙ্গী ছিল না কেউ </br> কেবল ছিল সেই ক্যামেলিয়া।’

    </p>
    <p>
        কবিতার লাইনগুলো রবীন্দ্রনাথ ঠাকুরের ‘সঞ্চয়িতা’ কাব্যগ্রন্থ থেকে নেয়া। কবি এটি লিখেছিলেন গাছপাগল জমিদার নরেন্দ্র
        নারায়ণ রায় চৌধুরীর তৈরি বলধা গার্ডেনে স্থাপিত জয় হাউসে বসে। তৎকালীন সময়ে এমন সব বিচিত্র বৃক্ষরাজির সমাহার
        করেছিলেন নরেন্দ্র নারায়ণ রায় চৌধুরী। এই স্থানটি একসময়ে ঢাকার অভিজাত এলাকা হিসেবে পরিচিত ছিল।

    </p>
    <img src="/assets/boldhagarden/home.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">

    <div class="Top_image_space">
        <p>
            ঢাকার ঐতিহাসিক স্থানগুলোর মধ্যে “বলধা গার্ডেন” অন্যাতম। এদেশের ইতিহাস ও ঐতিহ্যের ধারক-বাহক হিসেবে কালের
            সাক্ষি হয়ে আছে এই উদ্ভিদ উদ্যানটি। বাংলাদেশে কোনো বিদেশি পর্যটক এলে তাদের পছন্দের তালিকায় বলধা গার্ডেনের
            নামটি থাকে উপরের দিকেই। স্থানীয় জনসাধারণ প্রায় নিয়মিতভাবেই সেখানে যায় ঢাকার বায়ুদূষণ থেকে কিছুটা সময়ের জন্য
            হলেও একটু নির্মল হাওয়ার স্বাদ নিতে। এছাড়া দেশের ভ্রমণ ও সৌন্দর্য পিপাসু মানুষও সপরিবারে বলধা গার্ডেনে বেড়াতে
            যায়।
        </p>
    </div>
    <h5>
        আয়তন ও অবস্থানঃ

    </h5>
    <p>
        বলধা গার্ডেন মূলতঃ একটি বোটানিক্যাল গার্ডেন। বাংলায় যাকে বলা হয় ‘উদ্যান’ বা ‘বাগান’। ঢাকার পল্টন এলাকায় অবস্থিত
        রাজধানী সুপার মার্কেট পেরিয়ে হাটখোলার রাস্তা ধরে পাঁচ মিনিট হাঁটলেই নবাব স্ট্রিট, যা পুরান ঢাকার ওয়ারী এলাকা
        হিসেবে অধিক পরিচিত। প্রাচীন ঢাকার অভিজাত এলাকা ছিল ‘পুরান ঢাকা’ আর, পুরান ঢাকার মধ্যে অপেক্ষাকৃত অধিক অভিজাত
        এলাকা ছিল ‘ওয়ারী’। ৩.৩৮ একর জায়গার উপর অবস্থিত বলধা গার্ডেনটি এই ওয়ারীতেই অবস্থিত।

    </p>
    <h5>
        বলধা গার্ডেনের জন্ম ও ইতিহাসঃ
    </h5>
    <p>

        ঢাকায় যে কটি স্থাপনা মানুষের মনে দাগ কেটেছে তার মধ্যে অন্যতম একটি হচ্ছে বলধা গার্ডেন। ঘিঞ্জি এই ঢাকার ফুসফুস বলে
        খ্যাত এই উদ্যানটি। কারণ পুরোনো ঢাকায় এত বেশি গাছের সমাহার আর কোথাও নেই। এই উদ্যানে প্রচুর দূর্লভ প্রজাতির উদ্ভিদ
        রয়েছে।
    </p>

    <p>
        তদানীন্তন ঢাকা জেলা, বর্তমান গাজীপুর জেলায় অবস্থিত বলধার জমিদার নরেন্দ্রনারায়ণ রায় চৌধুরী ১৯০৯ খ্রিস্টাব্দে
        বলধা গার্ডেনের সূচনা করেন। শেষ হয়েছিল ঠিক তার ২৭ বছর পর ১৯৩৬ সালে। জমিদার নরেন্দ্র নারায়ণ রায় চৌধুরী না ছিলেন
        কোনো স্থপতি কিংবা ছিলেন না কোনো উদ্ভিদবিজ্ঞানী। অথচ তিনিই গড়ে তুলেছিলেন তৎকালীন সময়ে উপমহাদেশের সেরা উদ্ভিদ
        বাগান। তিনি ছিলেন গাজীপুরের বলধা গ্রামের শেষ জমিদার। জন্মেছিলেন ১৮৮০ সালে গাছার জমিদার মহিম চন্দ্রের ঘরে। তার
        বয়স যখন ১৪ তখন নিঃসন্তান বলধার জমিদার তাকে দত্তক নেন। বলধার বাইরে দার্জিলিং, কলকাতা, লক্ষ্ণৌ , পুরী ও ঢাকার
        ওয়ারীতে বাড়ি তৈরি করেন তিনি। ওয়ারীর বাড়িটির নাম ছিল ‘কালচার হাউস’। পরে এই কালচার হাউসই ধীরে ধীরে বলধা হাউস নামে
        পরিচিত লাভ করে।


    </p>
    <p>
        কালচার হাউসের পাশে জমিদার নরেন্দ্রনারায়ণ দুটি বাগান তৈরী করেছিলেন। প্রথম উদ্যানটির নাম রাখেন ‘সাইকী’, যার অর্থ
        ‘আত্মা’। পরবর্তিতে তৈরি করা হয় দ্বিতীয় উদ্যান ‘সিবলী’, যার অর্থ ‘প্রকৃতির দেবী’। নরেন্দ্রনারায়ণ রায় চৌধুরীর
        মৃত্যুর পর কোনো এক সময়ে এ দু’টি উদ্যানকে সম্মিলিতভাবে বলধা গার্ডেন নামে আখ্যায়িত করা হয়। জমিদার
        নরেন্দ্রনারায়ণ এখানে একটি পারিবারিক জাদুঘরও প্রতিষ্ঠা করেছিলেন।

        ১৯০৯ সালে ৩৬ শতাংশ অর্থাৎ ৩.৩৮ একর জমির ওপর শুরু করা হয় বলধা গার্ডেনের সাইকি অংশের কাজ। এটি শেষ হয় ১৯৩৬ সালে।
        ১৯৩৮ সালে শুরু হয় বাগানের উত্তর অংশ সিবিলির কাজ। এই অংশের কাজ শেষ হয় ১৯৪৩ সালে। দেশ-বিদেশের নানা প্রজাতির দুর্লভ
        উদ্ভিদ দিয়ে ধীরে ধীরে পূর্ণতা পায় ‘বলধা গার্ডেনের সাইকি ও সিবিলি অংশ।


    </p>

    <p>ইতিহাস থেকে আরও জানা যায়, জমিদার রায় চৌধুরী সাহেব পৃথিবীর বিভিন্ন দেশ থেকে নানারকম ফুলগাছ ও অনান্য উদ্ভিদ এনে
        রোপন করেছেন নিজের তৈরী এ গার্ডেনটিতে। বলধা গার্ডেন প্রকৃতপক্ষে ফুল ও উদ্ভিদের একটি মিউজিয়াম। তবে সত্যিকারের
        একটি মিউজিয়ামও ছিল বলধা গার্ডেনে। তাতে কয়েকটি ধাতব মূর্তি ছিল। বলধা গার্ডেনে যেমন দেশ বিদেশের বিভিন্ন উদ্ভিদ
        রয়েছে, ঠিক তেমনি দেশ বিদেশের খ্যাতিমান লোকেরা বলধা গার্ডেন দেখতে আসতেন। এখনো বলধা গার্ডেন নিয়ে ঢাকাবাসীর
        আগ্রহের কমতি নেই। বলধা গার্ডেন পরিদর্শনকালে নোবেলজয়ী বিশ্বকবি রবীন্দ্রনাথ ঠাকুর এখানকার বহু বিদেশী ফুলের বাংলা
        নামকরণ করেছিলেন।

    </p>

    <p>

        সবুজের সমারহের মাঝে মাঝে স্থাপিত শৈল্পিক স্থাপনা ও ভাষ্কর্যগুলি উদ্দ্যনটির সৌন্দর্য বাড়িয়ে দিয়েছে বহুগুণে


        এক সময় এখানেই মেলা বসতো ঢাকার অভিজাতদের। হতো নাটক আর গানের আসর। নরেন্দ্র নারায়ণ চৌধুরী নিজেও ছিলেন একজন
        নাট্যকার। তার স্মৃতিবহ শতবর্ষী এই গার্ডেন ঢাকাবাসীর গৌরবের অংশ হয়ে আজও টিকে আছে।

        ১৯৪৩ খ্রিস্টাব্দের ১৩ই আগষ্ট নরেন্দ্র নারায়ণ চৌধুরী মৃত্যুবরণ করেন। তার মৃত্যুর পর থেকে গার্ডেনটি তার গৌরব
        হারাতে থাকে। ব্রিটিশ ভারতীয় শাসনামলে, কলকাতা হাইকোর্টের নিয়ন্ত্রণ ট্রাস্টের মাধ্যমে এর তদারকি ও পরিচালনা করা
        হয়। ১৯৫১ সালে পাকিস্তান সরকারের আমলে কোর্ট অব ওয়ার্ডস্ বাগানের ব্যবস্থাপনায় নিয়োজিত ছিল। কিন্তু তাদের দুর্বল
        ব্যবস্থাপনার কারণে বাগানের অবস্থার অবনতি হওয়ায় পাকিস্তান সরকার বাগানের ঐতিহ্য ধরে রাখার জন্য ১৯৬২ খ্রিস্টাব্দে
        বলধা গার্ডেনের ব্যবস্থাপনার দায়িত্ব দেয় পূর্ব পাকিস্তান সরকারের বন বিভাগকে। বর্তমানে এটি বাংলাদেশ জাতীয়
        উদ্ভিদ উদ্যানের এখতিয়ারভুক্ত বাগান।

    </p>
    <p>
        পুর্বেই উল্লেখ করা হয়েছে, সম্পূর্ণ বলধা গার্ডেনটি সাইকী ও সিবলী নামক দ’টি অংশে বিভক্ত। অংশ দু’টিতে সব মিলিয়ে ৮৭
        পরিবারের অন্তর্ভুক্ত ৭২০ প্রজাতির প্রায় পঁচিশ হাজার উদ্ভিদ রয়েছে। এই স্বল্প পরিসরে এত উদ্ভিদের নাম লিখে শেষ করা
        সম্ভব নয়। জ্যাকুইনিয়া, শারদমল্লিকা, কণ্ঠকলতা, গুস্তাভা, শ্বেতচন্দন, সাইকাস, স্বর্ণ অশোক, কুর্চি, ভুজপত্র, লতাবট,
        লতাচালতা, ক্যানেঙ্গা, নবমল্লিকা, ওলিওপ্রেগরেন্স, র‌্যাভেনিয়া, আফ্রিকান বকুল, নাগলিঙ্গম, উদয়পদ্ম, রাজ অশোক,
        অ্যারোপয়জন, আফ্রিকান বকুল, লতা জবা, স্কারলেট, কপসিয়া, হলুদ, দেবকাঞ্চন, কনকসুধা, কনকচাঁপা, জিঙ্গো বাইলোবা,
        গড়শিঙ্গা, মাধবী, পান্থপাদপ, ঘৃতকুমারি, তুড়কচন্ডাল, শতায়ু উদ্ভিদ, রুদ্র পলাশ, আমাজন লিলি, পিয়াল, পাখিফুল, কৃষ্ণবট
        আরও কতো কি। তাছাড়া নানা রকমের লতা জাতীয়, জলজ উদ্ভিদ ও ঔষধি বৃক্ষ তো রয়েছেই।

    </p>
    <h5>
        সাইকী অংশ

    </h5>
    <p>
        এই অংশে প্রবেশাধিকার সংরক্ষিত। ভেতরে ঢুকলে চোখে পড়বে আমাজন লিলি, আসলেই মুগ্ধ হওয়ার মতো। বিশাল থালার মতো পাতা
        দেখে দু’চোখ ভরে যাবে। তার পাশে নাইট কুইন। তার সামনে তত্ত্বাবধায়কের কার্যালয়। সাইকী অংশের প্রধান আকর্ষণ হলো লাল,
        নীল, সাদা, হলুদ জাতের শাপলায় ভরা অনেকগুলো শাপলা হাউজ, বিরল প্রজাতির দেশী-বিদেশী ক্যাকটাস, অর্কিড, এনযুরিয়াম,
        বিচিত্র বকুল ও কৃত্রিম সুরঙ্গসহ একটি ছায়াতরু ঘর।

    </p>
    <h5>
        সিবিলী অংশ

    </h5>
    <p>
        সিবলী নামের অংশে প্রথমে বিশাল বড় গেট। প্রবেশ করতে দেখা মেলে বাগান প্রতিষ্ঠার ইতিহাস। এরপর বিভিন্ন প্রজাতির গাছ
        যেমন, আফ্রিকান টিউলিপ, পারুল, সুগার পাম্প প্রভৃতি। একটু ভেতরে গেলে বামপাশে পাড়বাঁধাই করা পুকুর এবং ডানপাশে রয়েছে
        সূর্যঘড়ি, যার মাধ্যমে সূর্যের সাহায্যে সময় নির্ধারণ করা যায়। সূর্যঘড়ির ঠিক সামনেই অবস্থিত নরেন্দ্রনারায়ণ চৌধুরীর
        সমাধী। পুকুরের অপর পাড়ে গেলে দেখা মিলবে লাইলী-মজনু, ক্যামেলিয়া, কনকসুধা, মোজকন্দ চাপা, রানীর মুকুটসহ নানা রকম
        দুর্লভ ফুলগাছ। এর পাশেই জয় হাউজ। বিশ্বকবি রবীন্দ্রনাথ ঠাকুর এ জয় হাউজে বসে এখানকার ক্যামেলিয়া ফুলের সৌন্দর্যে
        মুগ্ধ হয়ে তার বিখ্যাত ক্যামেলিয়া কবিতাটি লিখেছিলেন। আরও রয়েছে ফার্ন হাউজ। এখানে প্রায় শতবর্ষের তালপাম্প গাছও
        রয়েছে এখানে।

    </p>

    <p>
        দুর্লভ বৃক্ষের মধ্যে ব্রনস ফেলসিয়াও রয়েছে। এটা গার্ডেনের গেট দিয়ে ঢুকে একটু সামনে গিয়ে ডান দিকে যেতে হবে। এখানে
        কিছু সাধারণ বৃক্ষও রয়েছে। যেমন – কামরাঙা, বিচিত্র রাবার, টগর, হরিতকি, বহেরা, ডেউয়া, বুদ্ধ নারিকেল, বোতলপাম,
        মিষ্টি তেতুল, ভ্রদ্ররা, রাজ অশোক, জামরুল, সফেদা, খেজুর, সুপারী।

        বিশ্বের প্রায় ৫০টি দেশ হতে সংগৃহীত দূষ্প্রাপ্য ও মহামূল্যবান উদ্ভিদ রয়েছে এখানে। একসময় এখানে শুধু গোলাপই ছিল ২০০
        জাতের। ক্যাকটাসের একটি আলাদা সংগ্রহ ছিল। এছাড়া আছে কৃষ্ণবট, ক্যামেলিয়া, ভূর্জপত্র, আমাজান, লিলি প্রভৃতি।

    </p>
    <h5>
        যেসকল উদ্দেশ্যে গার্ডেনটি ভ্রমণ করা যেতে পারেঃ
    </h5>
    অনেকে সময় কাটানোর জন্য পরিবারের সদস্যদের সাথে এখানে আসে। আবার বিভিন্ন উদ্ভিদের উপর এসাইনমেন্ট করার জন্য কলেজের অনেক
    ছাত্র-ছাত্রী আসে । তবে অনেক প্রকৃতি প্রেমিক আসে প্রকৃতির সৌন্দর্য উপভোগ করার জন্য এবং ছেলে মেয়েদের বিভিন্ন গাছ
    সম্বন্ধে পরিচয় করিয়ে দেবার জন্য। এই গার্ডেনের আরেকটি বিশেষ দিক হল বিশ্ববিখ্যাত ও নোবেল বিজয়ী সাহিত্যিক রবীন্দ্রনাথ
    ঠাকুরের স্মৃতি বিজরিত স্থান এটি। বলধা গার্ডেনের আগের জৌলুস আর নেই। অনেকটাই ম্লান হয়ে গেছে। বাগান সংরক্ষণের জন্য
    যতটুকু যত্নের প্রয়োজন তাও ঠিকমত নেওয়া হয় না। তারপরও বর্তমান ঢাকায় খানিকটা স্বস্তি, খানিকটা আনন্দের জন্য এখনও বলধা
    গার্ডেনই ভরসা।
    </p>
    <h5>
        নিরাপত্তা ও অন্যান্য সুযোগ-সুবিধা সমূহঃ
    </h5>
    <p>

        গার্ডেনের নিরাপত্তার বিষয়টি কর্তৃপক্ষ দেখে। অনেক সময় পুলিশ এনেও নিরাপত্তা রক্ষা করা হয়। এছাড়া বাগানের নিরাপত্তা
        ও অন্যান্য কাজের জন্য প্রায় ১০ – ১৫ জন লোক নিয়োজিত রয়েছে। বন বিভাগের হিসাব অনুযায়ী ১৩ জন লোক এখানে রয়েছে।
        গার্ডেনের ভিতর কোন ফুড কর্ণার ও রেস্তোরাঁ নেই। গার্ডেনের ভিতর হকার প্রবেশ নিষেধ। দর্শনার্থীদের জন্য একটি টয়লেটের
        ব্যবস্থা আছে গার্ডেনের বামদিকে। বিব্রতকর পরিস্থিতির সম্মুখীন হবার সম্ভাবনা কিছুটা রয়েছে। তবে সাম্প্রতিক সময়ে,
        অল্প বয়সী ছেলে মেয়েদের প্রবেশ ও বিভিন্ন ধরনের অসামাজিক কার্যকলাপ বেড়ে যাওয়ায় এসব নিয়ন্ত্রণের উদ্দেশ্যে কর্তৃপক্ষ
        সেখানে পর্যাপ্ত পরিমাণে টহলের ব্যবস্থা করেছে। গার্ডেনের ভিতর কোন ফুড কর্ণার ও রেস্তোরাঁ নেই। তাই ভ্রমণকালে
        প্রয়োজন হলে বাইরে থেকে পানি ও অন্যান্য হালকা খাবার সাথে করে নিয়ে যেতে পারেন।

    </p>
    <h5>
        সময়সূচিঃ

    </h5>
    <p>
        ডিসেম্বর থেকে ফেব্রুয়ারি সকাল ৯টা থেকে বিকেল ৪টা এবং
        মার্চ থেকে নভেম্বর প্রতিদিন সকাল ৯টা থেকে বিকেল ৫টা পর্যন্ত খোলা থাকে।
        ১২ টা থেকে ২ পর্যন্ত মধ্যাহ্ন বিরতীর জন্য বন্ধ থাকে।

    </p>
    <h5>
        প্রবেশ মূল্যঃ

    </h5>
    <p>
        প্রাপ্তবয়স্কদের জন্য ১০ টাকা শুভেচ্ছামূল্য রাখা হয়। তবে শিক্ষার্থী এবং গবেষণায় কাজের উদ্দেশ্যে প্রবেশে ৫ টাকা
        দিলেই হয়। অপ্রাপ্তবয়স্কদের জন্য ৪ টাকা।


    </p>
  

    <h5>
    যাওয়ার উপায়ঃ
    </h5>
    <p>

        রাজধানীর যেকোন জায়গা থেকে গুলিস্থানে নেমে রিকাশায় করে যাওয়া যায়। আবার রাজধানী সুপার মার্কেটের পাশ দিয়ে কিংবা
        টিকাটুলী হয়ে হেটেও আসতে পারেন। তবে যাত্রবাড়ী থেকে ট্রান্সসিলভা, ৮ নাম্বার, বোরাক ইত্যাদি বাসে করে আসলে বলধা
        গার্ডেনের সামনে নামিয়ে দেয়।

    </p>

</div>