<div class="container top-space">
  <h1>কক্সবাজার সমুদ্রসৈকত</h1>
  <p>
    কক্সবাজার বাংলাদেশের সর্বদক্ষিণে অবস্থিত বঙ্গোপসাগরের তীরবর্তী একটি জেলা। স্বভাবতই এখানে একটি জেলাসদর দপ্তর ও শহর অবস্থিত।
    এছাড়াও এখানে, মৎস্য আহরণ কেন্দ্র ও পর্যটন কেন্দ্র রয়েছে। বিশ্বব্যাপী কক্সবাজার পরিচিত এর দীর্ঘতম সমুদ্রসৈকতের জন্য। বঙ্গোপসাগরের
    তীরবর্তী বালুময় এ সৈকতের দৈর্ঘ্য প্রায় ১৫৫ কিলোমিটার যাকে পৃথিবীর দীর্ঘতম প্রাকৃতিক সমুদ্রসৈকত হিসেবে বিবেচনা করা হয়।
    উক্ত স্থান “পানোয়া” নামেও পরিচিত যার অর্থ “হলুদ ফুল”। পূর্বে একে “পালংকী” নামেও ডাকা হতো।
  </p>
  
  <img src="/assets/coxbazar/Somodro_Saikot.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
  
 
  <p class ="Top_image_space">
    ব্রিটিশ ইষ্ট ইন্ডিয়া কোম্পানী (British East India Company) এর জনৈক অফিসার ক্যাপ্টেন হিরাম কক্স (Hiram Cox) এর নামানুসারে আধুনিক
    কক্সবাজারের নামকরণ করা হয়। বাংলার তৎকালীন গভর্ণর ওয়ারেন হেষ্টিংস (Warren Hastings) এর শাসনামলে জনাব কক্স পালংকী এলাকার সুপারিটেনডেন্ট
    হিসেবে দায়িত্বপ্রাপ্ত হন। তার দায়িত্বকালীন সময়ে সেখানে আরাকান শরণার্থীদের পুনর্বাসনের কাজ শুরু হয় এবং ১৭৯৯ সালে তার মৃত্যুর পূর্বেই
    তা সম্পন্ন হয়। তার স্মৃতির প্রতি শ্রদ্ধা জানিয়ে তৎকালীন বৃটিশ উপনিবেশ সরকার উক্ত স্থানের নাম রাখেন কক্সবাজার। বৃটিশ উপনিবেশ বিলুপ্ত হয়ে গেলেও সেই নাম আজও রয়ে গেছে।
  </p>
  
  <p>
    বাংলাদেশের দর্শনীয় স্থানগুলোর মধ্যে কক্সবাজারের স্থান সবার উপরে। বিভিন্ন প্রতিষ্ঠানের বার্ষিক সম্মেলন, বনভোজন, ছুটির দিনগুলোতে অবকাশযাপন
    কিংবা কর্মজীবনের একঘেয়েমি কাটাতে এদেশের পর্যটকদের লিষ্টে কক্সবাজারের থাকে সবার উপরে। বিভিন্ন স্বাস্থ্যগত সমস্যায় চিকিৎসকগণ রোগীদেরকে কক্সবাজার ভ্রমণের পরামর্শ দিয়ে থাকেন।
  </p>
  <h4>দর্শনীয় স্থানসমূহঃ</h4>
  <p>
    বিশ্বখ্যাত সমুদ্রসৈকত ছাড়াও কক্সবাজারে আরও বেশকিছু দর্শনীয় স্থান রয়েছে। ভ্রমণপিপাসুরা সময় ও সুযোগ পেলে নিম্নবর্ণিত স্থানসমূহ ঘুরে দেখতে পারেন-
  </p>
  <h5>
    ১) বঙ্গবন্ধু শেখ মুজিব সাফারি পার্ক:
  </h5>
  <p>
    দুলাহাজারায় বঙ্গবন্ধু সাফারি পার্ক (৯০০ হেক্টর) ২০০১ সালে প্রতিষ্ঠিত হয়েছে যা চকোরিয়া উপজেলাধীন চট্টগ্রাম-কক্সবাজারের উঁচু পথ
    এবং কক্সবাজার থেকে ৫২ কিলোমিটার দূরে অবস্থিত। পার্কটি 340 প্রজাতির গাছ এবং 286 প্রজাতির পাখির আবাসস্থল। সাফারি পার্কটি মূলত
    চারটি লক্ষ্য নিয়ে পরিচালিত হয়েছে, যেমন: বিরল ও বিপন্ন বন্যজীবনের সংরক্ষণ প্রজনন, গবেষণা, শিক্ষা এবং বিনোদন পছন্দমতো পরিবেশ-পর্যটন।
  </p>

    <h5>
      ২) ইনানি সমূদ্রসৈকত (Inani Sea Beach):
     </h5>
  <p>
    ইনানি সমূদ্রসৈকতটি কক্সবাজার থেকে প্রায় ৩২ কিলোমিটার দূরে অবস্থিত। উক্ত যাত্রাপথটি খুবই দৃষ্টিনন্দন। সেখানে পৌছানো
    ও পথের দৃশ্য উপভোগ করার জন্য ট্যাক্সি কিংবা অন্যকোনো ব্যাক্তিগত যান ব্যাবহার করা যেতে পারে।শহরের কোলাহল থেকে যারা একটু
    নিভৃতে যেতে চান তাদের জন্য এটি একটি আদর্শ স্থান। স্বচ্ছ পানিতে ছড়িয়ে থাকা প্রবাল ও এর পারিপার্শ্বিক দৃশ্য আপনার মনে আনন্দ
    যোগাবে। সমূদ্রের ঢেউ ও বাতাস আপনার মনকে করবে প্রশান্ত।
  </p>
  
  <h5>৩) হিমছড়ি (Himchari):</h5>
  
 
  <p>
    হিমছড়ির প্রধান আকর্ষণ হলো এর ঝর্ণা এবং পাহাড়ের উপর থেকে সমুদ্রের দৃশ্য উপভোগ। এটি কক্সবাজারের সচেয়ে আকর্ষণীয় স্থান কলাতলী
    সৈকত থেকে ৬ কিলোমিটার ও কক্সবাজার শহর হতে প্রায় ১২ কিলোমিটার দক্ষিণে অবস্থিত এবং এর আয়তন প্রায় ১৭২৯ হেক্টর।
    ইনানি বিচের মতো হিমছড়ির যাত্রাপথও বেশ উপভোগ্য। সেখানে রাস্তার একপাশে ঘনসবুজ পাহাড় ও অন্যপাশে নীল সমুদ্র।
    এছাড়া হিমছড়িতে একটি জাতীয় উদ্যানও রয়েছে। তাই, সার্বিক বিচারে হিমছড়ি।
  </p>
  
  <h5>
    ৪) লাবনী সৈকত (Laboni Beach):
  </h5>

<P>
  কক্সবাজারের প্রায় ১৫৫ কিলোমিটার দীর্ঘ সমুদ্রসৈকতের মধ্যে লাবনী এলাকাকে প্রধান সৈকত হিসেবে বিবেচনা করা হয়। এর কারণ হলো,
  এর কেন্দ্রীয় অবস্থান এবং শহর হতে তুলনামূলক নিকটবর্তী। যার ফলে এটি সবসময় ভ্রমণপিপাসুদের দ্বারা পরিপূর্ণ থাকে। পর্যটকদের জন্য
  এখানে সূর্যস্নান, সার্ফিং, সাঁতার কাটা , হাটা, জগিং সাইকেল চালনা প্রভৃতির সুযোগ আছে। সাঁতার ও চিত্তবিনোদনের জন্য এটি একটি উৎকৃষ্ট
  স্থান। লাবনী পয়েন্টের আশেপাশে বেশকিছু স্থায়ী ও অস্থায়ী দোকান রয়েছে। ভ্রমণকারীগণ সেখান থেকে সাঁতারে ব্যাবহৃত সামগ্রী ও অন্যান্য জিনিসপত্র
  যেমন- শামুক, ঝিনুক, মুক্তা, গহনা, বার্মিজ উপহার সামগ্রী, মাছ, শুটকী ও নানান ধরনের সামুদ্রিক খাবার  কিনতে পারেন।
</p>
    <h5>
      ৫) অজ্ঞমেডা কেং বৌদ্ধমন্দির (Aggmeda khyang Monastry):
    </h5>
  
  
 <p>
   কক্সবাজার শহরের প্রবেশমুখেই অজ্ঞমেডা কেং এর অবস্থান। ইতিহাস ও সংস্কৃতিক জ্ঞানপিপাসু পর্যটকগণ অবশ্যই মন্দিরটি ভ্রমণ করতে ভুলবেন না।
   এটি বেশ পরিকল্পিত ও সাজানো-গুছানো একটি স্থান। এখানে, বিশাল হলরূম, প্রার্থনাকক্ষ, ধর্মীয় পাণ্ডুলিপির সংগ্রহশালা প্রভৃতি বিদ্যমান।
 </p>
  
    
    <h5>
      ৬) সেন্ট মার্টিন দ্বীপ (St. Martin Island):
    </h5>
  
    <p>
      সেন্ট মার্টিন টেকনাফের নিকটবর্তী বাংলাদেশের একমাত্র প্রবাল দ্বীপ। দ্বীপটিতে প্রচুর পরিমাণে নারিকেল গাছ থাকায় একে নারিকেল
      জিঞ্জিরা নামেও ডাকা হয়ে থাকে। জোয়ার-ভাটা ও ঢেউ তরঙ্গের তারতম্যের উপর ভিত্তি করে এর আয়তন ৫-৮ বর্গকিলোমিটার পর্যন্ত হয়ে
      থাকে। ফলে, একদিনের মধ্যেই পুরো দ্বীপটি ঘুরে দেখা যায়। এর আবহাওয়া সাধারণত উষ্ণ। তাই, ভ্রমণকারীগণ সাথে বিশুদ্ধ খাবার
      পানি ও সানস্ক্রীন সাথে রাখতে পারেন।
    </p>
  <h5>
    যেভাবে কক্সবাজার যাওয়া যায়ঃ
  </h5>
  <p>
    বাংলাদেশের রাজধানী ঢাকা থেকে সড়ক, রেল কিংবা আকাশ- তিন পথেই কক্সবাজার যাওয়া যায়। সড়ক এবং আকাশ পথে সরাসরি কক্সবাজার
    যাওয়া যায়। রেলপথে সেখানে সরাসরি যাওয়া যায় না। প্রথমে ঢাকা থেকে চট্টগ্রাম যেতে হবে। পরে, সেখান থেকে সড়ক পথে কক্সবাজার যেতে হবে।
  </p>
  <h5>
    ভ্রমণের উপযুক্ত সময়ঃ
  </h5>
  <p>
    কক্সবাজার ভ্রমণের সবচেয়ে উপযুক্ত সময় হলো শীতকাল। ফলে, নভেম্বর থেকে ফেব্রুয়ারী- এই তিন মাস সেখানে প্রচুর ভিড় থাকে।
    এই সময় সেখানকার হোটেলগুলোতে থাকার খরচও বছরের অন্যান্য সময়ের চেয়ে তুলনামূলক অনেক বেশী।
  </p>
  <h5>
    হোটেলসমুহঃ
  </h5>
  <p>
    কক্সবাজার পর্যটন শিল্পকে কেন্দ্র করে সেখানে প্রচুর পরিমাণে হোটেল গড়ে উঠেছে। এই তালিকায় ছোট ছোট ফ্লাট বাড়ি থেকে শুরু করে পাঁচ তারকা মানের হোটেলও বিদ্যমান।
  </p>
  <div class="row">
    <div class="col-sm-6">
      <H6>
        ১) সীগাল হোটেল:
      </H6>
      <P>
        মানঃ ৫ তারকা</br>
        রূমের সংখ্যাঃ ১৮২ টি (রেগুলার-১২০, ডিলাক্স-৪১, স্যুইট-২০, প্রেসিডেন্ট স্যুইট-০১)</br>
        রূমের প্রকৃতিঃ সিংগেল বেড থেকে শুরু করে প্রেসিডেন্ট স্যুইট পর্যন্ত।</br>
        খরচঃ ২,৪২০ টাকা হতে শুরু করে ২৫,০০০ টাকা পর্যন্ত।</br>
        যোগাযোগঃ ৮৮-০৩৪১-৬২৪৮০ (কক্সবাজার) ৮৮-০২-৮৩২২৯৭৩-৬ (ঢাকা)</br>
        ইমেইলঃ seagull@agni.com, seagullhotelcox@gmail.com.
      </P>
      <H6>
        ৩) হোটেল কল্লোল:
      </H6>
      <P>
        মানঃ ৪ তারকা</br>
        রূমের প্রকৃতিঃ ডিলাক্স থেকে শুরু করে রয়্যাল স্যুইট পর্যন্ত।</br>
        খরচঃ ১,০০০ টাকা হতে শুরু করে ৩,৬০০ টাকা পর্যন্ত।</br>
        যোগাযোগঃ ৮৮-০৩৪১-৬৪৭৪৮, ৮৮-০১৭২৭-৬১৩২৫৮</br>
        ইমেইলঃ info@hotelkollol.com

      </P>
      <h6>
        এছাড়াও আরও বেশকিছু হোটেল আছে যাদের নাম নিচে দেওয়া হলো:
      </h6>
      <p>
        1) হোটেল ড্যাফোডিল ইন্টাঃ</br>
        2) সেন্ট মার্টিন রিসোর্ট </br>
        3) হোটেল মিডিয়া ইন্টাঃ</br>
        4) হোটেল সাইম্যান</br>
        5) হোটেল পানোয়া লিঃ</br>
      </p>
    </div>
    <div class="col-sm-6">
      <h6>
        ২) হোটেল সী প্যালেস:
      </h6>
      <P>
        মানঃ ৫ তারকা</br>
        রূমের প্রকৃতিঃ রেগুলার রূম (ডাবল বেড) থেকে শুরু করে প্রেসিডেন্সিয়াল স্যুইট পর্যন্ত।</br>
        খরচঃ .৩,০০০ টাকা হতে শুরু করে ৬০,০০০ টাকা পর্যন্ত।</br>
        যোগাযোগঃ কলাতলী রোড, কক্সবাজার। ফোনঃ ৮৮-০৩৪১-৬৩৬৯০২, ৮৮-০১৭১৪-৬৫২২২৭</br>
        ইমেইলঃ cxb@hotelseapalaceltd.com
      </P>
      <h6>
        ৪) হোটেল সী ক্রাউন:
      </h6>
      <P>
        যোগাযোগঃ ৮৮-০৩৪১-৬৪৪৭৪, ৮৮-০১৭১৫-০৪২৭৯৭
      </P>
      <div class="hotellist" style="margin-top: 140apx">
      6) হোটেল শৈবাল</br>
      7) হোটেল পান্থ নিবাস</br>
      8) মোটেল প্রবাল</br>
      9) মোটেল লাবণী</br>
      ১0) মোটেল উপল
      </div>
    </div>
  </div>

</div>