<div class="container top-space">
  <h1>রাঙ্গামাটি ভ্রমণ</h1>
  <p>
    নৈসর্গিক সৌন্দর্যের এক অপার লীলাভূমি রাঙ্গামাটি পার্বত্য জেলা। এখানে পাহাড়ের কোল ঘেঁসে ঘুমিয়ে থাকে শান্ত জলের হ্রদ। সীমানার ওপাড়ে
    নীল আকাশ মিতালী করে হ্রদের সাথে, চুমু খায় পাহাড়ের বুকে। এখানে চলে পাহাড় নদী আর হ্রদের এক অপূর্ব মিলনমেলা। চারিপাশ যেন পটুয়ার
    পটে আঁকা কোন জল রঙের ছবি। আকাশের মেঘ ছুঁয়ে যায় পাহাড়ের বুক। শরৎ, হেমন্ত এবং শীতে শুভ্র মেঘের খেলাও চলে সবুজ পাহাড়ের ভাজে
    ভাজে। কোন উপমাই যথেষ্ট নয় যতটা হলে বোঝানোয় যায় রাঙ্গামাটির অপরূপ সৌন্দর্য। এখানকার প্রতিটি পরতে পরতে লুকিয়ে আছে অদেখা
    এক ভূবন যেখান আপনার জন্য অপেক্ষা করছে নয়ানাভিরাম দৃশ্যপট।
  </p>
  <img src="/assets/rangamati/main.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
  <div class = "Top_image_space"> 
  <p>
    যেকোনো ছুটিতে কোথাও ঘুরতে যাওয়ার কথা ভাবছেন? বন্ধুবান্ধব কিংবা পরিবারের সদস্যদের সাথে দল বেধে ঘুরে আসতে পারেন
    আয়তনের দিক দিয়ে বাংলাদেশের সর্ববৃহৎ এই জেলাটি। বর্ষা মৌসুম রাঙামাটি যাওয়ার উপযুক্ত সময় যদিও এক এক ঋতুতে প্রকৃতি
    এখানে সাজে এক এক রূপে। সারা বছর জুড়েই বহু দেশী – বিদেশী পর্যটকদের সমাগম ঘটে এখানে।
  </p>
  </div>
  <h5>
    অবস্থানঃ
  </h5>
  <p>
    রাঙ্গামাটি বাংলাদেশের পার্বত্য জেলা গুলোর মধ্যে একটি এবং আয়তনে বাংলাদেশের বৃহত্তম জেলা। এর মোট আয়তন ৬১১৬.১৩ বর্গ
    কিলোমিটার। রাঙ্গামাটি জেলা সদরকে পার্বত্য চট্টগ্রামের রাজধানীও বলা হয়ে থাকে। চট্টগ্রাম থেকে ৭৭ কিলোমিটার দূরে কাপ্তাই হ্রদের
    পশ্চিম তীরে অবস্থিত এই জনপদটি। রাজধানী ঢাকা হতে রাঙ্গামাটি জেলা সদরের দূরত্ব ৩০৮ কিলোমিটার এবং চট্টগ্রাম বিভাগীয় শহর
    থেকে এর দূরত্ব প্রায় ৭০ কিলোমিটার। ১০টি ভাষাভাষীর ১১টি জনগোষ্ঠীর নিজস্ব সাংস্কৃতিক, নৃতাত্ত্বিক কৃষ্টি এবং প্রকৃতির অপার সৃষ্টি
    এই জেলা বাংলাদেশের পর্যটনের অন্যতম গুরুত্বপূর্ণ স্থান।
  </p>
  <h5>
    দর্শনীয় স্থানসমূহঃ
  </h5>
  <p>
    রাঙ্গামাটি জেলার জনপ্রিয় ভ্রমণ স্থান গুলোর মধ্যে উল্লেখযোগ হলো: কাপ্তাই হ্রদ, ঝুলন্ত সেতু, রাজবন বিহার, শুভলং ঝর্ণা, সাজেক ভ্যালী,
    নৌ বাহিনীর পিকনিক স্পট, কাপ্তাই বাঁধ ও কর্ণফুলি পানিবিদ্যুৎ কেন্দ্র, কাপ্তাই জাতীয় উদ্যান, বীরশ্রেষ্ঠ ল্যান্সনায়েক মুন্সী আব্দুর রউফ স্মৃতি
    ভাস্কর্য, উপজাতীয় জাদুঘর, কর্ণফুলি কাগজ কল, বেতবুনিয়া ভূ-উপগ্রহ কেন্দ্র, প্যানোরমা জুম রেস্তোরা, পেদা টিং টিং রেস্তোরা, টুকটুক
    ইকো ভিলেজ, চিৎমরম বৌদ্ধ বিহার, বনশ্রী পর্যটন কমপ্লেক্স, ডলুছড়ি জেতবন বিহার ইত্যাদি। এই স্বল্প পরিসরে সবগুলো স্থান সম্পর্কে
    বিস্তারিত বিবরণ দেওয়া সম্ভব নয়। তাই, আকর্ষনীয়তা, যাতায়াতের সুবিধা, থাকা-খাওয়ার ব্যাবস্থার পর্যাপ্ততা ও খরচের সাশ্রয়ীতার দিক
    বিবেচনা করে এখানে আমরা রাঙ্গামাটি জেলার সবচেয়ে জনপ্রিয় ও দর্শনীয় অধিকাংশ স্থান সমূহের বর্ণনা সহ ঘুরে বেড়ানো ও থাকা-খাওয়ার
    সকল তথ্য দেওয়ার চেষ্টা করা হয়েছে।
  </p>
  <h5>
    রাঙামাটি শহর ও আশপাশের স্পট:
  </h5>
  <p>
    রাঙামাটিতে কাপ্তাই লেক, ঝুলন্ত সেতু, রাজবাড়ি, সুভলং ঝর্ণা, বীরশ্রেষ্ঠ মুন্সি আবদুর রউফ স্মৃতিসৌধ, জেলা প্রশাসকের বাংলো, পেদা টিং
    টিং, টুক টুক ইকো ভিলেজসহ দেখার মতো অনেক কিছু রয়েছে। এগুলো দেখার জন্য সারাদিনের জন্য বোট ভাড়া নেওয়াটাই সবচেয়ে উত্তম।
  </p>
  <h5>
    কাপ্তাই হ্রদ, কাপ্তাই জল বিদুৎ প্রকল্প ও কাপ্তাই জাতীয় উদ্যান:
  </h5>
  <P>১৯৬০ সালে জল বিদ্যুৎ কেন্দ্র স্থাপনের উদ্দেশ্যে কাপ্তাই বাঁধ নির্মাণের ফলে কর্ণফুলী নদীতে একটি হ্রদের সৃষ্টি হয়। একে কাপ্তাই লেক
    বলা হয়ে থাকে। দক্ষিণ এশিয়ার সর্ববৃহৎ এ কৃত্রিম হ্রদের আয়তন প্রায় ২৯২ বর্গমাইল।
    রাঙ্গামাটির দর্শনীয় স্থানগুলোর মধ্যে কাপ্তাই হ্রদ ভ্রমন অন্যতম। অসংখ্য পাহাড়ের কোল ঘেঁষে বয়ে চলা আঁকাবাঁকা বিশাল কাপ্তাই হ্রদে
    নৌবিহারে অনুভূতি এক অনন্য অভিজ্ঞতা। দেশীয় ইঞ্জিন নৌকা, লঞ্চ, স্পিডবোটে দিনভর নৌবিহার করা যেতে পারে। মজার ব্যাপার হলো
    আপনি চাইলে এই হ্রদ ঘুরতে ঘুরতেই দেখে ফেলতে পারবেন রাঙ্গামাটির অন্যান্য দর্শনীয় স্থানগুলো।
  </p>
  <p>
    কাপ্তাই হ্রদ ভ্রমনের জন্য একটু ভোরে ভোরে রওয়ানা হওয়াই উত্তম। হ্রদের মাঝখান দিয়ে নৌভ্রমন আপনার মনে এমনই এক সুখস্মৃতি
    তৈরি করবে যা আপনি কখনোই ভূলতে পারবেন না। যে দিকে তাকাবেন কেবল পানি আর তার মাঝে মাঝে ছোট ছোট টিলা। লাল মাটির
    টিলাগুলোর গাঁয়ে সবুজের সমারোহ, যেন এগুলো ঢেকে আছে সবুজ কার্পেটে। অসহ্য সুন্দর যে দৃশ্য। কখনো ডানে কখনো বামে আবার
    কখনো বা মনে হবে সম্মুখে সীমাহীন পথ। এখানে জল, পাহাড় আর আপনি ছাড়া আর কিছুই নেই চারিদিকে। এ এক অসাধারন অনুভুতি।
    কখনো কখনো বেশ বড় বড় পাহাড় আপনার চোখে পড়বে। এর দৃষ্টিনন্দন শীলা খন্ড আপনার নজর কাড়বেই। মন চাইবে উড়াল দিয়ে চলে
    যেতে সেখানে।
  </p>
  <p>
    এছাড়াও প্রায় তের হাজার একর এলাকা নিয়ে কর্ণফুলী নদীর কোল ঘেঁষে গড়ে তোলা হয়েছে কাপ্তাই জাতীয় উদ্যান’। এখানেও সারি সারি
    পাহাড় আর প্রকৃতির অপূর্ব সমন্বয়। বিচিত্র বন্যপ্রাণী ও পাখ-পাখালির অবাধ বিচরণ ক্ষেত্র। বনের ভেতর সারি সারি সেগুন, জারুল, গামার
    আর কড়ই গাছের মাঝে পায়ে হেটে চলা পর্যটকদের অফুরন্তু আনন্দের খোরাক। কাপ্তাই জাতীয় উদ্যানে রয়েছে বন বিভাগের দু’টি বিশ্রামাগার।
    বিশ্রামাগারের চারপাশে নদী, পাহাড় আর সবুজের সহাবস্থান। এছাড়াও কাপ্তাইয়ে কর্ণফুলী নদীর দু’পাশের প্রাকৃতিক সৌন্দর্যও আপনার মনকে
    পাগল করে দেবে।
  </p>
  <p>
    <h5>যেভাবে যাওয়া যায়: </h5>
    <p>
    রাঙ্গামাটি শহরের বিভিন্ন জায়গা থেকে আপনি ট্রলার বা বোট ভাড়া করতে পারবেন। পর্যটন থেকেও বোট ভাড়া করা যায়, তবে রেট একটু
    বেশি। রিজার্ভ বাজার থেকে বোট বা ট্রলার ভাড়া করলে একটু কম দামে পাওয়া যাবে। তবে পর্যটনের বোট বা ট্রলারের মতো দেখতে সুন্দর
    না বলে অনেকে সেগুলো ভাড়া নিতে চান না।
  </p>
  <p>
    রাঙামাটি সদর হতে কাপ্তাই জাতীয় উদ্দ্যেনের দূরত্ব আনুমানিক ৩৫ কিলোমিটার। উদ্যানে যেতে হলে চট্টগ্রাম হতে সরাসরি কাপ্তাই যেতে
    হবে অথবা রাঙামাটি এসে শহরের আসাম বস্তি থেকে অটোরিক্সা ভাড়া করেও যাওয়া যায়।
  </p>
  <p>
    এ ছাড়াও আসাম বস্তি – কাপ্তাই হ্রদ সড়কটি চালু হওয়ার পর এটিও বাড়িয়েছে রাঙামাটির সৌন্দর্য। এ সড়ক দিয়ে যেতে চোখে পড়বে
    উপজাতি গ্রামসহ উঁচু-নিচু পাহাড় ও কাপ্তাই হ্রদের অপরূপ দৃশ্য। আবার সড়কের আসাম বস্তি এলাকায় রয়েছে অপরূপ সেতু। বিকেলে
    ওই সেতুতে বসে কাপ্তাই হ্রদ ও সূর্যাস্তের দৃশ্য অবলোকনের অনুভূতিটাই অন্যরকম। সড়ক দিয়ে কাপ্তাই উপজেলায়ও যাওয়া যায়। সিএনজি
    অটোরিকশাযোগে যেতে সময় লাগবে আধা ঘণ্টা থেকে পৌনে এক ঘণ্টা। ভাড়া পড়বে সাত থেকে আটশ’ টাকা।
  </p>
  <p>
    কাপ্তাই জল বিদুৎ কেন্দ্রের ভেতরে যেতে হলে সরকারি সংশ্লিষ্ট দপ্তরের অনুমতি আবশ্যক, অথবা সেখানে কর্মরত নিরাপত্তা বাহিনীর মাধ্যমে
    অনুমতি নেওয়া প্রয়োজন। এই ক্ষেত্রে মনে রাখতে হবে, কোনো অবস্থাতে ভেতরে প্রবেশ করার সময় সাথে ক্যামেরা নেওয়া যাবেনা, এবং
    রাষ্ট্রীয় সম্পদের ক্ষতি সাধন এমন কিছু করা থেকে বিরত থাকতে হবে।
  </p>
  <h5>
    শুভলং ঝর্ণা:
  </h5>
  <p>
    রাঙামাটি জেলার সর্বাপেক্ষা আকর্ষণীয় জায়গাগুলোর মধ্যে শুভলং ঝর্ণা একটি। চমৎকার একটি জলপ্রপাত এই স্থানকে দিয়েছে ভিন্ন
    একটি চরিত্র। রাঙ্গামাটি শহর থেকে ১০-১২ কিলোমিটার দূরে অবস্থিত মনোরম এই ঝর্ণাটি। এর রূপ আপনাকে মোটেও আশাহত করবে
    না। সময়টি যদি হয় বর্ষাকাল তবে আপনি সত্যিই ভাগ্যবান বলতে হবে। কেননা এই সময় ঝর্না হয়ে উঠে নবযৌবনা, সয়ম্বরা। অপলক
    দৃষ্টিতে সে ঝর্নার রূপ আপনি দেখবেন সম্মোহিত হয়। একে দেখতে সর্বক্ষণ পর্যটকের ভিড় লেগেই থাকে। দীর্ঘ পথ পাড়ি দিয়ে এসে ঝর্ণাটি
    পতিত হয়েছে কাপ্তাই লেকে। শুভলংয়ের কাছে যেতে বাধা নেই, ফলে ঝর্ণার রূপ মাধুর্য প্রাণভরে উপভোগ করা যায়। পর্বতপ্রেমী পর্যটকরাও
    যেতে পারেন শুভলং অভিমুখে। পাহাড় হ্রদের নিবিড় নৈকট্যে আপনার মনেও সৃষ্টি করতে পারে ভিন্ন এক অনুভূতি। কিন্তু একটাই র্দূভাগ্য
    শীত মৌসুমে ঘুমিয়ে থাকে এখানকার পাহাড়ি ঝর্ণাগুলো।
  </p>
   <p>
    এই স্থানটি বেশ সাজানো গোছানো। ফুলের বাগান, উচু বসার স্থান এবং হাটার জন্য ব্রিজ ও রাস্তা আপনাকে বিমোহিত করবে। ঝর্নাস্নান
    কিংবা দর্শন শেষে আপনি সামনে এগিয়ে গেলে পাবেন সুবলং বাজার। হ্রদের তীরে অবস্থিত স্থানীয় এই বাজারে রয়েছে একটি সেনা ক্যাম্প।
    বাজারটি একেবারে ছোট নয়। এখানকার খাবার বেশ সুস্বাদু। দুপুরের খাবারটি এখানে সেরে নিতে পারেন। হ্রদ থেকে ধরা মাছের ঝোল
    আর আলুভর্তা রসনা বিলাসের জন্য মন্দ নয়। তবে সাবধান- এই এলাকায় প্রায়শই বন্য হাতির হামলা হয়ে থাকে। তাই চোখ কান একটু
    খোলা রাখাই শ্রেয়।
  </p>
  <p>
    বর্তমানে এ এলাকায় উপজেলা প্রশাসন কর্তৃক কিছু স্থাপনা নির্মাণ করা হয়েছে। এরপরও কেবলমাত্র ঝর্ণার সৌন্দর্যই পর্যটকদের মন ভরিয়ে
    দিতে যথেষ্ট। পাহাড়ের উপর থেকে নেমে আসা ঝর্ণার পানি পাথুরে মাটিতে আছড়ে পড়ার অপূর্ব দৃশ্য না দেখলে বলে বোঝানোর নয়। ইচ্ছে
    করলে স্নাণ করতে পারেন এর শীতল পানিতে। ক্যামেরা থাকলে ঝটপট তুলে নিতে পারেন দুর্লভ কিছু ছবিও। ঝর্ণা দেখা শেষ হলে কিছুক্ষণের
    জন্য সুভলং বাজার ঘুরে আসতে পারেন। এখানে সেনাবাহিনীর একটি ক্যান্টিন রয়েছে। চাইলে সেখানে সেরে নিতে পারেন চা-নাস্তা পর্ব।
  </p>
  <h5>
    যেভাবে যাওয়া যায়:
  </h5>
  <P>
    রাঙামাটি সদর হতে সুবলং এর দূরত্ব মাত্র ২৫ কিলোমিটার। শহর থেকে শুভলং ঝর্ণায় যেতে হলে নৌ পথে যেতে হয়। ইঞ্জিন চালিত
    ট্রলার রিজার্ভ করাই সবচেয়ে ভালো উপায়। শুভলং ঝর্ণা রাঙামাটি জেলার বরকল উপজেলার মধ্যে পড়েছে। রাঙামাটির রিজার্ভ বাজার,
    পর্যটন ঘাট ও রাঙামাটি বিভিন্ন স্থান থেকে স্পিড বোট ও নৌ-যানে করে সহজেই সুবলং যাওয়া যায়।  এগুলোর ভাড়া আকার অনুযায়ী ব
    িভিন্ন রকম হয়ে থাকে। তবে ভাড়া সাধারণত ১২০০-৩০০০ টাকার মধ্যে। মূল শহর থেকে শুভলং যেতে সময় লাগবে দেড় ঘণ্টার মত।
    শুভলং যেতে হয় কাপ্তাই লেকের উপর দিয়ে। কাপ্তাই লেক দক্ষিণ এশিয়ার সবচেয়ে বড় কৃত্রিম লেক। কাপ্তাই লেক ঘুরতে হ্রদে দেশীয়
    ইঞ্জিন চালিত বোট অথবা স্পীড বোটে চড়লে প্রথমেই চোখ যাবে পাহাড়ের কোল থেকে নেমে আসা সুভলং ঝর্ণার দিকে।
  </P>
  <p>
    বোটে করে সুভলং যাওয়ার আনন্দটাই অন্যরকম। বর্তমানে ঝর্ণায় পানি খুব বেশি নেই তবে ভরা বর্ষা মৌসুমে মূল ঝর্ণার জলধারা প্রায়
    ৩০০ ফুট উচু থেকে নীচে আছড়ে পড়ে এবং অপূর্ব সুরের মুর্ছনায় পর্যটকদের মুগ্ধ করে। সুভলং যাওয়া আসার পথেই পড়বে পেদা
    টিং টিং, চাং পাং এবং টুকটুক ইকো রিসোর্ট। পর্যটন থেকে পেদা টিং টিং, চাং পাং এবং টুকটুক ইকো রিসোর্ট হয়ে সুভলং ঘুরে 
    আবার পর্যটন আসতে ৫-৬ জনের একটা সুন্দর বোটে খরচ পড়বে ১১০০-১২০০ টাকা।
  </p>
<h5>
  পর্যটন মোটেল ও ঝুলন্ত সেতু:
</h5>
  
  <p>
    শহরের শেষপ্রান্তে কর্ণফুলী হ্রদের কোলঘেঁষে পর্যটন হলিডে কমপ্লেক্স (সরকারী পর্যটন মোটেল) । ১৯৮৬ সালে এটি গড়ে তোলা হয়।
    আকর্ষণীয় পর্যটন মোটেলটি এখানেই। মোটেল এলাকা থেকে দৃশ্যমান হ্রদের বিস্তীর্ণ জলরাশি আর দূরের নীল উঁচু-নীচু পাহাড়ের সারি
    বিমোহিত করবে যে কাউকেই। এখানেই হ্রদের ওপর ৩৩৫ ফুট দীর্ঘ ঝুলন্ত সেতু। যা কমপ্লেক্সের গুরুত্ব ও আকর্ষণ বহুগুণ বাড়িয়েছে 
    এবং পর্যটন এলাকাকে করেছে আরও বেশি সুন্দর ও দৃষ্টিনন্দিত। সহজেই পর্যটকদের দৃষ্টি কাড়ে এটি। পর্যটকদের প্রধান আকর্ষনের
    কারনে এবং এর নির্মানশৈলির কারনে ঝুলন্ত ব্রিজ আজও রাঙ্গামাটির নিদর্শন হয়ে দাড়িয়ে আছে। পর্যটকরা সাধারণত প্রথমেই এই
    পর্যটন মোটেল এবং ঝুলন্ত ব্রিজে আসে। এখান থেকে শুরু হয় রাঙামাটি ভ্রমণ।
  </p>
  <p>
    দুটি পাহাড়ের মধ্যে সংযোগ ঘটিয়ে কাপ্তাই হ্রদের উপর ঝুলে আছে সেতুটি। এটি দেখতে হলে পর্যটন করপোরেশনকে দিতে হবে পাঁচ টাকা।
    নয়নাভিরাম বহুরঙা এই ঝুলন্ত সেতুটি দুইটি বিচ্ছিন্ন পাহাড়ের মধ্যে গড়ে দিয়েছে হৃদ্দিক সম্পর্ক। সেতুটি পারাপারের সময় সৃষ্ট কাঁপুনি
    আপনাকে এনে দেবে ভিন্ন দ্যোতনা। এখানে দাঁড়িয়েই কাপ্তাই হ্রদের মনোরম দৃশ্য অবলোকন করতে পারবেন। কাপ্তাই হ্রদের সৌন্দর্যে
    আপনি মুগ্ধ হতে বাধ্য। ওপারেই রয়েছে আদিবাসী গ্রাম। ইচ্ছে হলেই দেখতে পাবেন আদিবাসী জীবনযাপনের ক্ষয়িষ্ণু চালচিত্র। এছাড়াও
    এখানে আছে সময় কাটানোর অনেক উপকরণ। আছে অডিটোরিয়াম, পার্ক, পিকনিক স্পট, স্পিড বোট ও দেশীয় নৌ-যান।
  </p>
  <h5>
    যেভাবে যাওয়া যায়:
  </h5>
  <p>
    রাঙামাটি শহরের তবলছড়ি হয়ে সড়ক পথে সরাসরি ‘পর্যটন কমপ্লেক্সে’ যাওয়া যায়। এখানে গাড়ি পার্কিংয়ের সুব্যবস্থা রয়েছে। যারা ঢাকা
    বা চট্টগ্রাম থেকে সার্ভিস বাসে করে আসবেন তাদের তবলছড়িতে নেমে অটোরিক্সা কিংবা সি এন জি অটোরিক্সা ভাড়া করে যেতে হবে।
    রাঙামাটি শহরের দোয়েল চত্বর থেকেও সেখানে যেতে পারবেন। কমপেক্সে পৌঁছাতে সি এন জি অটোরিক্সাগুলো দোয়েল চত্বর থেকে ভাড়া
    নেবে ১০০ টাকা এবং তাবলছড়ি থেকে ৫০ টাকা।
  </p>
  <h5>
    প্রয়োজনীয় টিপস:
  </h5>
  <p style="margin-left: 50px">&#9989;  বর্ষার সময়ে ঝুলন্ত ব্রিজের উপর পানি জমে যায়।</p>
  <p style="margin-left: 50px">&#9989;  এখানে পর্যটনের বোট ভাড়া পাওয়া যায়। </p>
  <p style="margin-left: 50px">&#9989;  এই বোট ভাড়া নিয়ে কাপ্তাই হ্রদে ভ্রমণ করতে করতে যাওয়া যায় সুভলং, পেদা টিং টিং, টুকটুক ইকো
    ভিলেজ, চাং পাং, বৌদ্ধ মন্দির, কাপ্তাই শহর সহ নানা জায়গায়।  </p>
  <h5>
    বীর শ্রেষ্ঠ মুন্সি আব্দুর রউফ স্মৃতিসৌধ:
  </h5>
  
  <p>

    এই রাঙামাটিতেই চিরনিদ্রায় শায়িত আছেন সাত বীরশ্রেষ্ঠদের একজন বীরশ্রেষ্ঠ মুন্সী আব্দুর রউফ। রাঙামাটি শহর হতে জলপথে
    একঘন্টার দূরত্বে অবস্থিত বুড়িঘাটে এই সমাধি অবস্থিত। চারিদিকে কাপ্তাই লেকের নীলজল খেলা করে আর তার মাঝখানে একটি
    ছোট্ট দ্বীপে ঘুমিয়ে আছেন আমাদের চির স্মরণীয় অসামান্য বীর। দেশপ্রেমিক আর ইতিহাস সচেতন পর্যটকরা এই বীরের প্রতি
    শ্রদ্ধা জানাতে পাবেন অপূর্ব এক সুযোগ।
  </p>
  <p>
    বীরশ্রেষ্ঠ ল্যান্স নায়েক মুন্সি আবদুর রউফ মুক্তিযুদ্ধের সময় উপজেলা নানিয়ারচরের বুড়িঘাটে শহীদ হন। স্থানীয় এক পাহাড়ি তাকে
    ওই স্থানে কবর দেন। পরে রাঙামাটির বিডিআর (বর্তমানে বিজিবি) ওই স্থানে স্মৃতিসৌধ নির্মাণ করে। সেটি দেখতে হলে দেশীয়
    ইঞ্জিনচালিত বোট বা স্পিড বোট ভাড়া করে যেতে হবে।
  </p>
    <h5>
      রাজ বনবিহার:
    </h5>
    <p>
    রাঙামাটির দর্শনীয় স্থানগুলোর মধ্যে অন্যতম হচ্ছে রাজ বনবিহার। এ অঞ্চলের বৌদ্ধ ধর্মাবলম্বীর প্রধান তীর্থ স্থান এটি। এখানে আছে
    একটি প্রার্থনালয়, একটি প্যাগোডা, বনভান্তের (বৌদ্ধ ভিক্ষু) আবাসস্থল ও বনভান্তের ভোজনালয়। প্রতি শুক্রবার ছাড়াও বিভিন্ন অনুষ্ঠান
    উপলক্ষে এখানে চলে প্রার্থনা। রাজ বনবিহারে দাঁড়িয়ে উপভোগ করতে পারেন কাপ্তাই লেকের নয়নাভিরাম সৌন্দর্য। রাজ বনবিহারের
    পাশেই কাপ্তাই লেকের ছোট্ট একটি দ্বীপজুড়ে রয়েছে চাকমা রাজার রাজবাড়ি।
  </p>
  <P>
    রাজবাড়ির পাশে অবস্থিত ও আন্তর্জাতিক পরিমন্ডলে খ্যাত এই বৌদ্ব ধর্মীয় প্রতিষ্ঠানটিতে অবস্থান করেন বৌদ্ব আর্য পুরুষ শ্রাবক বুদ্ধ
    সর্বজন পূজ্য শ্রীমৎ সাধনানন্দ মহাসহবির বনভান্তে। এই বৌদ্ব বিহারে প্রত্যেক বছরের কঠিন চীবর দানোৎসবে লক্ষাধিক মানুষের সমাগম
    ঘটে। এছাড়া প্রতিদিন অসংখ্য দর্শনাথী ও পুণ্যানর্থীর ভিড়ে মুখরিত থাকে রাজবন বিহার এলাকা। এটি বর্তমানে বাংলাদেশের প্রধান বৌদ্ব
    ধর্মীয় প্রতিষ্ঠান। বেশ কয়েকটি বৌদ্ব মন্দির, বিশ্রামগার, হাসপাতাল, তাবতিংস স্বর্গসহ অনেক কিছু রয়েছে দেখার মত।
  </P>
    <h5>
      রাজবাড়ি:
    </h5>
  <p>
    রাঙ্গামাটি শহরেই অবস্থিত রাজবাড়ি। বর্তমানে চাকমা সার্কেল চিফ রাজা ব্যারিস্টার দেবাশীষ রায় ও তার মা রানী আরতি রায় এ
    রাজবাড়িতেই থাকেন। চারদিকে হ্রদ বেষ্টিত এই রাজবাড়ি পুরনো হলেও দেখতে ও বেড়াতে ভীষন ভাল লাগে। রাজদরবার, কাচারি,
    সজ্জিত কামানসহ দেখার মতো অনেক কিছুই আছে এখানে। রাজবাড়ির নিরিবিলি পরিবেশ, সবুজ বাঁশের ঝাড় আর পাখির কলকাকলি
    মহুর্তের জন্য হলেও আপনাকে একেবারে থমকে দেবে। রাজবাড়ীর পাশেই উপজাতীয় নারীরা বিক্রির উদ্দেশ্যে তাদের হাতে বুনা বস্ত্র
    সম্ভার নিয়ে বসে থাকে। এসব পন্য আপনার প্রয়োজনের পাশাপাশি মেটাবে রুচির তৃষ্ণা।
  </p>
    <h5>
      টুক টুক ইকো ভিলেজ:
    </h5>
  
  <p>
    লেকে দীর্ঘ ভ্রমণে ক্লান্ত-পরিশ্রান্ত অতিথির জন্য রয়েছে বেশ কয়েকটি উপজাতীয় রেস্তোরাঁয় রকমারি খাবারের স্বাদ। কাঠ এবং বাঁশের
    কারুকাজে তৈরি এ রেস্তোরাঁয় দেশীয় ও পাহাড়ি মজাদার সব খাবার-দাবার পাওয়া যাবে। ৫০ একর জায়গা জুড়ে বহু টিলা-উপটিলায়
    পুরো ইকো ভিলেজটিতে সুদৃশ্য বেশ কয়েকটি কাঠের কটেজ।
  </p>
  <p>
    অ্যাটাষ্ট বাথ ও ব্যালকনি-সমেত এ কটেজগুলোতে থাকার ব্যবস্থাও ভালো। জানালার ফাঁক গলিয়ে দূরে পাহাড়ের ঢালে কাপ্তাইয়ের পানিতে
    চাঁদের প্রতিচ্ছবি অসাধারণ। রাতগভীরে বন-বনানী থেকে ভেসে আসা ঝিঁঝি পোকা, নাম জানা-অজানা নিশাচর পশু-পাখির বিচিত্র ডাকে
    অজানা রাজ্য এসে সামনে দাঁড়ায়। আছে সার্বক্ষণিক নিরাপত্তা ব্যবস্থা। ইকো ভিলেজে তৈরি করা হয়েছে ১৫টি গোলঘর। আছে প্রশস্ত খেলার
    মাঠ, কাঠের ব্র্রিজ। চারদিকে পাহাড়ি গাছ-গাছালির পাশাপাশি নানা রকমের ফলদ, বনজ ও ঔষধি গাছও লাগানো
    হয়েছে। পার্ক ভরপুর লাল গোলাপ, সাদা গোলাপ, আফ্রিকান গাদায়। এর সবুজ পাহাড় ছেড়ে একটু ভেতরের দিকে এগুলেই আদিবাসী
    গ্রাম। ইচ্ছে করলে সেখানে গিয়ে দেখে আসতে পারেন পাহাড়ি মানুষের সরল জীবনযাপন।
  </p>
  
  <p>
     এ গ্রামের পাহাড়ের মাঝে গড়ে তোলা হয়েছে
    জুম ক্ষেত (পাহাড়ের চূড়ায় চাষাবাদ) ।
    রাঙামাটি শহর থেকে টুক টুক ইকো ভিলেজে যেতে রিজার্ভ বাজারের শহীদ মিনার এলাকা থেকে রয়েছে নিজস্ব বোটের ব্যবস্থা। ভাড়াও খুব
    একটা বেশী নয়।
  </p>
    <h5>
      উপজাতীয় যাদুঘর:
    </h5>
  
  <p>
    রাঙামাটির প্রবেশ দ্বারেই দৃষ্টি কাড়ে উপজাতীয় যাদুঘর। রাঙ্গামাটি শহরের প্রধান রাস্তার পাশেই এটি অবস্থিত। ১৯৭৮ সালে যাত্রা শুরু
    এটির। ২০০৩ সালে নতুন ভবন নির্মিত হলে তা আরো সমৃদ্ধ হয়। এ যাদুঘরে পার্বত্য চট্টগ্রামে বসবাসরত জাতিসত্তাসমূহের ঐতিহ্যবাহী
    অলংকার, পোষাক-পরিচ্ছদ, বাদ্যযন্ত্র, ব্যবহার্য তৈজষপত্র, অস্ত্র-শস্ত্র, প্রাচীন মুদ্রা, প্রাচীন ধর্মীয় গ্রন্থ, পুঁতিপত্র, তৈলচিত্র ও উপজাতীয়
    জীবনধারার বিভিন্ন আলোকচিত্র রয়েছে।
    যাদুঘরটি সকলের জন্য উম্মুক্ত এবং এর প্রবেশমূল্য মাত্র ৫ টাকা।
  </p>
    <h5>
      বরকল উপজেলা:
    </h5>
  <p>
    রাঙামাটি জেলার সবচেয়ে বেশি পর্যটন স্পট রয়েছে বরকল উপজেলায়। এই উপজেলায় ছোট-বড় ৮টি ঝর্ণা রয়েছে। এছাড়া এখানে
    অবস্থিত রয়েছে ঐতিহ্যবাহি ফালিতাঙ্গ্যা চুগ। রাঙামাটি শহর থেকে নৌপথে বরকলের দূরত্ব প্রায় ৪৫ কিলোমিটার। সেখানে যেতে হলে
    শুভলং বাজার থেকে পূর্বদিকে কর্ণফুলী নদীর উজানের দিকে এগুতে হবে। শুভলং বাজারে পাশেই কয়েকটি নদী মিলিত হয়েছে। এর
    মধ্যে দক্ষিণ-পূর্ব দিক থেকে এসেছে জুরাছড়ি এবং উত্তর-পূর্ব দিক থেকে এসেছে মাইনী ও কাচলং নদীর মিলিত স্রোতধারা।
  </p>
  <p>
    কর্ণফুলী নদীর বুক চিরে বরকল যাওয়ার পথে নদীর দু’ধারে দেখা যাবে উঁচু-নিচু অসংখ্য পাহাড় ও উপজাতি গ্রাম। বরকল উপজেলা
    সদর ফালিত্যাঙ্গা চুগের পাদদেশে অবস্থিত। সেখানে রয়েছে বরকল উপজেলা প্রশাসনের কার্যালয়, বাজার ও বিজিবি জোন। আগে স্থানীয়
    লোকজন ফালিত্যাঙ্গা চুগকে অভিহিত করত পাকিস্তান টিলা নামে। ১৯৭১ সালে পাক সেনারা এ পাহাড়ে বড় বড় বাঙ্কার খুঁড়ে আশ্রয় নিয়েছিল
    বলেই এর নাম হয় পাকিস্তান টিলা। ফালিতাঙ্গ্যা চুগ রাঙামাটির সবচেয়ে সুউচ্চ পর্বত। এর উচ্চতা এক হাজার ৬৬৮ ফুট। এ পাহাড়ের উপর
    থেকে সূর্যোদয় ও সূর্যাস্ত উপভোগ করা যায়। একই সঙ্গে দেখা যায় ভারতের মিজোরাম রাজ্যের আইজল শহর।
  </p>
  <p>
    ১৯২৩ সালে গড়ে ওঠে বরকল উপজেলা। জনশ্রুতি আছে, কর্ণফুলী নদীর এ স্থানে একটি বিশাল ঝর্ণা ছিল। এ ঝর্ণার পানি পড়ার শব্দ
    অনেক দূর থেকে শোনা যেত। দূর থেকে পানি পড়ার এ শব্দ শুনে মনে হতো, কোনো বড় যন্ত্র বা কলের শব্দ হচ্ছে। এ কারণে স্থানীয়
    আদিবাসীরা এর নাম দেয় বরকল। তবে ১৯৬০ সালে বিদ্যুৎ উৎপাদনের জন্য কাপ্তাই বাঁধ নির্মাণের কারণে বরকলের সর্ববৃহৎ এ ঝরনাটি
    পানির নিচে তলিয়ে যায়। বরকল যেতে হলে অবশ্যই রাতে থাকার প্রস্তুতি নিয়ে যেতে হবে। রাঙামাটি শহর থেকে ইঞ্জিনচালিত বোট ভাড়া
    করে এখানে আসতে হবে।
  </p>
  <p>
    অপরদিকে বরকল সদরের পূর্বদিকে রয়েছে সীমান্তবর্তী থেগামুখ। বর্তমান সরকার এখানে স্থলবন্দর গড়ে তোলার ঘোষণা দিয়েছে। থেগামুখ
    যেতে হলে কর্ণফুলী নদীর উজান দিয়ে যেতে হয়। যাওয়ার সময় নদীর দু’তীরে প্রাকৃতিক দৃশ্য এবং পাহাড় থেকে জলীয় বাষ্প উড়ে যাওয়ার
    দৃশ্য যে কাউকেই বিমোহিত করবে।
  </p>
  <p>
    কর্ণফুলী নদীর উৎপত্তি ভারতের লুসাই পাহাড়ের পাদদেশ থেকে। এ নদীর দু’পাশে রয়েছে বাংলাদেশ-ভারতের মনকাড়া প্রাকৃতিক সৌন্দর্য।
    নদীর দু’ধারে রয়েছে সহজ-সরল জীবন যাপন করা পাহাড়ি অধিবাসিরা। কর্ণফুলী নদীর একপাশে বাংলাদেশি পতাকাবাহী জেলে, অন্যপাশে
    ভারতীয় পতাকাবাহী জেলেদের দেখা যাবে মাছ ধরতে। যেন একই সুতোয় বাঁধা জীবন ঘুরপাক খাচ্ছে নদীর নীল জলে।
  </p>
    <h5>
      সাজেক উপত্যাকা:
    </h5>
  
  <p>
    বর্তমান সময়ে ভ্রমণ পিপাসু মানুষের সবচেয়ে জনপ্রিয় গন্তব্য সাজেক। রাঙামাটি জেলার বাঘাইছড়ি উপজেলায় অবস্থিত সাজেক বাংলাদেশের
    সবচেয়ে বড় ইউনিয়ন হিসাবে খ্যাত। যার আয়তন ৭০২ বর্গমাইল। সমুদ্রপৃষ্ঠ থেকে স্থানটির উচ্চতা ১৮০০ ফুট। সাজেকের অবস্থান রাঙামাটি
    জেলায় হলেও ভৌগলিক কারণে খাগড়াছড়ির দীঘিনালা থেকে সাজেক যাতায়াত অনেক সহজ। খাগড়াছড়ি জেলা থেকে সাজেকের দূরত্ব ৭০
    কিলোমিটার আর দীঘিনালা থেকে ৪০ কিলোমিটার। সাজেক যেতে হলে অবশ্যই বাঘাইহাট পুলিশ ও আর্মি ক্যাম্প থেকে অনুমতি নিতে হবে।
  </p>
  <p>
    চারপাশে মনোরম পাহাড় সারি, সাদা তুলোর মত মেঘের ভ্যালি নিঃসন্দেহে আপনাকে মুগ্ধ করবেই। সাজেক এমনই আশ্চর্য্যজনক জায়গা
    যেখানে একই দিনে প্রকৃতির তিন রকম রূপের সান্নিধ্যে আপনি হতে পারেন চমৎকৃত। কখনো বা খুব গরম অনুভূত হবে তারপর হয়তো
    হটাৎ বৃষ্টিতে ভিজে যাবেন কিংবা চোখের পলকেই মেঘের ঘন কুয়াশার চাদরে ঢেকে যাবে আপনার চারপাশ। প্রাকৃতিক নিসর্গ আর তুলোর
    মত মেঘের পাহাড় থেকে পাহাড়ে উড়াউড়ির খেলা দেখতে সাজেক আদর্শ জায়গা।
  </p>
  <p>
    কংলাক পাহাড় হচ্ছে সাজেক ভ্রমণে আসা পর্যটকদের কাছে প্রধান আকর্ষণ। আর সাজেক ভ্যালির শেষ গ্রাম কংলক পাড়া লুসাই জনগোষ্ঠী
    অধ্যুষিত এলাকা। কংলাক পাড়া থেকেই কর্ণফুলী নদী উৎপত্তিস্থল ভারতের লুসাই পাহাড় দেখা যায়। চাইলে রুইলুই পাড়া থেকে দুই ঘন্টা ট্রেকিং
    করে কমলক ঝর্ণা দেখে আসতে পারবেন। সুন্দর এই ঝর্ণাটি অনেকের কাছে পিদাম তৈসা ঝর্ণা বা সিকাম তৈসা ঝর্ণা নামেও পরিচিত।
  </p>
  <p>
    দিন কিংবা রাত সাজেক যেন শিল্পীর তুলিতে আঁকা ছবির মত, সময় গড়ায় তবু সাজেক পুরাতন হয় না। সাজেকে গেলে অবশ্যই সকালে
    ভোরের সময়টা মিস করবেন না। মেঘের খেলা আর সূর্যোদয়ের আলোর মেলা এই সময়েই বসে। এই জন্যে আপনাকে খুব ভোরে উঠে চলে
    যেতে হবে হ্যালিপ্যাডে, সেখান থেকেই সবচেয়ে সুন্দর সূর্যোদয় দেখা যায়। বিকেলের কোন উঁচু জায়গা থেকে সূর্যাস্তের রঙ্গিন রূপ আপনাকে
    বিমোহিত করবেই। আর সন্ধ্যার পর আকাশের কোটি কোটি তারার মেলা, আপনার প্রাণ জুড়িয়ে দিবে নিমিষেই। আকাশ পরিস্কার থাকলে দেখা
    পাবেন মিল্কিওয়ে বা ছায়াপথের। ঘুরে দেখতে পারেন চারপাশ ও আদিবাসীদের জীবন যাপন। সহজ সরল এই সব মানুষের সান্নিধ্য আপনার
    ভাল লাগবে। আর হাতে সময় থাকলে সাজেক ভ্যালি থেকে ফেরার পথে ঢু মেরে আসতে পারেন হাজাছড়া ঝর্ণা দীঘিনালা ঝুলন্ত ব্রিজ ও
    দীঘিনালা বনবিহার থেকে।
  </p>
  <h5>
    সাজেক যাওয়ার বিভিন্ন পথসমুহ:
  </h5>
  <p>
    খাগড়াছড়ি থেকে সাজেক ভ্রমণঃ খাগড়াছড়ি থেকে সাজেক এর দূরত্ব প্রায় ৭০ কিলোমিটার। খাগড়াছড়ি শহরের শাপলা চত্বরের কাছ থেকে
    জীপগাড়ি/চাঁন্দের গাড়ি রিজার্ভ নিয়ে সাজেক ভ্যালি ঘুরে আসতে পারবেন। যাওয়া আসা সহ দুইদিনের জন্যে ভাড়া নিবে ৮,০০০-১০,০০০
    টাকা। এক গাড়িতে করে ১২-১৫ জন যেতে পারবেন। তবে লোক কম থাকলে অন্য কোন ছোট গ্রুপের সাথে কথা বলে শেয়ার করে গাড়ি
    নিলে খরচ কম হবে। যদি তা সম্ভব না হয় তাহলে সিএনজি দিয়ে সাজেক যেতে পারবেন। রিজার্ভ ভাড়া লাগবে ৪০০০-৫০০০ টাকা। তবে
    পাহাড়ি উঁচু নিচু রাস্তা বলে সিএনজি দিয়ে ভ্রমণ না করাই ভালো।
  </p>
  <p>
    তবে আপনাকে অবশ্যই মাথায় রাখতে হবে, যেভাবেই যান আপনাকে দিঘীনালায় ৯টা থেকে ৯টা ৩০ মিনিটের মধ্যে পৌঁছাতে হবে। দিঘীনালা
    থেকে বাকি রাস্তা নিরাপত্তার জন্যে আপনাকে সেনাবাহীনির এসকোর্টে যেতে হবে। সেনাবাহিনীর এসকোর্ট দিনে দুইবার পাওয়া যায়। সকাল ৯
    টা ৩০ মিনিটে একবার, আবার ২ টা ৩০ মিনিটে আরেকবার। সকালের এসকোর্ট মিস করলে আপনাকে বিকেল পর্যন্ত অপেক্ষা করতে হবে,
    আর বিকেলের টা মিস করলে আপনাকে পরের দিন পর্যন্ত অপেক্ষা করতে হবে। এসকোর্ট ছাড়া যাবার অনুমতি পাবেন না। দিঘীনালা পৌঁছে
    হাতে সময় থাকলে হাজাছড়া ঝর্ণা ঘুরে দেখে আসতে পারবেন। দিঘীনালা থেকে যাবার পথে বাগাইহাট, মাচালং বাজার, তারপর রুইলুই
    পাড়া হয়ে পৌঁছে যাবেন সাজেকে। খাগড়াছড়ি শহর থেকে সাজেক যেতে সময় লাগবে দুই থেকে তিন ঘন্টা। এই সময় আঁকাবাঁকা উঁচু নিচু
    পাহাড়ি রাস্তা ধরে চলার সময়টুকু আপনার জন্যে স্মরণীয় হয়ে থাকবে। চারদিকে সারি সারি পাহাড় আর সবুজের সমারোহ আপনাকে ভুলিয়ে
    দেবে পথের সব ক্লান্তি।
  </p>
  <p>
    চট্রগ্রাম থেকে সাজেক ভ্রমণঃ চট্রগ্রাম থেকে খাগড়াছড়ি বা দিঘীনালা হয়ে সাজেক যেতে পারবেন। চট্রগ্রামের কদমতলী থেকে বিআরটিসি
    এসি বাস সারাদিনে ৪টি বাস চলাচল করে, ভাড়া ২০০টাকা । এছাড়া অক্সিজেন মোড় থেকে ১ ঘণ্টা পর পর শান্তি পরিবহনের (ভাড়া ১৯০টাকা)
    বাস চলাচল করে। চট্রগ্রাম থেকে বাসে করে খাগড়াছড়ি যেতে সময় লাগবে ৪-৫ ঘন্টা।
  </p>
  <p>
    রাঙ্গামাটি থেকে সাজেক ভ্রমণঃ রাঙ্গামাটি থেকে নৌপথ এবং সড়কপথ উভয়ভাবেই বাঘাইছড়ি যাওয়া যায়। রিজার্ভ বাজার লঞ্চঘাট থেকে
    প্রতিদিন সকাল ৭ টা ৩০ থেকে ১০টা ৩০ এর মধ্যে লঞ্চ ছাড়ে যেতে আর সময় লাগে ৫-৬ ঘন্টা। জনপ্রতি ভাড়া ১৫০-২৫০ টাকা।
    রাঙ্গামাটি বাস টার্মিনাল থেকে সকাল ৭ টা ৩০ থেকে ৮ টা ৩০ ঘটিকার মধ্যে বাস ছাড়ে, জনপ্রতি ভাড়া নেয় ২০০ টাকা। সময় লাগে
    ৬-৭ ঘন্টা। এছাড়াও ঢাকা ও চট্টগ্রাম থেকেও সরাসরি বাঘাইছড়ি যাওয়া সম্ভব। বাঘাইছড়ি থেকে জীপ (চাদেঁর গাড়ি) অথবা মোটর সাইকেলে
    সাজেক ভ্যালীতে পৌঁছানো যায় এতে জনপ্রতি ভাড়া লাগে ৩০০/-টাকা।
  </p>
  <h5>
    বিশ্রাম ও রাত্রিযাপনের জন্য হোটেল ও রিসোর্টসমূহ:
  </h5>
  <p>
    সাজেকে থাকার জন্যে অনেক ৪০ এর অধিক রিসোর্ট ও আদিবাসী কটেজ আছে। এক রাতের জন্যে জনপ্রতি ২০০ টাকা থেকে ১৫,০০০
    টাকা পর্যন্ত ভাড়া পরবে। ছুটির দিনে যেতে চাইলে আগে মাসখানেক আগে থেকেই বুকিং দিয়ে রাখা ভালো, নয়তো ভালো রুম পাবার
    নিশ্চিয়তা কম। আর কম দামে থাকতে চাইলে আদিবাসী কটেজ গুলোতে থাকতে পারেন। এছাড়া বর্তমানে পরিবেশের সাথে খাপ খাইয়ে
    নতুন নতুন অনেক কটেজ হয়েছে। সাজেকের সব কটেজ থেকেই মোটামুটি সুন্দর ভিউ পাওয়া যায়।
  </p>
  <p>
    সাজেকের রিসোর্টগুলোর মধ্যে- রিসোর্ট রুংরাং (Resort RungRang), সাজেক রিসোর্ট (Sajek Resort), রুন্ময় রিসোর্ট (Runmoy Resort),
    মেঘ মাচাং (Megh Machang), লুসাই কটেজ (TGB Lushai Cottage), জুমঘর ইকো রিসোর্ট (Jumghor Eco Resort), আলো রিসোর্ট (Alo Resort),
    মেঘ পুঞ্জি রিসোর্ট (Meghpunji Resort) প্রভৃতি উল্লেখযোগ্য। এছাড়াও স্বল্প খরচে থাকার জন্য সেখানে বিভিন্ন আদিবাসী ঘরও রয়েছে।
  </p>
  <p>
    এছাড়া রাঙামাটি শহরের বাইরেও বিভিন্ন উপজেলায়ও সম্ভাবনাময় অসংখ্য পর্যটন স্পট রয়েছে। এগুলোর বেশিরভাগের অবস্থান দুর্গম এলাকায়।
    এর মধ্যে বাঘাইছড়ির পাবখালী অভয়ারণ্য, সাজেক ভ্যালি, বিলাইছড়ির রাইনক্ষ্যং হ্রদ বা বগা লেক, চট্টগ্রাম-রাঙামাটি সড়কের ঘাগড়ার হাজাছড়ি
    এলাকার প্রাকৃতিক ঝরণা, মগবানের বাংলাদেশ নৌবাহিনীর এলাকায় মনোরম পিকনিট স্পট অন্যতম।
  </p>
  <h5>
    যেভাবে রাঙ্গামাটি যাওয়া যায়:
    </h5>

  <p>
    ঢাকা থেকে ইচ্ছে করলে সরাসরি রাঙামাটি আসতে পারেন। অথবা চট্টগ্রাম হয়েও আসা যায়। চট্টগ্রাম থেকে এর দূরত্ব মাত্র ৭০ কিলোমিটার।
    আর ঢাকা থেকে চট্টগ্রাম হয়ে রাঙামাটি প্রায় সাড়ে ৩শ কিলোমিটার।
  </p>
  <p>
    ঢাকার কমলাপুর থেকে এস আলম ও ইউনিকসহ বিভিন্ন পরিবহনে যাওয়া যায়। এছাড়া চট্টগ্রাম নগরীর অক্সিজেন মোড় থেকে এক ঘণ্টা
    পরপর পাহাড়িকা বাস এবং প্রতি আধা ঘণ্টা পর বিরতিহীন বাস ছেড়ে যায় রাঙামাটির উদ্দেশে। ভাড়া পড়বে জনপ্রতি ১০০ থেকে ১৩০ টাকা।
    আরও একটু আয়েশে যেতে চাইলে উঠতে পারেন এস আলম কিংবা ইউনিক চেয়ার কোচে। তবে এগুলো সব সময় পাওয়া না গেলেও স্টেশন
    রোড থেকে এক ঘণ্টা পর পর পাওয়া যায় আরামদায়ক বিআরটিসি বাস। নগর থেকে রাঙামাটি যেতে সময় লাগবে দুই থেকে আড়াই ঘণ্টা।
  </p>
  <h5>
    অবস্থান ও রাত্রিযাপনের জন্য স্থানসমূহ:
  </h5>
  <p>
    একটু নিরিবিলি পরিবেশে থাকতে চাইলে উঠতে পারেন রাঙামাটি পর্যটন মোটেলে। এখানে সিঙ্গেল রুমের পাশাপাশি ডবল রুমও রয়েছে।
    প্রতিটি রুমের জন্য ভাড়া গুনতে হবে এসি – ২,২০০ টাকা এবং নন এসি – ১,৪০০ টাকা।
  </p>
  <p>
    এছাড়াও বেসরকারি হোটেলে রাতযাপন করা যায়। সেক্ষেত্রে, ভাড়া নিতে পারেন পৌরসভা কার্যালয়ের পাশে অবস্থিত হোটেল সুফিয়া,
    দোয়েল চত্ত্বরে অবস্থিত নতুন আঙ্গিকে তৈরিকৃত হোটেল প্রিন্স, রিজার্ভ বাজারের গ্রিন ক্যাসেল, কলেজ গেটের মোটেল জর্জ কিংবা
    বনরূপার হোটেল নিডস হিল, পুরাতন বাস ষ্টেশনে অবস্থিত হোটেল হিল প্যালেস।

    এসব হোটেলে সিঙ্গেল রুমের ভাড়া ৫০০ থেকে ১২০০ টাকা এবং ডাবল রুম ৯০০ থেকে ২০০০টাকা। এদেরে মধ্যে এসি ও নন-এসি
    দুই ধরনেরই রূম রয়েছে। এর বাইরে মাঝারি মানের হোটেলের মধ্যে রয়েছে হোটেল ডিগনিটি, সমতা বোর্ডিং, হোটেল আনিকা, হোটেল
    আল-মোবা, হোটেল সৈকতসহ আরো বেশকিছু আবাসিক হোটেল।
  </p>
  <p>
    তবে নতুন দম্পতিদের জন্য স্মরণীয় একটি দিন হবে যদি তারা থাকতে পারেন পর্যটন কমপ্লেক্সের হানিমুন কটেজে। অনন্য শৈলীতে নির্মিত
    কটেজের একটি রুমের ভাড়া পড়বে এসি ৬ হাজার আর ননএসি ৩ হাজার ২শ টাকা। বিভিন্ন ছুটির দিনে পর্যটক বেশি থাকার কারণে
    আগেভাগেই রুম বুকিং দিলে ভালো হয়। তা না হলে রুম পাওয়া নিয়ে শঙ্কা থেকেই যাবে।
  </p>
  <h5>
    যোগাযোগ:
  </h5>
  <p>
    অগ্রিম বুকিং দিতে যোগাযোগ করতে পারেন</br>
    পর্যটন মোটেল: ০৩৫১-৬৩১২৬,</br>
    সুফিয়া হোটেল: ০৩৫১-৬২১৪৫,</br>
    গ্রিন ক্যাসেল: ০৩৫১-৬১২০০,</br>
    মোটেল জজ: ০৩৫১-৬৩৩৪৮,</br>
    হোটেল প্রিন্স: ০১৯১৩০৭০৮৬৮, ০১১৯১৫৫৬৮৮৮ ও ০৩৫১৬১৬০২।
  </p>
</div>
