<div class="container top-space">
  <h1>লালমাই পাহাড় (কুমিল্লা)</h1>
  <p>
    প্রাচীন আর সমৃদ্ধশালী জেলাগুলোর নাম বললে কুমিল্লার নামটা একদম উপরের দিকেই আসে। যার কারণে জেলাটিকে নিয়ে দেশের মানুষের
    একটা আলাদা আগ্রহ রয়েছে। শিল্প সাহিত্যসহ সবকিছুর পাদপীঠ চট্টগ্রাম বিভাগাধীন উক্ত জেলাটি। নিজস্ব স্বকীয়তা দিয়ে আজও ঐতিহ্যের
    ধারা বজায় রেখেছে এই কুমিল্লা। খাদি কাপড় ও রসমালাইয়ের জন্য বিখ্যাত এই জেলার কুঠির-মৃৎ-কারু শিল্পও বেশ নামকরা। কালের বিবর্তনে
    এ জেলার অনেক ঐতিহ্য হারিয়ে গেলেও কিছু তার স্বকীয়তা বজায় রেখেছে। এছাড়াও এই জেলায় রয়েছে বেশকিছু দর্শনীয় স্থান। তারমধ্যে
    লালমাই পাহাড় অন্যতম। পাহাড়টি কুমিল্লার ঐতিহ্য ও প্রাকৃতিক সৌন্দর্যের প্রতীক।
  </p>
  <img src="/assets/lalmai/main.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
  
  <div class = "Top_image_space">
   <p>
      লালমাই পাহাড় (Lalmai Pahar) বাংলাদেশের কুমিল্লা জেলার লালমাই উপজেলায় অবস্থিত একটি বিচ্ছিন্ন পর্বতশ্রেণী। প্রায় পঁচিশ লক্ষ বছর
      আগে প্লাইস্টোসিন যুগে এই পাহাড় গঠিত হয়েছিল বলে অনুমান করা হয়। সে হিসেবে এটি বাংলাদেশের বরেন্দ্রভূমি এবং মধুপুর ও ভাওয়াল
      গড়ের সমকালীন। লালমাই পাহাড় এর দৈর্ঘ্য ৮ কিলোমিটার এবং এর সবচেয়ে চওড়া অংশ ৪.৮ কিলোমিটার। এর সর্বোচ্চ উচ্চতা ৪৬ মিটার।
      পাহাড়টির উত্তর অংশ ময়নামতি পাহাড় এবং দক্ষিণ অংশ লালমাই পাহাড় নামে পরিচিত। লালমাই পাহাড়ের মাটি লাল রংয়ের। যার কারণে
      একে লালমাই পাহাড় বলা হয়।
     </p>
  </div>
  <p>
    কুমিল্লার লালমাই পাহাড় নিয়ে একটি গল্প প্রচলিত আছে, রাম ও রাবণ এর মধ্যে যখন যুদ্ধ সংগঠিত হয় সে সময় রামের ছোট ভাই লক্ষণ
    গুরুতর আহত হলে, বৈদ্যের নির্দেশ অনুযায়ী বৈশল্যকরণী গাছের পাতার রস ক্ষত স্থানে লাগানোর নির্দেশ দেয়। বৈদ্যের মতে, বৈশল্যকরণী
    পাতার রস লাগালে লক্ষণ ভালো হয়ে যাবে। আর তাই হনুমান বৈশল্যকরণী গাছ নিয়ে আসার জন্য হিমালয়ের উদ্দেশ্যে যাত্রা করে। তবে
    হনুমান বৈশল্যকরণী গাছ না চিনতে পারায় গাছসহ পুরো হিমালয় পর্বতকেই তুলে নিয়ে আসে। চিকিৎসা শেষ হলে পর্বত টা যথাস্থানে রাখার
    জন্য হনুমান রওনা দেয়। কিন্তু যাত্রাপথে পর্বত এর কিছু অংশ কুমিল্লার লমলম সাগরে পরে যায়। তখন থেকেই এ স্থানের নাম লালমাই নামেই পরিচিত।
  </p>
    <p>
    এছাড়া আরো কথিত আছে এক রাজার নাকি দুই কন্যা ছিল। এক কন্যার নাম লালমতি আরেক কন্যার নাম ময়নামতি। তাদের নামানুসারে
    এই লালমাই ও ময়নামতি পাহাড়ের নামকরণ করা হয়েছে। কোথাও পাহাড়ের মাথা জুড়ে সবুজ, কোথাও ন্যাড়া। কুমিল্লা সদর, সদর দক্ষিণ
    ও বরুড়া উপজেলা জুড়ে লালমাই পাহাড়। এ পাহাড়ে রয়েছে অপার সমৃদ্ধির হাতছানি। এখানে পতিত জমিতে চাষ হতে পারে কমলা। এখন
    চাষ হচ্ছে করলা, সিম, কচু, কাঠ আলুসহ নানা ধরনের সবজি। লালমাই পাহাড়ের উঁচু-নিচু টিলার চূড়া, ঢাল ও টিলার ফাঁকে ফাঁকে, পাহাড়ের
    পাদদেশে ও আশপাশের সমতল ভূমিতে গাছে গাছে প্রচুর কাঁঠাল ধরে। বিশেষজ্ঞদের মতে, মাটির গঠন অনুযায়ী প্রাচীন এ জনপদে অনুসন্ধানে
    বেরিয়ে আসতে পারে তেল গ্যাসের মতো খনিজ সম্পদ।
  </p>
  <p>
    লালমাই বাজার থেকে পশ্চিম দিকে একটু হেঁটে গেলেই দেখতে পাবেন সবুজ গাছ-গাছালি ঘেরা লালমাই আঞ্চলিক স্বাউট প্রশিক্ষন কেন্দ্র।
    এবার উত্তর দিকে ইটের সলিং করা সড়ক ধরে হাটুন টাঙ্কু টিলা এলাকায় প্রায় দেড় কি.মি পথ। দুপাশে সারি সারি কাছগাছ আর লালমাটির
    তৈরি করা সড়কটির উঁচু নিচু স্থান অতিক্রম করার আনন্দটাই আলাদা।
  </p>
  <p>
    টাঙ্কু টিলাটি সমতল ভূমি থেকে প্রায় ২০০ ফুট উপরে। এ টিলার উপর পাওয়া গেছে গ্যাসক্ষেত্র। আর এর নামকরন করা হয়েছে লালমাই
    গ্যাস। এটি এখনো চালু করা হয়নি, না করা হলেও উত্তোলন করে জ্বালিয়ে পরীক্ষা করা হয়েছে। পাহাড়ের মাথা কেটে সমান করে কূপের
    এলাকাজুড়ে নিরাপত্তা বেষ্টণী দেওয়া হয়েছে। আপনি ভেতরে ঢুকতে পারবে না। তবে চারিদিক ঘুরে দেখতে পারেন। ছবি তুলতে পারেন।
    পাহাড়ের উপর গ্যাসফিল্ড কর্মকর্তা-কর্মচারীদের জন্য চায়ের স্টল রয়েছে। ইচ্ছা করলে চা পানের সঙ্গে একটু বিশ্রাম নিতে পারেন ।
    গ্যাসক্ষেত্রের টিলার ১০০ ফুট দক্ষিণে সমতল ভূমিতে রয়েছে কেরোসিন তেলের খনি। অবশ্য এখন আর এখান থেকে তেল উত্তোলিত হয় না।
    স্বাধীনতার আগে আন্তর্জাতিক ষড়যন্ত্রের মাধ্যমে তেলের মূল কূপের মুখে সীসা ও অন্যান্য ধাতব পদার্থের মাধ্যমে এটি বন্ধ করে দেওয়া হয়।
    তবে এখনো রয়েছে কূপের অবস্থান, রিজার্ভ টাংকি ইত্যাদি।
  </p>
  <p>
    এবার চলে আসুন আবার বালুপথ মাড়িয়ে গেলেই হাতের ডানপাশে নজরে আসবে ক্ষতবিক্ষত একটি পাহাড়। এটি হচ্ছে লালমাই ফায়ারিং স্পট।
    এখানে বাংলাদেশ পুলিশ, আনসার,ভিডিপি সদস্যদের অস্ত্র চালানোর প্রশিক্ষন দেওয়া হয়। আপনি ঘুরে দেখতে পাবেন পাহাড়ের গায়ে বিধে
    আছে অজস্র গুলির অংশ। পাহাড়টির ওপরে উঠলে দেখতে পাবেন ছোট বড় অসখ্য টিলা আর দানব অসুরের হাড়ের বিরাট বিরাট অংশ মাটির
    সঙ্গে মিশে আছে। ইচ্ছে করলে পাহাড়ি পথ ধরে হাঁটতে পারেন। তবে বেশিদূর যাবেন না। লোকলয়ের বাইরে ছিনতাইকারীর ভয় রয়েছে। পাহাড়ের
    পাশে বাড়িগুলোতে অসংখ্য বাঁশঝাড়। এ বাঁশঝাড়ে চড়ুই পাখির কিছির মিচির শব্দে আপনি মোহিত হবেন। পাহাড়ে উঠানামা করতে সাবধানতা
    অবলম্বন করবেন। নতুবা পা ফসকে পড়তে পারেন। এবার ফায়ারিং স্পট থেকে দক্ষিনে দিকে পাহাড় কাটা রাস্তা হয়ে ১ হাজার ফুট অতিক্রম
    করে এলেই দেখতে পবেন সামনে চাঁদপুর মহাসড়ক। বাম পাশে লালমাই বাংলাদেশ বেতার কেন্দ্র এবং ডান পাশে লোটাস কামাল ইন্ডাস্ট্রিয়াল পার্ক।
  </p>
  
  <p>
    লালমাই পাহাড়েরই একটি স্থানের নাম সালমানপুর। এই সালমানপুরেই ২০০৬ সালে চালু হয় ঐতিহ্যবাহী কুমিল্লা বিশ্ববিদ্যালয়। একই এলাকায়
    প্রতিষ্ঠিত হয়েছে সিসিএন পলিটেকনিক ইনস্টিটিউটও। এখানে রয়েছে শালবন বিহার। পূর্বে এই প্রত্নস্থানটি ‘শালবন রাজাবাড়ি’ নামে পরিচিত ছিল।
    এর আসল নাম ‘ভবদেব মহাবিহার’।
  </p>
  <p>
    এই বিহারটি খননে পাওয়া গেছে বিপুল পরিমাণ প্রত্নবস্তু, যা এখন ময়নামতি জাদুঘরে শোভা পাচ্ছে। এর অদূরেই রয়েছে ময়নামতি বৌদ্ধবিহার।
    এখানে অষ্টম শতকের পুরাকীর্তি রয়েছে। এখানকার বিভিন্ন স্পটের মধ্যে শালবন বিহার ও বৌদ্ধ বিহার অন্যতম। ৩ বৌদ্ধ বিহার থেকে ৩
    মাইল উত্তরে দেখতে পাবেন কুটিলামুড়া ও রূপবান মুড়া। এরও উত্তর-পশ্চিমে কুমিল্লা সেনানিবাস এলাকায় অবস্থিত চারপত্র মুড়া। এখানে
    বনবিভাগ ২টি পিকনিক স্পট চালু করেছে।
  </p>
  <p>এখানেই রয়েছে দৃষ্টিনন্দন বাংলাদেশ পল্লী উন্নয়ন একাডেমি (বার্ড) । রাজধানী ঢাকা থেকে প্রায় ১০০ কিলোমিটার দূরে কুমিল্লার
    ময়নামতি-লালমাই এর পাহাড়ি অঞ্চলের কোটবাড়ি নামক স্থানে বাংলাদেশ পল্লী উন্নয়ন একাডেমী (BARD) অবস্থিত। আঁকাবাঁকা পাহাড়ি
    এলাকায় প্রায় ১৫৬ একর জমির উপর বিএআরডি ক্যাম্পাসটি অবস্থিত। ক্যাম্পাসের বেশীরভাগ অংশেই রয়েছে অর্কিড গাছ, সবজি বাগান,
    নার্সারি, পার্ক। এখানকার রাস্তাগুলোর পাশে রয়েছে ছায়াবৃক্ষ। এলাকার ভৌগলিক চরিত্রের সাথে সামঞ্জস্য রেখে এখানকার অফিস,
    বাংলো, ডরমিটরি ও কর্মকর্তা কর্মচারীদের বাসভবনগুলো নির্মাণ করা হয়েছে। পরিকল্পিতভাবে স্থাপনা নির্মাণের ফলে সবুজে ঘেরা বিএআরডি
    ক্যাম্পাসটিতে সর্বদা একধরনের প্রশান্তি বিরাজ করে। বার্ডের ভিতরের নয়নাভিরাম রাস্তা দিয়ে সামনে এগুলেই দেখতে পাওয়া যাবে নীলাচল
    পাহাড়। দু’পাহাড়ের মাঝখানে দেখতে পাওয়া যাবে অনিন্দ্যসুন্দর বনকুটির।
  </p>
  <p>
    চাঁদপুর মহাসড়ক ধরে ১ হাজার ৫০০ ফুট পশ্চিমে বরুড়া সড়ক ধরে গেলে দেখতৈ পাবেন লালমাই পাহাড়ের প্রায় ৩০০ ফুট উপরে হিন্দু
    সম্প্রদায়ের তীর্থস্থান চন্ডীমুড়া মন্দির। আর এই চন্ডি মন্দিরদ্বয়ের নামানুসারে এলাকাটি চণ্ডীমুড়া নামে বেশ পরিচিত। লালমাই পাহাড়ের চূড়ার
    অবস্থিত চণ্ডীমুড়ার এই দুইটি মন্দির। কুমিল্লায় সনাতন ধর্মাবলম্বীদের যে কয়েকটি তীর্থস্থান রয়েছে তার মধ্যে চণ্ডীমুড়া ঐতিহ্য অন্যতম।
    কুমিল্লার আঞ্চলিক ভাষায় অপেক্ষাকৃত ছোট পাহাড়কে মুড়া বলা হয়। পাহাড়ের গায়ে সিমেন্টের সিঁড়ি বেয়ে শীর্ষে উঠে মন্দির দেখার
    আনন্দই আলাদা।
  </p>
    
  <p>
    কুমিল্লা শহরের প্রায় ১৩ কিলোমিটার পশ্চিমে কুমিল্লা-চাঁদপুর-বরুড়া সড়কের সংযোগস্থলে দেড়’শ ফুট পাহাড়ের উপরে অবস্থিত চন্ডীমুড়া
    মন্দির। কুমিল্লা পাদুয়ারবাজার বিশ্বরোড থেকে বাস অথবা সিএনজি যোগে যেতে পারেন। লালমাইয়ের পাশেই আরও রয়েছে নূরজাহান ইকো
    পার্ক, রাজেশপুর ফরেস্ট, সম্রাট আওরঙ্গজেবের ভাই শাহজাদা সুজার নাম অনুসারে নির্মিত শাহ সুজা বাদশাহ্ মসজিদ, রাজা ধর্মমানিক্যের
    খননকৃত ২৩.১৮ একর আয়তনের ধর্মসাগর, ভাষাসৈনিক ধীরেন্দ্রনাথ দত্তের বাড়ি, দ্বিতীয় বিশ্বযুদ্ধের স্মৃতিবিজড়িত ময়নামতি ওয়ার সেমিট্রি,
    রাণীর বাংলো, ত্রিশ আউলিয়ার মাজার, নারী জাগরণের অন্যতম পথিকৃত নবাব ফয়জুন্নেছার বাড়ি, পাশেই রয়েছে কুমিল্লার সুখ-দুঃখ গাঁথা
    গোমতী নদী। এছাড়াও রয়েছে কুমিল্লা পৌর শিশু পার্ক, চিড়িয়াখানা ও ঐতিহ্যবাহী কুমিল্লা ভিক্টোরিয়া কলেজ।
  </p>
    এটি কুমিল্লার অন্যতম একটি দর্শনীয় স্থান। চণ্ডীমুড়ায় ২টি মন্দির পাশাপাশি অবস্থিত। দক্ষিণ পাশের মন্দিরটি চণ্ডী মন্দির ও উত্তর পাশের
    মন্দিরটির শিব মন্দির। মন্দির দুটো সপ্তম শতাব্দীতে নির্মিত। সপ্তম শতাব্দীর খড়গ বংশীয় বৌদ্ধ ধর্মাবলম্বী রাজা দেবখড়গের রানী প্রভাবতী
    একটি হিন্দু মন্দির প্রতিষ্ঠা করে দেবী সর্বাণীর মূর্তি স্থাপন করেছিলেন। রানী প্রভাবতী হিন্দু ধর্মাবলম্বী ছিলেন। চণ্ডীমুড়ার উচ্চতা প্রায় ১৫০
    ফুটের উপরে। এর চূড়ায় অবস্থিত এই মন্দির। নিচ থেকে এতে উঠতে ছোট-বড় মিলিয়ে ১৮০টি সিঁড়ি আছে। সমুদ্র বেষ্টিত পলল গঠিত চত্বর
    সমভূমি রূপে উদ্ভাসিত মহাতীর্থ চণ্ডীমুড়া, সপ্তম শতাব্দীতে বৌদ্ধরাজ দেবখড়গের স্ত্রী প্রভাবতী দেবী অমরকীর্তি স্থাপনে বদ্ধপরিকর হয়ে ২টি
    মন্দির স্থাপন করেন। একটি চণ্ডী মন্দির, অপরটি শিব মন্দির। চণ্ডী মন্দিরে অষ্টভুজা সর্বাণী মহা সরস্বতী, অপরটিতে শিবমূর্তি স্থাপন করেন।
    অদূরে দক্ষিণ-পূর্ব দিকে এক বিশাল দিঘি খনন করেন। বরুড়া থানার অন্তর্গত গোষণা গ্রামের স্বামী আত্ননন্দ গিরি মহারাজ স্বপ্নাদিষ্ট হয়ে
    পরিত্যক্ত মন্দিরগুলো পুনঃসংস্কার করেন।
  </p>
  
  <p>
    বর্তমানে সনাতন ধর্মালম্বী ছাড়াও নানা ধর্মের পর্যটক প্রতিদিনই এই মন্দির পরিদর্শনে আসেন। সরেজমিন দেখা যায়, চণ্ডী মন্দিরের পেছনের
    দেয়ালে লম্বালম্বিভাবে বেশ বড় ফাটল ধরেছে। মন্দির দুইটিতে নতুন রং করা হলেও ফাটল মেরামতের কোনো ব্যবস্থা নেওয়া হয়নি। প্রতি বছর
    তিনবার চণ্ডীমুড়ায় ভক্তবৃন্দের সমাবেশ ঘটে। কার্তিক মাসের কালীপূজার সময় দেওয়ানি উৎসব, পৌষ-মাঘ মাসে গীতা সম্মেলন এবং
    ফালগুন-চৈত্র মাসে বাসন্তী মহাঅষ্টমী। আশ্রমের লোকজনসহ আগত ভক্তবৃন্দের বিশ্বাস-মা চণ্ডী দেবীর কৃপা থেকে কেউ খালি হাতে
    ফেরে না। ১৯৫৫-৫৬ সালে তৎকালীন পূর্ব পাকিস্তান সরকারের প্রত্নতাত্বিক বিভাগ লালমাই-ময়নামতিতে জরিপ চালিয়ে কুমিল্লার প্রত্নতাত্বিক
    যে ৫৪টি স্থান সংরক্ষণের জন্য নির্দিষ্ট করে তার মধ্যে চণ্ডীমুড়া অন্যতম।
  </p>
  <h5>
    যেভাবে যাওয়া যায়ঃ
  </h5>
  <p>
    কুমিল্লা হয়েঃ ঢাকা থেকে কুমিল্লা যাওয়ার জন্য যে কেউ রেলপথ অথবা সড়কপথ বেছে নিতে পারেন। কমলাপুর রেলওয়ে স্টেশন থেকে
    ট্রেনে করে অতি সহজে সরাসরি চলে যেতে পারেন কুমিল্লায়। অথবা সায়েদাবাদ থেকে বাসে করেও যেতে পারেন অনায়াসে।
  </p>
  <p>
    সায়েদাবাদ বাস টার্মিনাল থেকে এসি এবং নন এসি উভয় ধরণের বাসের ব্যাবস্থা রয়েছে। এ সকল বাস সার্ভিসের মধ্যে তিশা, এশিয়া লাইন,
    রয়েল, প্রিন্স, স্টার লাইন ও বিআরটিসি উল্লেখযোগ্য। এসকল সার্ভিসে যাতায়াতের জন্য ভাড়া পড়তে পারে ১০০ – ৩০০ টাকা।
    চাঁদপুর হয়েঃ এই রূটে লালমাই পাহাড়ে যেতে সড়কপথের যোগাযোগই ভালো। ঢাকা-চট্টগ্রাম-নোয়াখালী-চাঁদপুর রেলপথে লালমাই
    স্টেশন থাকলেও এখানে আন্তঃনগর এক্সপ্রেস ট্রেনের কোন বিরতি নেই। আর তাই ঢাকা-চট্রগ্রাম, ঢাকা-চাঁদপুর বাসযোগে এসে লালমাই
    বাজারে নামতে হবে।
  </p>
  <h5>
    অবস্থানের জন্য হোটেলসমূহঃ
    </h5>
  <ul style="text-align: left">
    <li>
      <span style="font-size: large;font-weight: bold">★★সিয়াম হোটেল (আবাসিক)</span></br>
      ✆ 01749-045535</br>
      শাসনগাছা, কুমিল্লা।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">★★ঢাকা রেস্ট হাউজ (আবাসিক) </span></br>
      ✆ 01558-712365</br>
      শাসনগাছা রেল গেইট, কুমিল্লা।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">★★হোটেল ঈশিকা (আবাসিক)</span></br>
      ✆ 01720-371123</br>
      বাদশা মিয়া বাজার,শাসনগাছা, কুমিল্লা।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">★★হোটেল মহানগর (আবাসিক) </span></br>
      ✆ 01555-014558</br>
      ✆ 01819-147382</br>
      ✆ 01711-173565</br>
      বাদশা মিয়া বাজার, শাসনগাছা, কুমিল্লা।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">★★হোটেল ময়নামতি (আবাসিক)</span></br>
      ✆ 01681-512430</br>
      রেইসকোর্স (ইস্টার্ন প্লাজার পশ্চিম দিকে), কুমিল্লা।

    </li>
  </ul>
</div>