<div class="container top-space">
    <h1>বাংলাদেশ জাতীয় চিড়িয়াখানা</h1>

    <p>
        চিত্তবিনোদন আর পশু-পাখি সম্পর্কে জানার অন্যতম মাধ্যম হচ্ছে চিড়িয়াখানা। অবসর বা ছুটির দিনে ঢাকাসহ দেশের অন্যান্য
        এলাকা হতে আগত ভ্রমণপিপাসু ও পশু-প্রাণী সম্পর্কে জানতে আগ্রহীগণ বাংলাদেশ জাতীয় চিড়িয়াখানায় ঘুরে আসতে পারেন। ঢাকার
        মিরপুরে অবস্থিত এটি বাংলাদেশের সর্ববৃহৎ চিড়িয়াখানা। জাতীয় চিড়িয়াখানাটির পূর্ব নাম ছিল ঢাকা চিড়িয়াখানা যা
        বাংলাদেশ মৎস্য ও প্রাণিসম্পদ মন্ত্রণালয়ের অধিনস্থ একটি প্রতিষ্ঠান। ১৯৫০ সালে চিড়িয়াখানাটি হাইকোর্ট চত্বরে
        জীবজন্তুর প্রদর্শনের উদ্দেশ্যে প্রতিষ্ঠিত হয়েছিল। পরে ১৯৭৪ সালে বর্তমান স্থানে নেয়া হয় ও একই বছর ২৩ জুন
        জনসাধারণের জন্য উন্মুক্ত করে দেয়া হয়। প্রতিদিন এখানে প্রায় ১০ হাজারের ও বেশি দর্শনার্থী আসেন এবং দিন দিন এর
        সংখ্যা বাড়ছে বলে চিড়িয়াখানার কর্মকর্তারা জানান।

    </p>
    <div class = "text-center">
    <img src="/assets/zoo/main.jpg" class="float-img" alt="Cinque Terre" width="70%" height="400px">
    </div>

    <div class="Top_image_space">
        <p>
            বাংলাদেশ জাতীয় চিড়িয়াখানা রাজধানী ঢাকার মিরপুর থানাধীন সেকশন-০২ এ অবস্থিত। এর পশ্চিম দিক দিয়ে বয়ে গেছে তুরাগ
            নদী। আণুমানিক ১৮৬.৬০ একর জায়গার উপর স্থাপিত চিড়িয়াখানাটির উত্তর পাশে রয়েছে উত্তর লেক এবং দক্ষিণ দিকে দক্ষিণ
            লেক। এর প্রবেশ ও বহির্গমণ- উভয় পথই পুর্বপাশে অবস্থিত। অসংখ্যা উদ্ভিদের সংগ্রহশালা নিয়ে গড়ে উঠা বোটানিক্যাল
            গার্ডেনটি এর ঠিক পাশেই অবস্থিত।

        </p>
    </div>
    <h5>
        ইতিহাস


    </h5>
    <p>

        ঊনবিংশ শতাব্দীর শেষভাগে ঢাকা শহরের শাহবাগে তৎকালীন ঢাকার নবাবরা একটি ব্যক্তিগত চিড়িয়াখানার গোড়াপত্তন করেন।
        সেখানে বাঘ হরিণসহ বেশকিছু প্রজাতির প্রানী বিদ্যমান ছিল। ১৯৪৭ সালে পাকিস্তান সৃষ্টির পর বাংলাদেশ বা তৎকালীন
        পূর্ব-পাকিস্তানে একটি চিড়িয়াখানার অভাব অনুভূত হয়। পঞ্চাশের দশকের শেষভাগে ঢাকার সুপ্রিম কোর্টের সামনে বর্তমান
        ঈদগাহ এলাকায় ৪-৫ একর জায়গা জুড়ে ছোট আকারের একটি চিড়িয়াখানা স্থাপন করা হয়। চিড়িয়াখানাটিতে একটি বড় পুকুর
        এবং পাড়ের খানিকটা জায়গা জুড়ে একটি বলাকা প্রদর্শনী ছিল। সেখানে রাজহাঁস, পাতিহাঁস, শীতের পরিযায়ী হাঁস এবং
        অন্যান্য পাখি ছিল। হাড়গিলা, সারস এবং ময়ূরও প্রদর্শিত হত। বানর, হনুমান আর হরিণ ছিল। সরিসৃপের মধ্যে অজগর ও কুমির
        ছিল প্রধান।

    </p>
    <p>
        ঢাকায় একটি আধুনিক চিড়িয়াখানা স্থাপনের ব্যাপারে প্রথম সরকারী সিদ্ধান্ত নেওয়া হয় ১৯৫০ খ্রিস্টাব্দে। তৎকালীন
        কৃষি, সহযোগিতা ও ত্রাণ বিভাগের এক প্রজ্ঞাপনের মাধ্যমে ঢাকার উপকণ্ঠে একটি চিড়িয়াখানা ও উদ্ভিদ উদ্যান স্থাপনের
        ঘোষণা দেওয়া হয়। সে বছর ২৬ ডিসেম্বর প্রস্তাবনাটি চুড়ান্তভাবে ঘোষিত হয়। এরপর চিড়িয়াখানা স্থাপনের কোনপ্রকার
        উদ্যোগ ছাড়াই এক দশক পার হয়ে যায়। ১৯৬১ সালের ১১ মার্চ খাদ্য ও কৃষি বিভাগের এক প্রজ্ঞাপনের বরাতে এক উপদেষ্টা
        পরিষদের নাম ঘোষণা করা হয়। এ পরিষদের কাজ ছিল প্রস্তাবিত চিড়িয়াখানা ও উদ্ভিদ উদ্যান স্থাপন ও ব্যবস্থাপনার
        ব্যাপারে সরকারকে পরামর্শ দান। তৎকালীন পশুপালন সার্ভিসের পরিচালক এই পরিষদের সদস্য সচিব হিসেবে নিয়োগ লাভ করেন
        বাংলাদেশ জাতীয় চিড়িয়াখানার পূর্বনাম ছিল ঢাকা চিড়িয়াখানা যা ১৯৭৪ সালে জনসাধারণের জন্য উন্মুক্ত করা হয়।

    </p>
    <p>
        ১৯৬৪ সালে ঢাকা চিড়িয়াখানা নামে আনুষ্ঠানিক যাত্রা শুরু করে। পরে জায়গা স্বল্পতার কারণে ১৯৭৪ সালের ২৩ জুন এটি এর
        বর্তমান জায়গায় স্থানান্তরিত হয়। বর্তমানে চিড়িয়াখানাটি মিরপুর-২ এ ২১৩.৪১ একর জমির উপর অবস্থিত।
        চিড়িয়াখানাটি উদ্বোধন ও সর্বসাধনের জন্য উনকুক্ত হয় ১৯৭৪ সালের ২৩ জুন। বছরে প্রায় ৩০ লক্ষ দর্শনার্থী ঢাকা
        চিড়িয়াখানা পরিদর্শন করে থাকেন। ২০১৫ সালে ৫ ফেব্রুয়ারিতে নাম পরিবর্তন করে ঢাকা চিড়িয়াখানা থেকে বাংলাদেশ
        জাতীয় চিড়িয়াখানা নামকরণ করা হয়।

    </p>
    <p>
        প্রায় ৭৫ হেক্টর আয়তনের চিড়িয়াখানা চত্বরে ১৩ হেক্টর দটি লেক আছ, যেখনে প্রতিবছর শীতে অসংখ্য পরিযায়ী জলজ পাখি
        ভিড় জমায়। বিভিন্ন প্রজনন কর্মসূচির আওতায় ইতিমধ্যে বাঘ, সিংহ, চিতা, নানান জাতের বানর, এবং অনেক প্রজাতির পাখির
        প্রজননে সাফল্য অর্জিত হয়েছে ঢাকা চিড়িয়াখানায়।

    </p>

    <h5>
        চিড়িয়াখানায় সংরক্ষিত পশু-প্রাণীদের শ্রেনীবিভাগঃ

    </h5>
    <p>

        চিড়িয়াখানা সংরক্ষিত সমগ্র প্রাণীগুলোকে মোট পাঁচটি শাখায় বিভক্ত করে রাখা হয়েছে। শাখাগুলো হলো-

    </p>
    <p style="margin-left: 50px">&#9989;কার্নিভোর বা মাংসাসী প্রাণী।</p>
    <p style="margin-left: 50px">&#9989;বৃহৎ প্রাণী।</p>
    <p style="margin-left: 50px">&#9989;ক্ষুদ্র স্তন্যপায়ী ও সরীসৃপ প্রাণী।</p>
    <p style="margin-left: 50px">&#9989;পাখি এবং</p>
    <p style="margin-left: 50px">&#9989;ফিস একুরিয়াম শাখা।।</p>
    <h5>
        চিড়িয়াখানাটির সংক্ষিপ্ত বিবরণঃ

    </h5>

    <p>

        বর্তমানে চিড়িয়াখানায় বহু দেশি-বিদেশি পশুপাখি এবং বন্যপ্রাণি রয়েছে। চিড়িয়াখানাটিতে ১৯১ প্রজাতির ২১৫০
        মেরুদন্ডী প্রাণি রয়েছে। এর মধ্যে ৬৪ প্রজাতির ৫৫১ স্তন্যপায়ী প্রাণি, ১৫ প্রজাতির ৭৩ সরীসৃপ এবং ৩২ প্রজাতির ১০৪
        একুউরিয়াম মাছ আছে। এর সঙ্গে ৯১ প্রজাতির প্রায় ১৫০০ পাখি রয়েছে। দর্শনার্থীদের আকর্ষণ করার জন্য ১৫টি রয়েল
        বেঙ্গল টাইগার, ২১টি সিংহ, ৯টি জলহস্তী, প্রায় ২০০ বানর এবং ৩৩টি পাইথন রয়েছে। এর বাইরে আরও আছে ১১টি বাঘ, ১৬টি
        সিংহ, ৮টি জলহস্তি, ৬৫টি বানর এবং ১৪টি অজগর সাপ। এর পাশাপাশি আরও কিছু বিরল প্রাণি রয়েছে যেমন জেব্রা, এমু, গয়াল,
        কালো ভল্লুক ইত্যাদি।



    </p>
    <p>

        টিকেট কাউন্টার থেকে টিকেট সংগ্রহ করে পাশেই অবস্থিত প্রবেশপথ দিয়ে প্রবেশ করলে প্রথমেই চোখে পড়বে বানরের খাঁচা।
        এখানে আছে অসংখ্য ছোট বড় বানরের সমাহার। তরে এখানে সময় নষ্ট না করাই উত্তম। কারণ, আরো অনেক কিছু দেখার বাকি আছে।
        একেবারে দক্ষিণে আছে দক্ষিণ লেক, তার মাঝে বাবল দ্বীপ। চিড়িয়াখানার উত্তর-দক্ষিণে রয়েছে লম্বটে এলাকাজুড়ে ঘোড়া
        আকৃতির ওয়াটার বাক্, জেব্রা সহ আরো কিছু প্রাণি রয়েছে এদিকেই। পাশে রয়েছে কেনীয়ার এক শিংওয়ালা গণ্ডার। রয়েছে
        এদেশ থেকে বিলুপ্ত নীলগাই। চিড়িয়াখানায় অবস্থিত প্রাণি জাদুঘরে আছে ২৪০ প্রজাতির স্টাফিং করা জীব-জন্তু-পাখি।




    </p>

    <p>রয়েল বেঙ্গল টাইগারই ঢাকা চিড়িয়াখানা প্রধান আকর্ষণ। তবে, তার আগে দেখা মিলবে সিংহের সাথে। ভারতীয় ও এশিয়- উভয়
        প্রজাতির সিংহই রয়েছে এখানে। সিংহের খাঁচা পেরোলেই বাঘ ও ভাল্লুকের খাঁচা। বাঘ-সিঙ্গহের খাঁচার পাশে অসমতল ও
        খোলামেলা জায়গা এবং কৃত্বিম জলাশয়ের সমন্বয়ে তৈরী করা হয়েছে প্রাকৃতিক পরিবেশ যেখানে পশুরা কিছুটা উন্মুক্ত পরিবেশে
        চলাফেরা করতে পারে।

        কিছু কিছু দর্শণার্থী নিরাপত্তা বেষ্ঠনী অতিক্রম করে রয়্যাল বেঙ্গল টাইগারের খাচার কাছাকাছি চলে যায়, যা কোনোভাবেই
        ঠিক নয়। পর্যটকগণ চিড়িয়াখানা ভ্রমণের সময় এর নির্দেশনা সমূহ অবশ্যই মেনে চলতে সচেষ্ট থাকবেন।

    </p>

    <p>
        রয়েল বেঙ্গল টাইগার, সিংহ ও ভাল্লুকের খাঁচা পেড়িয়ে রয়েছে লেক, লেকের উপর রয়েছে বিশালকার পেলিক্যান পাখি।
        চিড়িয়াখানায় নানা রকমন দেশী বিদেশী জীব- জানোয়ার ছাড়াও রয়েছে কয়েকশ প্রজাতির পাখি। এদের মধ্যে ফ্লেমিংগো,
        রঙিন ফিজ্যান্ট, বিলুপ্তপ্রায় কুড়া, কাল শকুন, শঙ্খ চিল, ইমু, গোল্ডেন বক, ম্যাকাও, ময়ূর, সাদা ময়ূর, ধনেশ,
        কেশিয়ার প্রভৃতি উল্লেখযোগ্য।


    </p>
    <p>
        পুর্বেই উল্লেখ করা হয়েছে, সম্পূর্ণ বলধা গার্ডেনটি সাইকী ও সিবলী নামক দ’টি অংশে বিভক্ত। অংশ দু’টিতে সব মিলিয়ে ৮৭
        পরিবারের অন্তর্ভুক্ত ৭২০ প্রজাতির প্রায় পঁচিশ হাজার উদ্ভিদ রয়েছে। এই স্বল্প পরিসরে এত উদ্ভিদের নাম লিখে শেষ করা
        সম্ভব নয়। জ্যাকুইনিয়া, শারদমল্লিকা, কণ্ঠকলতা, গুস্তাভা, শ্বেতচন্দন, সাইকাস, স্বর্ণ অশোক, কুর্চি, ভুজপত্র, লতাবট,
        লতাচালতা, ক্যানেঙ্গা, নবমল্লিকা, ওলিওপ্রেগরেন্স, র‌্যাভেনিয়া, আফ্রিকান বকুল, নাগলিঙ্গম, উদয়পদ্ম, রাজ অশোক,
        অ্যারোপয়জন, আফ্রিকান বকুল, লতা জবা, স্কারলেট, কপসিয়া, হলুদ, দেবকাঞ্চন, কনকসুধা, কনকচাঁপা, জিঙ্গো বাইলোবা,
        গড়শিঙ্গা, মাধবী, পান্থপাদপ, ঘৃতকুমারি, তুড়কচন্ডাল, শতায়ু উদ্ভিদ, রুদ্র পলাশ, আমাজন লিলি, পিয়াল, পাখিফুল, কৃষ্ণবট
        আরও কতো কি। তাছাড়া নানা রকমের লতা জাতীয়, জলজ উদ্ভিদ ও ঔষধি বৃক্ষ তো রয়েছেই।

    </p>

    <p>
        পশু-প্রাণীদের মধ্যে আরও রয়েছে হায়েনা, উল্লুক, জলহস্তী, ঘোড়া, জিরাফ, লোনা পানির কুমির, মিঠা পানির কুমির, ঘড়িয়াল,
        বিভিন্ন প্রজাতির সাপ, কচ্ছপ, সজারু ইত্যাদি। রয়েছে হাতি ও মাহুত। দর্শণার্থীরা চাইলে নির্দিষ্ট মূল্য পরিশোধ করে
        হাতি কিংবা ঘোড়ার পিঠে চড়ার আনন্দও উপভোগ করতে পারবেন। বের হয়ে যাওয়ার ঠিক আগমূহুর্তে দেখা মিলবে হরিণের। উন্মুক্ত
        যায়গার বেশকিছু চিত্রা হরিণদেরকে দেখা যাবে আহাররত কিংবা দল বেঁধে ঘুরতে।

        জিরাফ তার লম্বা গলার সাহায্যে দীর্ঘ দূরত্ব অতিক্রম করে দর্শকদের নিকট পৌঁছে যায় এবং তাদের সাথে ভাব জমায়। দর্শকরা
        আনন্দিত হয়ে অনেকে অনেক ধরণের খাবার দিয়ে থাকে যা কোনোভাবেই উচিৎ নয়। কারও দেয়া খাবার তাদের জন্য বিপদের কারণ হতে
        পারে।

    </p>

    <p>
        এখানকার সংরক্ষিত প্রাণির প্রজনন কর্মসূচির আওতায় ইতোমধ্যে বাঘ, সিংহ, চিতা, নানা জাতের বানর ও অনেক প্রজাতির পাখির
        প্রজননে সাফল্য অর্জিত হয়েছে। পৃথিবীর বিভিন্ন দেশের চিড়িয়াখানার সঙ্গে প্রাণিবিনিময়ের ব্যবস্থাও আছে। এখানে
        রয়েছে দুটি স্বচ্ছ পনির লেক যেখানে প্রতি বছর শীতে অসংখ্য পরিযায়ী জলজ পাখি ভিড় জমায়।


    </p>

    <p>
        এছাড়াও আবদ্ধ বন্যপ্রাণির প্রজনন উপযুক্ত ব্রিডিং প্রোগ্রামের আওতায় ঢাকা চিড়িয়াখানাকে দেশের সকল চিড়িয়াখানার
        কেন্দ্রীয় বন্যপ্রাণির প্রজনন কেন্দ্র হিসাবে গড়ে তোলার প্রক্রিয়া চলছে। এ জন্য উপযুক্ত ব্রিডিং প্রোগ্রাম ও
        বিশেষজ্ঞ পরামর্শকর সহায়তায় ক্যাপটিভ ব্রিডিং প্রোগ্রাম চালু করার উদ্যোগ গ্রহণ করা হবে। খাঁচায় আবদ্ধ অবস্থায়
        প্রজন্মের (Captive Breeding) ফলে অতিরিক্ত প্রাণিসমূহ প্রতিবছর দেশের ও বিদেশের বিভিন্ন চিড়িয়াখানার চাহিদা
        সাপেক্ষে প্রদান করা হবে।


    </p>
    <h5>
        বিনোদন ছাড়াও শিক্ষাক্ষেত্রে চিড়িয়াখানার অবদানঃ


    </h5>
    বর্তমান বিশ্বে চিড়িয়াখানাগুলিকে শুধু বিনোদনের কেন্দ্র হিসেবে বিবেচনায় না এনে শিক্ষা কার্যক্রম তথা কনজার্ভেশন
    এডুকেশনের (Conservation Education) উপর বিশেষ গুরুত্ব দেওয়া হবে। তাই জ্যু এডুকেশন চিড়িয়াখানার কার্যক্রমের একটি
    গুরুত্বপূর্ণ অংশ। বর্তমানে ঢাকা চিড়িয়াখানায় বাংলাদেশ কৃষি বিশ্ববিদ্যালয়ের ভেটেরিনারি ও এ্যানিমেল হাজবেন্ড্রি
    অনুষদ, বিভিন্ন ভেটেরিনারি কলেজ থেকে আসা ছাত্র-ছাত্রীদের ইন্টারর্নশিপ চালু রয়েছে। এছাড়াও বিভিন্ন বিশ্ববিদ্যালয়ের
    শিক্ষার্থীরা প্রাণিবিদ্যা বিষয়ক উচ্চ শিক্ষার জন্য ঢাকা চিড়িয়াখানায় আসেন। প্রতিবছর এখানকার কর্তৃপক্ষ ১০০০
    শিক্ষার্থীকে ইন্টার্ণশীপ প্রশিক্ষণ প্রদান করে থাকে। পূর্ব আবেদনের প্রেক্ষিতে শিক্ষাসফরের জন্য চিড়িয়াখানায় আগত
    শিক্ষার্থীদের প্রবেশমূল্য মওকূফ করা হয়ে থাকে।

    </p>
    বর্তমানে ঢাকা চিড়িয়াখানায় কোন জ্যু-এডুকেশন সেন্টার নেই। তাই ভিশন ২০২১ -এর আওতায় জ্যু এডুকেশন সেন্টার নির্মাণ করা
    হবে। ‘স্থানীয়ভাবে বিপন্ন এবং বিলুপ্ত প্রাণি সংরক্ষণ’-এর উদ্দেশ্যে ছাত্রছাত্রী ও জনগণের মাঝে গণসচেতনতা বৃদ্ধির
    লক্ষ্যে এই এডুকেশনের ব্যবস্থা অধিক কার্যকর হবে। এখানে প্রতি সপ্তাহে একদিন স্কুল ছাত্রছাত্রীদের জন্য বিভিন্ন প্রাণি
    সম্পর্কে শিক্ষা প্রদান করা হবে এবং প্রতিদিন দর্শকদেরকে চিড়িয়াখানার মূল্যবান প্রাণি সম্পর্কে ধারণা দেয়ার জন্য
    ‘এ্যনিমেল টকশো’ চালু করা হবে।

    <p>
    </p>

    <h5>
        আরও যেসকল সার্ভিস ও সুযোগ-সুবিধা পাওয়া যাবেঃ

    </h5>
    <p>


        প্রতিটি খাঁচায় প্রাণিদের সম্পর্কে নানা ধরনের তথ্য দেয়া আছে। এতে দর্শনার্থীরা প্রাণিগুলো সম্পর্কে জানতে পারবে।
        তাছাড়া বিশাল চিড়িয়াখানাটির বিভিন্ন স্থানে ক্লান্ত দর্শনার্থীদের বসার ব্যবস্থা আছে। চাইলে জু গাইড নিতে পারবেন। আর
        বয়স্ক ও শারীরিকভাবে অক্ষমদের জন্য পাবেন হুইল চেয়ার। ভেতরে নামাজের জন্য মসজিদ রয়েছে যাতে মহিলাদের নামাজের জন্যও
        আলাদা ব্যাবস্থা রয়েছে।


    </p>

    <p>
        বাণিজ্যিক নাটক কিংবা সিনেমার শ্যুটিং করার পর্যাপ্ত ব্যাবস্থাও রয়েছে এখানে। বনভোজনের জন্য চিড়িয়াখানার অভ্যন্তরে
        আলাদাভাবে দুটি পিকনিক স্পট তৈরী করা হয়েছে। কেউ চাইলে, নির্দিষ্ট অংকের ফি প্রদান করে সারাদিনের জন্য ভাড়া করতে
        পারবেন।

    </p>
    <p>
        সরকারি ছুটির দিনগুলিতেও চিড়িয়াখানা দর্শনার্থীদের জন্য খোলা রাখা হয়। প্রবশপথেই আছে একটি তথ্যকেন্দ্র, যেখান
        থেকে দর্শনার্থীরা তাদের প্রয়োজনীয় তথ্য জানতে পারে। বয়স্ক এবং প্রতিবন্ধীদের জন্য হুইল চেয়ারেরও ব্যবস্থা আছে।
        এর ভিতর বাগানে একটি জ্যুওলিজক্যাল মিউজিয়াম আছে। চিড়িয়াখানার মনোরম প্রাকৃতিক দৃশ্য দর্শনার্থী বিশেষ করে
        শিক্ষার্থী এবং শিশুদের জন্য সব ধরনের বিনোদন সুবিধা দেয়। এছাড়াও এর ভেতরে একটি শিশুপার্ক রয়েছে যার বিভিন্ন রাইডে
        শিশুরা বিনামূল্যে চড়তে পারে। খাবারের জন্য কিছু রেস্তোরাঁ রয়েছে যেগুলোতে কর্তৃপক্ষের নির্ধারিত মূল্যে বিভিন্ন
        ধরনের খাবার ও স্ন্যাকস বিক্রি করা হয়।

    </p>
    <h5>
        ব্যাবস্থাপনা কমিটি ও তাদের গৃহীত কিছু উন্নয়ন পরিকল্পনাঃ


    </h5>
    <p>
        চিড়িয়াখানার ভবিষ্যৎ পরিকল্পনা, সার্বিক উন্নয়নসহ গুরুত্বপূর্ণ বিষয়ে সিদ্ধান্ত গ্রহণের অধিকারী ৩২ সদস্যবিশিষ্ট
        উপদেষ্টা কমিটি বছরে দুবার সভার মাধ্যমে গুরুত্বপূর্ণ সিদ্ধান্ত নিয়ে থাকে। কমিটির উল্লেখযোগ্য সদস্য হলেন মৎস্য ও
        প্রাণিসম্পদমন্ত্রী, উত্তর ও দক্ষিণ সিটি কর্পোরেশনের মেয়র, মিরপুর এলাকার ৩ জন সংসদ সদস্যা, অ্যাটর্নি জেনারেল,
        মৎস্য ও প্রাণিসম্পদ মন্ত্রণালয়, পরিবেশ, বন ও জলবায়ু পরিবর্তন এবং তথ্য মন্ত্রণালয়ের সচিবরা।

    </p>
    <p>
        চিড়িয়াখানাটির সার্বিক ব্যাবস্থাপনার দায়িত্বে আছেন একজন তত্ত্বাবধায়ক বা কিউরেটরর। তার অধীনে দুই জন ডেপুটি কিউরেটর
        সার্বিক কার্যক্রম তদারকি করেন। ডেপুটি কিউরেটরের অধীনে রয়েছে প্রশাসন শাখা, প্রাণীপুষ্টি শাখা, ভেটেনারি শাখা,
        মাংসাশী শাখা, ক্ষুদ্র স্তন্যপায়ী ও সরিসৃপ শাখা, বৃহৎ প্রাণি তৃণভোজী শাখা, পাখি শাখা, গবেষণা শাখা, তথ্য শাখা,
        জাদুঘর শাখা, নিরাপত্তা শাখা এবং মৎস্য শাখা। মৎস্য এবং প্রাণি সম্পদ মন্ত্রণালয়ের মন্ত্রীকে প্রধান করে
        চিড়িয়াখানাটির একটি উপদেষ্টা কমিটি আছে। যারা বিভিন্ন বিষয়ে কর্তৃপক্ষকে পরামর্শ দিয়ে থাকেন। বর্তমানে এখানে
        বিভিন্ন শাখায় ২১৩ জন কর্মকর্তা-কর্মচারী কাজ করছেন।

    </p>
    <p>

        প্রতি বছর প্রায় ৩ মিলিয়ন লোক চিড়িয়াখানা পরিদর্শন করে এবং দিনদিন এই সংখ্যা বেড়ে চলছে। এই কথা মাথায় রেখে,
        চিড়িয়াখানার সার্বিক মানোন্নয়নের জন্য চিড়িয়াখানা কর্তৃপক্ষ বিভিন্ন প্রকল্প হাতে নিয়েছেন। সেগুলির মধ্যে
        অন্যতম হলো: চিড়িয়াখানাটিতে একটি সাফারি পার্কের মতো করার উদ্যোগ করতে যাচ্ছেন যেখান প্রাণিরা খোলামেলাভাবে
        চলাফেরা করতে পারবে এবং দর্শনার্থীরা তাদেরকে নিরাপদ দূরত্ব থেকে দেখবে। আরেকটি উল্লেখযোগ্য পরিকল্পনা হলো ব্যাটারি
        চালিত ক্লায়েন্ট কারের ব্যবস্থা যেটিতে চড়ে বৃদ্ধ এবং শিশুরা চিড়িয়াখানা ঘুরতে পারবে। অন্যান্য পরিকল্পনার মধ্যে
        চিড়িয়াখানার ভিতরে আছে শিশুপার্ক স্থাপন। দশনার্থীদের সংখ্যা বাড়ানোর জন্য একটি নতুন ডলফিন কর্নার এবং একটি
        প্রজাপতি বাগান করা হবে।

    </p>
    <p>
        এছাড়াও ১১৫টি কার ও ১০টি মিনিবাসের সংকুলান সম্পন্ন একটি বর্ধিত বহিঃপার্কিং নির্মাণেরও পরিকল্পনা গ্রহণ করা হয়েছে।
        ঢাকার জাতীয় চিড়িয়াখানাসহ রংপুর চিড়িয়াখানার আধুনিকায়নের জন্য মাস্টার প্লান স্ট্রাকচারাল ডিজাইন প্রণয়নসহ ৩৪ কোটি
        টাকার একটি প্রকল্প হাতে নেয়া হয়েছে। এটি বাস্তবায়িত হলে বর্তমানে বিরাজমান বিভিন্ন সমস্যাসহ জনদুর্ভোগ দূরীভূত হবার
        পাশাপাশি জাতীয় চিড়িয়াখানাটি বিশ্বে অত্যাধুনিক চিড়িয়াখানার কাতারে নাম লেখাতে সক্ষম হবে। অত্যাধুনিক চিড়িয়াখানার
        স্বার্থে সংশ্লিষ্ট অভিজ্ঞতাসম্পন্ন কর্মকর্তা-কর্মচারীদের বদলি পদ্ধতি বাতিলসহ তাদের বিভিন্ন দেশের উন্নত
        চিড়িয়াখানা পরিদর্শন মাধ্যমে অভিজ্ঞতা অর্জনের পরিকল্পনাও গ্রহণ করা হয়েছে।

    </p>

    <p style="margin-left: 50px">&#9989;চিড়িয়াখানার ঘুরার জন্য চিড়িয়াখানা ঢুকে প্রথমে সোজা যাবেন। একটু সামনে গেলেই দেখতে
        পাবেন পুরো চিড়িয়াখানার একটি বড় ম্যাপ রয়েছে। সাথে দেখতে পাবেন সামনেই একটি বানরের খাঁচা। বানরের সাথে দেখা করার পর
        আপনি হাতের বা দিকে যাবেন।
    </p>
    <p style="margin-left: 50px">&#9989;হাতের বা দিক দিয়ে ঘুরতে ঘুরতে আপনি আস্তে আস্তে ডান দিকে যাবেন। এভাবে করেই আপনার
        পুরো চিড়িয়াখানা ঘুরা শেষ করবেন। চিড়িয়াখানাও এই নিয়মটাই দেওয়া হয়েছে। যাতে আপনি পুরো চিড়িয়াখানার সব গুলো প্রানির
        দেখা পান।</p>
    <p style="margin-left: 50px">&#9989;চিড়িয়াখানার প্রাণীদের খাবার দেয়া থেকে বিরত থাকুন।
    </p>
    <p style="margin-left: 50px">&#9989;হিংস্র প্রানি যেমনঃ বাঘ, সিংহ, সাপ এসব প্রাণীদের খাঁচা থেকে নির্দিষ্ট দূরত্ব
        বজায় রাখুন।
    </p>
    <p style="margin-left: 50px">&#9989;আপনার সাথে যদি ছোট বাচ্চা থাকে তাহলে, তাদেরকে সব সময় কাছে রাখুন। প্রয়োজনে হাত
        ধরে রাখুন। কারন, চিড়িয়াখনা অনেক বড় এবং সবসময় এখানে প্রচুর মানুষের সমাগম থাকে। একবার যদি আপনার বাচ্চা কে হারিয়ে
        ফেলেন, তাহলে তাকে খুজে পেতে অনেক সময় লাগবে। এর ফলে আপনার আনন্দ ভ্রমন নিরানন্দ হয়ে যাবে।
    </p>
    <p style="margin-left: 50px">&#9989;আর যদি, এরকম সমস্যায় পড়েই যান। তাহলে ঘাবড়ানোর কিছু নেই। কারন, চিড়িয়াখানার ভিতরে
        একদল সদস্য রয়েছে, যারা আপনার সহযোগিতা করার জন্য রেডি হয়ে থাকে সবসময়। আপনি ভিতরে ঢুকলেই তাদের মাইকের শব্দ শুনতে
        পাবেন।
    </p>
    <p style="margin-left: 50px">&#9989;চিড়িয়াখানায় ঢুকার পূর্বে সাথে করে পানি এবং কিছু শুঁকনো খাবার নিয়ে নিন। কারন, এতো
        বড় চিড়িয়াখানা ঘুরতে ঘুরতে আপনি ক্লান্ত ও পিপাসার্ত হয়ে পড়তে পারেন। তাছাড়া, উচু নিচু যায়গা দিয়েই আপনাকে ভ্রমন
        করতে হবে।
    </p>
    <p style="margin-left: 50px">&#9989;যতটা সম্ভব খোলামেলা জামাকাপড় পড়ে চিড়িয়াখানা যাওয়ার চেষ্টা করুন। এতে ক্লান্তি কম
        লাগবে।
    </p>
    <p style="margin-left: 50px">&#9989;ভ্রমন উপযোগী জুতা পরার চেষ্টা করুন।
    </p>
    <p style="margin-left: 50px">&#9989;সবসময় আপনার মানিব্যাগ এবং প্রয়োজনীয় জিনিসপত্র আপনার হেফাজতে রাখুন।
    </p>
    <p style="margin-left: 50px">&#9989;চিড়িয়াখানার আশেপাশের দোকান থেকে খাবার কিংবা অন্যান্য জিনিসপত্র কিনতে গেলে মূল্য
        সম্পর্কে আগেই ভালভাবে যাচাই করে নিন।
    </p>

    <h5>
        প্রবেশ মূল্যঃ

    </h5>
    <p>
        জনপ্রতি ৫০ টাকা (আগে ২০ টাকা ছিল) এছাড়া প্রণী জাদুঘরে প্রতিজন ১০ টাকা, হাতি প্রমোদ আরোহন ৩০ টাকা এবং ঘোড়া
        প্রমোদ আরোহন ২০ টাকা। ২ বৎসরের বাচ্চাদের প্রবেশে টিকেট কাটা লাগে না।



    </p>


    <h5>
        যেভাবে যাওয়া যায়ঃ

    </h5>
    <p>

        ঢাকা শহরের যেকোন জায়গা থেকে মিরপুর ১ নং সনি সিনেমা হল গোল চত্ত্বর থেকে যে রাস্তাটি উত্তর দিকে গিয়েছে সে রাস্তা
        ধরে কিছু দূর গেলে জাতীয় চিড়িয়াখানা দেখা মিলবে। এছাড়াও মিরপুর ১০ নম্বর থেকে বাস. সিএজি অথবা সিক্সা করে যেতে
        পারবেন।


    </p>
    <p>
        জাতীয় চিড়িয়াখানাটিতে প্রতি বছর প্রায় ৩০ লক্ষ দর্শনার্থীর সমাগম ঘটে। আপনিও অবসর সময় কাটানো কিংবা প্রাণিদের
        সম্পর্কে জ্ঞানার্জনের নিমিত্বে যেকোন সময়েই যেতে পারেন সেখানে। ব্যস্ত ঢাকা নগরীর মাঝে নির্মল পরিবেশ ও সবুজ
        গাছপালায় ঘেরা দেশের বৃহত্তম চিড়িয়াখানা দেখে কর্মব্যস্ত জীবনের ক্লান্তিকে কিছুটা হলেও বিদায় জানাতে পারবেন।


    </p>

</div>