<div class="container top-space">
  <h1>সাজেক ভ্যালী</h1>
  <p>
    বাংলাদেশের দর্শনীয় স্থানগুলোর মধ্যে মধ্যে পার্বত্য চট্টগ্রাম নিয়ে পর্যটকদের আকর্ষণ এমনিতেই একটু বেশি। আর সে আকর্ষণকে আরো বাড়িয়ে
    তুলেছে ‘সাজেক’ উপত্যকা। ধারণা করা হয় যে বর্তমান সময়ে, বাংলাদেশের ভ্রমণ পিপাসুদের কাছে সবচেয়ে জনপ্রিয় গন্তব্য সাজেক। আয়তনের
    দিক দিয়ে দেশের বৃহত্তম ইউনিয়ন পাহাড়িয়া ‘সাজেক’। অতএব, চাইলে যেকেউ নিজস্ব পরিবহনে অথবা ঢাকা-চট্টগ্রাম থেকে বাঘাইছড়ি হয়ে ভারত
    সীমান্তবর্তী অন্যতম সৌন্দর্য্যমন্ডিত এই উপত্যকায় যেতে পারেন। এখানে আঁকা-বাকাঁ উচুঁ নিচু পাহাড়ি পথ ও আকাশের সাথে মেঘের লুকোচুরি খেলা
    দেখার পাশাপাশি অতি নিকটতম সীমান্ত ভারতীয় অংশের পাহাড়ি দৃশ্য উপভোগ করার মতো।
  </p>
  <img src="/assets/sajak/main.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
  
  <div class = "Top_image_space">
    <p>
   বাংলাদেশের রাঙামাটি জেলার বাঘাইছড়ি উপজেলায় অবস্থিত সাজেক হলো বাংলাদেশের সবচেয়ে বড় ইউনিয়ন, যার আয়তন ৭০২ বর্গমাইল ।
    সমুদ্রপৃষ্ঠ থেকে এর উচ্চতা ১৮০০ ফুট। সাজেকের উত্তরে ভারতের ত্রিপুরা, দক্ষিনে রাঙামাটির লংগদু, পূর্বে ভারতের মিজোরাম, পশ্চিমে
    খাগড়াছড়ির দীঘিনালা। সাজেক রাঙামাটি জেলায় অবস্থিত হলেও এর যাতায়াত সুবিধা খাগড়াছড়ির দীঘিনালা থেকে।
    </p>
  </div>
  <h5>
    যা কিছু উপভোগ করতে পারবেন:
  </h5>

  <p>
    চারপাশে মনোরম পাহাড় সারি, সাদা তুলোর মত মেঘের ভ্যালি নিঃসন্দেহে আপনাকে মুগ্ধ করবেই। সাজেক এমনই আশ্চর্য্যজনক জায়গা
    যেখানে একই দিনে প্রকৃতির তিন রকম রূপের সান্নিধ্যে আপনি হতে পারেন চমৎকৃত। কখনো বা খুব গরম অনুভূত হবে তারপর হয়তো হটাৎ
    বৃষ্টিতে ভিজে যাবেন কিংবা চোখের পলকেই মেঘের ঘন কুয়াশার চাদরে ঢেকে যাবে আপনার চারপাশ। প্রাকৃতিক নিসর্গ আর তুলোর মত মেঘের
    পাহাড় থেকে পাহাড়ে উড়াউড়ির খেলা দেখতে সাজেক আদর্শ জায়গা।
  </p>
   <p>
    কংলাক পাহাড় হচ্ছে সাজেক ভ্রমণে আসা পর্যটকদের কাছে প্রধান আকর্ষণ। আর সাজেক ভ্যালির শেষ গ্রাম কংলক পাড়া লুসাই জনগোষ্ঠী
    অধ্যুষিত এলাকা। কংলাক পাড়া থেকেই কর্ণফুলী নদী উৎপত্তিস্থল ভারতের লুসাই পাহাড় দেখা যায়। চাইলে রুইলুই পাড়া থেকে দুই ঘন্টা ট্রেকিং
     করে কমলক ঝর্ণা দেখে আসতে পারবেন। সুন্দর এই ঝর্ণাটি অনেকের কাছে পিদাম তৈসা ঝর্ণা বা সিকাম তৈসা ঝর্ণা নামেও পরিচিত।
    </p>

  <p>
   <p দিন কিংবা রাত সাজেক যেন শিল্পীর তুলিতে আঁকা ছবির মত, সময় গড়ায় তবু সাজেক পুরাতন হয় না। সাজেকে
    গেলে অবশ্যই সকালে ভোরের সময়টা মিস করবেন না। মেঘের খেলা আর সূর্যোদয়ের আলোর মেলা এই সময়েই বসে। এই জন্যে আপনাকে
    খুব ভোরে উঠে চলে যেতে হবে হ্যালিপ্যাডে, সেখান থেকেই সবচেয়ে সুন্দর সূর্যোদয় দেখা যায়। বিকেলের কোন উঁচু জায়গা থেকে সূর্যাস্তের রঙ্গিন রূপ আপনাকে
    বিমোহিত করবেই। আর সন্ধ্যার পর আকাশের কোটি কোটি তারার মেলা, আপনার প্রাণ জুড়িয়ে দিবে নিমিষেই। আকাশ পরিস্কার থাকলে দেখা
    পাবেন মিল্কিওয়ে বা ছায়াপথের। ঘুরে দেখতে পারেন চারপাশ ও আদিবাসীদের জীবন যাপন। সহজ সরল এই সব মানুষের সান্নিধ্য আপনার ভাল
    লাগবে। আর হাতে সময় থাকলে সাজেক ভ্যালি থেকে ফেরার পথে ঢু মেরে আসতে পারেন হাজাছড়া ঝর্ণা দীঘিনালা ঝুলন্ত ব্রিজ ও দীঘিনালা
    বনবিহার থেকে।
  </p>
  <h5>
      ভ্রমনের জন্য উপযুক্ত সময়:
    </h5>

  <p>
    সাজেকের রূপের আসলে তুলনা হয় না। সারা বছরই বর্ণিল সাজে সেজে থাকে সাজেক। বছরের যে কোন সময় আপনি সাজেক ভ্রমণ করতে
    পারেন। যদিও বর্ষা, শরৎ ও হেমন্তে সাজেকের চারপাশে মেঘের খেলা দেখা যায় বেশি পরিমাণে। তাই এই সময়টাই সাজেক ভ্রমণের জন্যে সবচেয়ে উত্তম।
  </p>
  <h5>
    খাগড়াছড়ি থেকে সাজেক ভ্রমণঃ
  </h5>
  <p>
    পূর্বেই উল্লেখ করা হয়েছে, সাজেকের অবস্থান রাঙামাটি জেলায় হলেও খাগড়াছড়ি জেলার দীঘিনালা হয়ে সাজেক যাতায়াত অনেক সহজ।
    সেই উদ্দেশ্যে প্রথমেই আপনাকে খাগড়াছড়ি আসতে হবে। ঢাকা থেকে খাগড়াছড়ি যেতে চাইলে সৌদিয়া, শ্যামলি, শান্তি পরিবহন, এস আলম,
    ঈগল ইত্যাদি বাসে করে যেতে পারবেন। নন এসি এইসব বাস ভাড়া ৫২০ টাকা। এসি বাসে যেতে চাইলে বিআরটিসি ও সেন্টমার্টিন পরিবহনে
    ৭০০ টাকা ভাড়ায় যেতে পারবেন। আর বাসগুলো সাধারণত রাত ১০ টার মধ্যে খাগড়াছড়ির উদ্দেশ্যে ছেড়ে যায়।
    এছাড়া শান্তি পরিবহন বাস সরাসরি দীঘিনালা যায়, ভাড়া ৫৮০ টাকা। ঢাকায় গাবতলী, কলাবাগানসহ শহরের বিভিন্ন প্রান্তে রয়েছে এইসব
    পরিবহণের কাউন্টার। ছুটির দিন গুলোতে যেতে চাইলে আগে থেকেই টিকেট কেটে রাখা ভালো নয়তো, পড়ে টিকেট পেতে ঝামেলা 
    পোহাতে হতে পারে।
  </p>
  
  <P>
    খাগড়াছড়ি থেকে সাজেক এর দূরত্ব প্রায় ৭০ কিলোমিটার। খাগড়াছড়ি শহরের শাপলা চত্বরের কাছ থেকে জীপগাড়ি/চাঁদের গাড়ি রিজার্ভ নিয়ে
    সাজেক ভ্যালি ঘুরে আসতে পারবেন। যাওয়া আসা সহ দুইদিনের জন্যে ভাড়া নিবে ৮,০০০-১০,০০০ টাকা। এক গাড়িতে করে ১২-১৫ জন
    যেতে পারবেন। তবে লোক কম থাকলে অন্য কোন ছোট গ্রুপের সাথে কথা বলে শেয়ার করে গাড়ি নিলে খরচ কম হবে। যদি তা সম্ভব না
    হয় তাহলে সিএনজি দিয়ে সাজেক যেতে পারবেন। রিজার্ভ ভাড়া লাগবে ৪০০০-৫০০০ টাকা। তবে পাহাড়ি উঁচু নিচু রাস্তা বলে সিএনজি দিয়ে
    ভ্রমণ না করাই ভালো।  এছাড়া আপনি যদি একা বা ২-৩ জন হন তাহলে খাগড়াছড়ি শাপলা চত্ত্বর থেকে অনেক গ্রুপ পাওয়া যায়। সেখানে
    অন্য গ্রুপের সাথে কথা বলে তাদের সাথে শেয়ার করে যেতে পারবেন অথবা জিপ সমিতির অফিসে গেলে ওরা ম্যানেজ করে দিবে অন্য
    কোন গ্রুপের সাথে। এছাড়া খাগড়াছড়ি থেকে দিঘীনালায় গিয়ে সেখান থেকে সাজেক যেতে পারবেন। খাগড়াছড়ি থেকে দীঘিনালার দূরত্ব ২৩
    কিলোমিটার। খগড়াছড়ি থেকে দীঘিনালা বাস ভাড়া ৪৫ টাকা, মোটর সাইকেল জনপ্রতি ভাড়া ১০০ টাকা।
  
    আবার চাইলে মোটরসাইকেল রিজার্ভ
    করে সাজেক ঘুরে আসা যায়। যে কোন গাড়ি ঠিক করার আগে কি দেখবেন, কি করবেন এইসব ভালো মত কথা বলে নিবেন। তবে আপনাকে
    অবশ্যই মাথায় রাখতে হবে, যেভাবেই যান আপনাকে দিঘীনালায় ৯টা থেকে ৯টা ৩০ মিনিটের মধ্যে পৌঁছাতে হবে।
  </p>

  <p> দিঘীনালা থেকে বাকি রাস্তা নিরাপত্তার জন্যে আপনাকে সেনাবাহীনির এসকোর্টে যেতে হবে। সেনাবাহিনীর এসকোর্ট দিনে দুইবার পাওয়া যায়।
  সকাল ৯ টা ৩০ মিনিটে একবার, আবার ২ টা ৩০ মিনিটে আরেকবার। সকালের এসকোর্ট মিস করলে আপনাকে বিকেল পর্যন্ত অপেক্ষা করতে
  হবে, আর বিকেলের টা মিস করলে আপনাকে পরের দিন পর্যন্ত অপেক্ষা করতে হবে। এসকোর্ট ছাড়া যাবার অনুমতি পাবেন না। দিঘীনালা পৌঁছে
  হাতে সময় থাকলে হাজাছড়া ঝর্ণা ঘুরে দেখে আসতে পারবেন। দিঘীনালা থেকে যাবার পথে বাগাইহাট, মাচালং বাজার, তারপর রুইলুই পাড়া
  হয়ে পৌঁছে যাবেন সাজেকে। খাগড়াছড়ি শহর থেকে সাজেক যেতে সময় লাগবে দুই থেকে তিন ঘন্টা। এই সময় আঁকাবাঁকা উঁচু নিচু পাহাড়ি
  রাস্তা ধরে চলার সময়টুকু আপনার জন্যে স্মরণীয় হয়ে থাকবে। চারদিকে সারি সারি পাহাড় আর সবুজের সমারোহ আপনাকে ভুলিয়ে দেবে
  পথের সব ক্লান্তি।
  </p>
  <h5>চট্রগ্রাম থেকে সাজেক ভ্রমণ: </h5>
  <p>
    চট্রগ্রাম থেকে খাগড়াছড়ি বা দিঘীনালা হয়ে সাজেক যেতে পারবেন। চট্রগ্রামের কদমতলী থেকে বিআরটিসি এসি বাস সারাদিনে ৪টি বাস
    চলাচল করে, ভাড়া ২০০টাকা । এছাড়া অক্সিজেন মোড় থেকে ১ ঘণ্টা পর পর শান্তি পরিবহনের (ভাড়া ১৯০টাকা) বাস চলাচল করে।
    চট্রগ্রাম থেকে বাসে করে খাগড়াছড়ি যেতে সময় লাগবে ৪-৫ ঘন্টা।
  </p>
  <h5>
    রাঙ্গামাটি থেকে সাজেক ভ্রমণঃ
  </h5>
  <p>
    রাঙ্গামাটি থেকে নৌপথ এবং সড়কপথ উভয়ভাবেই বাঘাইছড়ি যাওয়া যায়। রিজার্ভ বাজার লঞ্চঘাট থেকে প্রতিদিন সকাল ৭ টা ৩০ থেকে
    ১০টা ৩০ এর মধ্যে লঞ্চ ছাড়ে যেতে আর সময় লাগে ৫-৬ ঘন্টা। জনপ্রতি ভাড়া ১৫০-২৫০ টাকা। রাঙ্গামাটি বাস টার্মিনাল থেকে সকাল
    ৭ টা ৩০ থেকে ৮ টা ৩০ ঘটিকার মধ্যে বাস ছাড়ে, জনপ্রতি ভাড়া নেয় ২০০ টাকা। সময় লাগে ৬-৭ ঘন্টা। এছাড়াও ঢাকা ও চট্টগ্রাম
    থেকেও সরাসরি বাঘাইছড়ি যাওয়া সম্ভব। বাঘাইছড়ি থেকে জীপ (চাদেঁর গাড়ি) অথবা মোটর সাইকেলে সাজেক ভ্যালীতে পৌঁছানো যায় এতে
    জনপ্রতি ভাড়া লাগে ৩০০/-টাকা।
  </p>
  <h5>
    বিশ্রাম কিংবা রাত্রিযাপনের জন্য হোটেল ও রিসোর্টসমূহ:
  </h5>
  <P>
    সাজেকে থাকার জন্যে অনেক ৪০ এর অধিক রিসোর্ট ও আদিবাসী কটেজ আছে। এর মধ্যে ৬/৭ টি বিশেষভাবে উল্লেখযোগ্য। এগুলোতে
    এক রাতের জন্যে জনপ্রতি ২০০ টাকা থেকে ১৫,০০০ টাকা পর্যন্ত ভাড়া পরবে। ছুটির দিনে যেতে চাইলে আগে মাসখানেক আগে থেকেই
    বুকিং দিয়ে রাখা ভালো, নয়তো ভালো রুম পাবার নিশ্চিয়তা কম। আর কম দামে থাকতে চাইলে আদিবাসী কটেজ গুলোতে থাকতে পারেন।
    এছাড়া বর্তমানে পরিবেশের সাথে খাপ খাইয়ে নতুন নতুন অনেক কটেজ হয়েছে। সাজেকের সবগুলো কটেজ থেকেই মোটামুটি সুন্দর ভিউ
    পাওয়া যায়।
  </P>
  <h5>
    সাজেক রিসোর্ট (Sajek Resort):
  </h5>

    <p>
    শুরু থেকেই সাজেক রিসোর্টটি বাংলাদেশ সেনাবাহিনী দ্বারা পরিচালিত হয়ে আসছে। বর্তমান সময় পর্যন্ত এটিই সাজেকের সবচেয়ে বিলাসবহুল
    রিসোর্ট। এসি আর নন এসি রুম গুলোর ভাড়া ১০,০০০ – ১৫,০০০ টাকা। আছে খাবারে ব্যবস্থা। সেনাবাহিনীতে কর্মরত বা প্রথম শ্রেনীর
    সরকারি কর্মকর্তাদের জন্যে ডিসকাউন্ট রয়েছে। যোগাযোগ করতে পারেন এই নাম্বারেঃ 01859025694 / 01847070395 / 01769302370
  </p>
  
  <h5>
    রিসোর্ট রুংরাং (Resort RungRang):
  </h5>
 
    <p>
    সাজেকের বেস্ট রিসোর্ট গুলোর একটি রিসোর্ট রুংরাং। রিসোর্টে বসেই দিগন্তজোড়া সারি সারি পাহাড় এবং মেঘের উড়োউড়ি দেখার জন্য আদর্শ।
    নান্দ্যনিক ইন্টেরিওর ডিজাইনে সাজানো এই রিসোর্টে আছে ৪টি ডাবল এবং ৪টি কাপল রুম। ছুটির দিনে ডাবল বেড রুম ভাড়া ৩৫০০ টাকা
    এবং কাপল ২৮০০ টাকা। অন্য সকল দিনে ডাবল বেড রুম ভাড়া ২৮০০ এবং কাপল ২০০০ টাকা। রুংরাং রিসোর্ট ভ্রমণ গাইড ব্যবহারকারীদের
    জন্যে দিচ্ছে রুম বুকিং এ ৫-১০% ডিসকাউন্ট সুবিধা। বুকিং এর সময় রেফারেন্স হিসেবে আপনি ভ্রমণ গাইড ব্যবহারকারী বলুন আর উপভোগ
    করুন এই স্পেশাল অফার। বুকিং এর জন্যে যোগাযোগ: 0188-4710723, 01884-710 723, 01869-649 817, 01869-649817
  </p>
   <h5>
    রুন্ময় রিসোর্ট (Runmoy Resort):
  </h5>
    <p>
    মোট ৫ টি রুম আছে। প্রতিটি কক্ষে ২ জন থাকতে পারবেন। নিচ তলার রুম ভাড়া ৪৪৫০ টাকা। প্রতিটি কক্ষে ২ জন থাকতে পারবেন।
    ৬০০ টাকা দিয়ে অতিরিক্ত বেড নিতে পারবেন। উপরের তলায় দুইটি কক্ষ আছে ভাড়া ৪৯৫০ টাকা। প্রতিটি কক্ষে দুই জন থাকতে পারবেন।
    এটাতেও ৬০০ টাকা দিয়ে অতিরিক্ত বেড নিতে পারবেন। যোগাযোগ: 0186547688
  </p>
  
  <h5>
    মেঘ মাচাং (Megh Machang):
  </h5>
 
    <p>
    সুন্দর ভিউ ও তুলনামূলক কম খরচে থাকার জন্যে মেঘ মাচাং রিসোর্ট অনেকের পছন্দ। আছে খাওয়া দাওয়ার ব্যবস্থা। মেঘ মাচাং-এ পাঁচটি
    কটেজ আছে । ভাড়া ২৫০০-৩৫০০ টাকা। যোগাযোগঃ 01822168877
  </p>
    <h5>
      লুসাই কটেজ (TGB Lushai Cottage):
    </h5>
  
  <p>
    কাপল রুম, ডাবল বেড সহ আছে থাকা খাওয়ার ব্যবস্থা। সুন্দর ডেকোরেশন ও ভালো ল্যান্ডস্কেপিক ভিউয়ের এই কটেজের রুমের ভাড়া
    ২০০০-৩০০০ টাকা। যোগাযোগঃ 01634198005
  </p>
    <h5>
      মেঘ পুঞ্জি রিসোর্ট (Meghpunji Resort):
    </h5>
  
  <p>
    সুন্দর ইকো ডেকোরেশনের ও আকর্ষণীয় ল্যান্ডস্কেপিক ভিউ সহ মেঘপুঞ্জিতে আছে ৪টি কটেজ, প্রতিটিতে ৩-৪ জন থাকা যাবে। ভাড়া
    ২৫০০-৩৫০০ টাকা। যোগাযোগঃ 01815761065,
  </p>
  <p>
    দীঘিনালা হয়ে গেলে: বাসে করে খাগড়াছড়ি শহরের শাপলা মোড় থেকে ২৪ কি.মি. দূরে দীঘিনালা বাস স্টপেজে যেতে হবে।
    সেখান থেকে দীঘিনালা বাজার গিয়ে গাইড ঠিক করে নিতে হবে। তারপর জামতলি নামক জায়গা থেকে ট্র্যাকিং শুরু করতে হবে।
    ঝিরিপথ, উঁচু নিচু পাহাড় পার হয়ে প্রায় ৩ ঘণ্টা হাটার পর তৈদুছড়া ঝর্ণা – ১ পড়বে এবং সেখান থেকে ১ ঘন্টার পথ তৈদুছড়া
    ঝর্ণা – ২ (উপরের ঝর্ণা)। গাইড খরচ পড়বে ৩০০/৫০০ টাকা। দীঘিনালা হয়ে গেলে যেহেতু সময় বেশী লাগবে তাই একটু তাড়াতাড়ি বের হতে হবে।
  </p>
    <h5>
    আলো রিসোর্ট (Alo Resort):
  </h5>
  
  <p>
    আলো রিসোর্টটি সাজেকের একটু আগে রুইলুই পাড়ায় অবস্থিত। ৬ টি রুমের মধ্যে ডাবল রুম ৪ টি (ডাবল বেড) । ভাড়া ৮০০-১৫০০
    টাকা। যোগাযোগঃ 01841-000645
  </p>
  <h5>
    রুইলুই পাড়া ক্লাব হাউজ:
  </h5>
  <p>
    এটিও রুইলুই পাড়াতেই অবস্থিত। এখানে ১৫ জনের মত থাকতে পারবেন। ভাড়া জনপ্রতি ১০০ টাকা করে দিতে হবে। নিজেরা রান্না করে খেতে
    পারবেন। এর কেয়ার টেকার মইয়া লুসাই দাদা সব ব্যবস্থা করে দিবেন। লক্ষন নামে অপর একজন ব্যাক্তি আছেন, প্রয়োজনে তিনিও আপনাদের
    সহযোগীতা করবেন। উল্লেখ্য, এখানে দুইটি টয়লেট আছে। একটি ফ্রি ব্যবহার করতে পারবেন। অন্যটির জন্য ২০০ টাকা প্রদান করতে হবে।
    যোগাযোগ: মইয়া লুসাই – ০১৮৩৮৪৯৭৬১২। লক্ষন – ০১৮৬০১০৩৪০২।
  </p>
  <h5>
    আদিবাসী ঘর:
  </h5>
  <p>
    সব রিসোর্টে খাবার ব্যবস্থা আছে তাই আগেই রিসোর্টগুলোতে বলে রাখলে পছন্দমত রান্না করে দিবে সেক্ষেত্রে প্রতিবেলা প্রতিজন ১০০-২৫০
    টাকা পর্যন্ত খরচ হতে পারে আর মেনু হিসেবে পাবেন ভাত আলুভর্তা, মুরগীর মাংস ইত্যাদি। চাইলে রাতে বার বি কিউও করতে পারবেন।
    এছাড়া আদিবাসী ঘরেও খাওয়া যায়, আগে থেকেই বলে রাখতে হবে কি খাবেন, তাহলে রান্না করে দিবে। সাজেকে খুব সস্তায় পেঁপে, আনারস,
    কলা ইত্যাদি ফল পাবেন চেখে দেখতে ভুলবেন না যেন।
  </p>
  <h5>
    সাজেক এর খাওয়া দাওয়া
  </h5>
  <p>
    সব রিসোর্টে খাবার ব্যবস্থা আছে তাই আগেই রিসোর্টগুলোতে বলে রাখলে পছন্দমত রান্না করে দিবে সেক্ষেত্রে প্রতিবেলা প্রতিজন ১০০-২৫০
    টাকা পর্যন্ত খরচ হতে পারে আর মেনু হিসেবে পাবেন ভাত আলুভর্তা, মুরগীর মাংস ইত্যাদি। চাইলে রাতে বার বি কিউও করতে পারবেন।
    এছাড়া আদিবাসী ঘরেও খাওয়া যায়, আগে থেকেই বলে রাখতে হবে কি খাবেন, তাহলে রান্না করে দিবে। সাজেকে খুব সস্তায় পেঁপে,
    আনারস, কলা ইত্যাদি ফল পাবেন।
  </p>
  <h5>
    সাজেক ভ্রমণে প্রয়োজনীয় কিছু টিপস:
  </h5>
  <p style="margin-left: 50px">&#9989; সাজেকে বিদুৎ নেই, সোলার ব্যবস্থা থাকলেও চার্জ হতে বেশি সময় লাগে আর সহজলভ্যও নয়। সাথে করে পাওয়ার ব্যাংক রাখতে পারেন।</p>
  <p style="margin-left: 50px">&#9989; সাজেকে শুধুমাত্র রবি, এয়ারটেল ও টেলিটক এর নেটওয়ার্ক ভালো পাওয়া যায়। </p>
  <p style="margin-left: 50px">&#9989; সাজেক যাবার পথ অনেক আঁকাবাঁকা ও উঁচু নিচু, তাই এই পথ বিপদজনক। জীপের ছাঁদে ভ্রমনে সতর্ক থাকুন। </p>
  <p style="margin-left: 50px">&#9989; সাজেক যেতে গাইডের প্রয়োজন হয় না। </p>
  <p style="margin-left: 50px">&#9989; আদিবাসীদের ছবি তোলার ক্ষেত্রে তাদের অনুমতি নিয়ে নিন। অনুমতি ছাড়া ছবি তুলবেন না। </p>
  <p style="margin-left: 50px">&#9989; আদিবাসী মানুষজন সহজ সরল তাদের সাথে ভদ্র ব্যবহার করুন ও তাদের কালচারের প্রতি সম্মান দেখান। </p>
  <p style="margin-left: 50px">&#9989; ছুটির দিনে গেলে ঝামেলা এড়াতে আগে থেকেই (মাস খানেক) রুম বুকিং দিয়ে রাখুন। </p>
  <p style="margin-left: 50px">&#9989; যাবার পথে কয়েক জায়গায় নিরাপত্তা বাহিনীর ক্যাম্প আছে। সেখানে ভ্রমণকারী সদস্যদের কিছু তথ্য জমা দিতে হয়। নিরাপত্তার
            সার্থে তাদের সহযোগিতা করুন। সাথে করে নিজের জাতীয় পরিচয় পত্রের কপি রাখুন। </p>
  <p style="margin-left: 50px">&#9989; দুই তিন দিনের জন্যে গেলে গাড়ি বসিয়ে না রেখে, শুধু যাবার জন্যে গাড়ি ঠিক করুন, ফিরে আসার সময় অন্য কোন গাড়িতে
             আসুন কিংবা দিঘীনালা থেকে ফোন করে গাড়ি পাঠিয়ে ফেরত আসতে পারবেন।</p>

</div>
