<div class="container top-space">
  <h1>খাগড়াছড়ি</h1>
  <p>
    রূপ বৈচিত্রে ভরপুর খাগড়াছড়ি বাংলাদেশের একটি পার্বত্য জেলা।  নদী, ছড়া, ঝিরি, হ্রদ,  উচ্চ ও সমতল ভূমি মিলে এটি অপরূপ
    সৌন্দর্যমন্ডিত একটি অঞ্চল। অসংখ্য ঝর্না আর পাহাড়ের ভূমি খাগড়াছড়ি। চারদিকে ছড়িয়ে আছে বুনো পাহাড় আর তার নয়ন জুড়ানো
    দৃশ্য যেন পাহাড়ের কোলেই গড়ে উঠা নির্মল প্রকৃতি। পর্যটকদের মনে হবে, প্রকৃতি যেন নিজ হাতে এটিকে গড়ে তোলেছে। এই অঞ্চল
    ঘিরে রয়েছে আকাশ-পাহাড়ের মিতালী, চেঙ্গী ও মাইনী উপত্যকার বিস্তীর্ণ সমতল ভূভাগ ও উপজাতীয় সংস্কৃতির বৈচিত্র্যতা। এ জেলার
    সর্বত্রই দর্শনীয় স্থান, যেদিকে তাকাবেন আপনি মুগ্ধ হয়ে যাবেন। মহালছড়ি, দীঘিনালা, পানছড়ি, রামগড়, লক্ষ্মীছড়ি, মানিকছড়ি,
    মাটিরাঙ্গা যেদিকেই চোখ যায় শুধু সবুজ আর সবুজ।  </p>
  <img src="/assets/kagrasori/road.jpeg" class="float-img" alt="Cinque Terre" width="100%" height="400px">
 <div class = "Top_image_space">
  <h5>
    আয়তন ও অবস্থানঃ
  </h5>
  </div>
 
 <p>
    খাগড়াছড়ি চট্টগ্রাম বিভাগের আওতাধীণ একটি পার্বত্য জেলা যার সর্বমোট আয়তন ২৬৯৯.৫৫ বর্গ কিলোমিটার। জেলাটির উত্তরে ভারতের
    ত্রিপুরা রাজ্য, দক্ষিণে চট্টগ্রাম ও পার্বত্য চট্টগ্রাম জেলা, পূর্বে ভারতের মিজোরাম রাজ্য ও ত্রিপুরা রাজ্য এবং পশ্চিমে চট্টগ্রাম জেলা ও
    ভারতের ত্রিপুরা রাজ্য অবস্থিত। ঢাকা থেকে খাগড়াছড়ির দূরত্ব হচ্ছে ২৬৬ কি.মি. ও চট্টগ্রাম হতে দূরত্ব হচ্ছে ১১২ কি.মি.।
  </p>

    <h5>
      দর্শনীয় স্থানসমূহঃ
    </h5>
  <p>
    জানা-অজানা এক রহস্যের নাম খাগড়াছড়ি। আমাদের পার্বত্য জেলাগুলোর মধ্যে পর্যটনের দিক থেকে সবচেয়ে পিছিয়ে আছে এই
    জেলাটিই যদিও অফুরন্ত পর্যটন সম্ভাবনা নিয়ে হাতছানি দিয়ে ডাকছে খাগড়াছড়ি। প্রকৃতি অকৃপণভাবে সাজিয়েছে খাগড়াছড়িকে। স্বতন্ত্র
    করেছে বিভিন্ন অনন্য বৈশিষ্ট্যে। খাগড়াছড়ি জেলার দর্শনীয় স্থান ও ঐতিহাসিক স্থাপনা গুলোর মধ্যে- আলুটিলা গুহা, রিছাং ঝর্ণা, দেবতার
    পুকুর, হর্টিকালচার পার্ক, তৈদুছড়া ঝর্ণা, বিডিআর স্মৃতিসৌধ, মায়াবিনী লেক, শান্তিপুর অরণ্য কুঠির প্রভৃতি উল্লেখযোগ্য।
  </p>
  <p>
    ঐশ্বর্যময় সৌন্দর্য্যের অহঙ্কার খাগড়াছড়ি শহরের প্রবেশ পথেই চোখে পড়বে আলুটিলা পর্যটন কেন্দ্র। আলুটিলা বাংলাদেশের একটি অন্যতম
    ব্যতিক্রমধর্মী পর্যটন স্পট। আর তাই এর সৌন্দর্য্যে মুগ্ধ হয়ে খাগড়াছড়ির সাবেক জেলা প্রশাসক একটি কবিতা লিখেছিলেন যা অনেকটা
    এ রকম-‘‘ক্লান্ত পথিক ক্ষণেক বসিও আলুটিলার বটমূলে, নয়ন ভরিয়া দেখিও মোরে চেঙ্গী নদীর কোলে।’’ এ পর্যটন কেন্দ্রে পার্বত্য
    জেলা পরিষদ ও পার্বত্য চট্টগ্রাম উন্নয়ন বোর্ডের অর্থায়নে পর্যবেক্ষণ টাওয়ার, বিশ্রাম কক্ষ ও বসার সু-ব্যবস্থাসহ গুহায় যাওয়ার পথে
    সিঁড়ি করা হয়েছে। এ টিলার চূড়ায় দাঁড়ালে শহরের ছোট-খাট ভবন, বৃক্ষ শোভিত পাহাড়, চেঙ্গী নদীর প্রবাহ ও আকাশের আল্পনা
    মনকে অপার্থিব মুগ্ধতায় ভরে
    সূত্রঃ bdsearcher.com <p style="padding-right: 5cm;"></p>
    তোলে। প্রাকৃতিক নৈসর্গের এ স্থানটিকে আরো আকর্ষণীয় করে তোলার লক্ষ্যে সরকার এখানে ইকোপার্ক
    স্থাপনের কার্যক্রম গ্রহণ করেছে। পর্যবেক্ষণ টাওয়ার থেকে খাগড়াছড়িকে দেখে দার্জিলিংয়ের সাথে তুলনা করতে পারেন। প্রতিদিন শত
    শত পর্যটক এখানে বনভোজন করতে কিংবা অবসরে বেড়াতে আসেন। পর্যটকদের নিরাপত্তার জন্য এ স্থানে একটি অস্থায়ী পুলিশ ক্যাম্পও আছে।
    </p>
    <P>
    গা ছমছম করা অনুভূতি নিয়ে পাহাড়ী সুড়ঙ্গ পথ বেয়ে অন্ধকার পাতালে নেমে যাওয়া কল্পনার বিষয় হলেও আলুটিলার সুড়ঙ্গ পথ কল্পনার
    কিছু নয়। আলুটিলা কেন্দ্রের প্রধান আকর্ষণ হচ্ছে এর ‘রহস্যময় সুড়ঙ্গ’। স্থানীয় লোকের ভাষায় ‘‘মাতাই হাকর’’ যার বাংলা অর্থ দেবগুহা।
    এ পাহাড়ের চূড়া থেকে ২৬৬টি সিঁড়ির নীচে আলুটিলা পাহাড়ের পাদদেশে পাথর আর শিলা মাটির ভাঁজে গড়া এ রহস্যময় সুড়ঙ্গের অবস্থান।
    গুহামুখের ব্যাস প্রায় ১৮ফুট আর দৈর্ঘ্য প্রায় ২৮০ফুট। প্রবেশমুখ ও শেষের অংশ আলো-আঁধারিতে আচ্ছন্ন। মাঝখানে নিকষ কালো গাঢ়
    অন্ধকার এ গুহার তলদেশ দিয়ে প্রবাহমান শীতল জলের ঝর্ণাধারা। গা ছমছম করা অনুভূতি নিয়ে এ গুহায় প্রবেশ করাটা একদিকে
    যেমন ভয়সংকুল তেমনি রোমাঞ্চকরও বটে। শুধু বাংলাদেশেতো বটেই পৃথিরীর অন্য কোন দেশেও এ রকম প্রাকৃতিক সুড়ঙ্গ পথের খুব
    একটা নজীর নেই। অনন্য সাধারণ এ গুহায় মশাল বা উজ্জ্বল টর্চের আলো ব্যতীত প্রবেশ করা যায় না। মশাল পর্যটন কেন্দ্রেই পাওয়া
    যায় ১০টাকার বিনিময়ে। গুহার একদিকে ঢুকে অন্যদিকে গিয়ে বেরোতে সময় লাগে মাত্র ১৫/২০মিনিট। উপমহাদেশের একমাত্র প্রাকৃতিক
    এ সুড়ঙ্গ জেলার প্রধান পর্যটন আকর্ষণ।
  </p>
    <h5>যেভাবে যাওয়া যায়: </h5>
  <p>
    জেলাসদর থেকে মাত্র ৭ কি.মি. এবং পর্যটন মোটেল থেকে ৫ কি.মি. দূরে মাটিরাঙ্গা উপজেলাতে এটি অবস্থিত। পর্যটন কেন্দ্রটি
    খাগড়াছড়ি-চট্টগ্রাম মহাসড়কের পার্শ্বে অবস্থিত হওয়ায় বাস, ট্যাক্সিযোগ যাতায়াত করা যায়।

    চাদের গাড়ি ভাড়া করে অথবা লোকাল বাস বা সিএনজি করে আলুটিলা পর্যটন কেন্দ্রে যেতে পারবেন। লোকাল বাসে ভাড়া লাগবে
    ১০/১৫ টাকা। এই পর্যটন কেন্দ্রে সড়ক ও জনপথ বিভাগের একটি চমৎকার ডাকবাংলোও রয়েছে এখানে। আগ্রহী পর্যটকগণ ইচ্ছে
    করলে রাত্রিযাপনও করতে পারেন।
  </p>
  <p>
    খাগড়াছড়ির বেশ কয়েকটি ঝর্ণার মধ্যে অন্যতম আকর্ষণীয় ‘রিছাং ঝর্ণা’। পাহাড়ের বুক বেয়ে প্রায় ১০০ ফুট উঁচু থেকে নিচে আছড়ে
    পড়ছে ঝর্ণার জলরাশি।  জেলা সদর থেকে আলুটিলা পেরিয়ে সামান্য পশ্চিমে মূল রাস্তা থেকে উত্তরে ঝর্ণা স্থানের দূরত্ব সাকুল্যে প্রায়
    ১১কিঃ মিঃ। ঝর্ণার সমগ্র যাত্রা পথটাই দারুণ রোমাঞ্চকর। যাত্রাপথে দূরের উঁচু-নিচু সবুজ পাহাড়, বুনোঝোঁপ, নামহীন রঙ্গিন বুনো
    ফুলের নয়নাভিরাম অফুরন্ত সৌন্দর্য যে কাউকে এক কল্পনার রাজ্যে নিয়ে যায়।ঝর্ণার কাছে গেলে এক পবিত্র স্নিগ্ধতায় দেহমন ভরে
    উঠে। ১০০ ফুট উঁচু পাহাড় থেকে আছড়ে পড়ছে ঝর্ণার জলরাশি, ঢালু পাহাড় গড়িয়ে নীচে নেমে যাচ্ছে এই প্রবাহ। কাছাকাছি দুটো
    ঝর্ণা রয়েছে এ স্থানে, প্রতিদিন বহু উৎসঃ travelersofbangladeshblog &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    সংখ্যক পর্যটক এখানে এসে ভিড় জমান এবং ঝর্ণার শীতল পানিতে গা ভিজিয়ে প্রকৃতির সাথে একাত্ম হন।
  </p>
    <h5>
      যেভাবে যাওয়া যায়:
    </h5>
    <P>
      এই ঝর্ণা দেখতে হলে চাদের গাড়ি, লোকাল বাস বা সিএনজি করে আলুটিলা থেকে আরো ২ কি.মি. এগিয়ে প্রথমে হৃদয় মেম্বার
      এলাকায় যেতে হবে। সেখান থেকে প্রায় ২.১০ কি.মি. দূরে রিছাং ঝর্ণা। এই পথ হেটে বা হোন্ডাতে করে যেতে হবে। হোন্ডাতে জনপ্রতি
      ৫০ টাকা করে নিবে শুধু যাওয়ার জন্য, আসার সময় ১০০ টাকা। চাদের গাড়ি বা সিএনজি নিয়ে গেলে ঝর্ণা থেকে প্রায় ৫০০ মিটার
      দূরে নামতে হবে, বাকিটা হেটে যেতে হবে। রিসাং ঝর্ণার কাছাকাছি আরেকটি ঝর্ণা আছে যা রিছাং ঝর্ণা – ২ বা অপু ঝর্ণা নামে
      পরিচিত। এটির পথ একটু দুর্গম এবং রিছাং ঝর্ণা থেকে যেতে ৩০/৪০ মিনিট লাগবে।
    </P>
   <p>
    সদর উপজেলার নূনছড়ি মৌজায় আলুটিলা পর্বত শ্রেণী হতে সৃষ্ট ছড়া নূনছড়ি। নূনছড়ি ছড়ার ক্ষীণ স্রোতের মাঝে রয়েছে প্রকান্ড
    সব পাথর। স্বচ্ছ জলস্রোতে স্থির পাথর মোহিত করে, প্রকৃতির অপূর্ব সাজে মুগ্ধতায় শিহরিত হয় মন। সমুদ্র সমতল হতে প্রায়
    ১০০০ফুট উচ্চতায় পাহাড়ের চূড়ায় দেবতার পুকুর রূপকথার দেবতার আর্শীবাদের মতো সলিল বারির স্রোতহীন সঞ্চার। এ পুকুরটির
    স্বচ্ছ জলরাশির মন ভোলানো প্রশান্তি মূহুর্তের মাঝে পর্যটকদের হৃদয় মন উদাস করে দেয়। এত উঁচু পাহাড় চূড়ায় পুকুরটি নানা
    রহস্যে ভরপুর। এ পুকুর ত্রিপুরাদের তীর্থক্ষেত্র  হিসেবে পরিগণিত। প্রতিবছর চৈত্রসংক্রান্তিতে এখানে তীর্থ মেলা বসে এবং তান্ত্রিক ব
     িধানমতে ত্রিপুরাগণ যাগযজ্ঞাদি করে। ত্রিপুরাদের ভাষায় দেবতার পুকুরের নাম মাতাই পুখির। মাতাই অর্থ দেবতা আর পুখির অর্থ
    পুকুর। পুকুরের চতুর্দিকে ঘন বন দেখে মনে হয় যেন সৌন্দর্য্যের দেবতা স্বয়ংবর নিয়ে দাঁড়িয়ে। কথিত আছে স্থানীয় বাসিন্দাদের জল
    তৃষ্ণা নিবারণের জন্য জল দেবতা স্বয়ং এ পুকুর খনন করেন। পুকুরের পানিকে স্থানীয় লোকজন দেবতার আশীর্বাদ বলে মনে করেন।
    প্রচলিত আছে যে, এ পুকুরের পানি কখনো কমে না। আরও একটি গল্প প্রচলিত আছে যে, এই পুকুর কোন দেবতা দ্বারা নিয়ন্ত্রিত
    এবং পুকুরের তলায় বহু গুপ্তধন লুকায়িত আছে যা দেবতারা পাহাড়া দিচ্ছে। অনেকের ধারণা এখানে এসে কিছু চাইলে তা পূরণ হয়।
  </p>
  <p>
    এ এলাকাটি ত্রিপুরা অধ্যুষিত কথিত আছে বর্তমান দেবতা পুকুর এলাকা এক সময় উঁচু পাহাড়ী অঞ্চল ছিল। এ উঁচু পাহাড়ের পাশে
    দু’টো জনবসাতি ছিল। এ জনবসতির এ জুমিয়া এক সময় ঐ পাহাড়ে জুম চাষ করত। জুম চাষ করার এক পর্যায়ে ঐ পাহাড়টা
    আবাদ না করার জন্য তাকে স্বপ্নে বারণ করা হয়। কিন্তু স্বপ্নের গুরুত্ব না দিয়ে এমনকি বারবার একইভাবে স্বপ্নে নিষেধ করা
    সত্বেও সে যথারীতি জুম চাষ চালিয়ে যায়। শেষবারে তাকে নরবলী দিয়ে জুমের ফসল ভোগের জন্য বলা হয় এবং তা
    করলে সে আরো কিছু ধন লাভ করবে বলেও স্বপ্নে জানানো হয়। কিন্তু এ দাবী পূরণে জুয়িার বিশ্বাস এবং সামথ্য
    কোনটাই ছিল না। এর কিছুদিন পর এক অমাবশ্যার রাতে ঐ স্থানে এক প্রলয়ঙ্করী ভূমিকম্প হয়। সকালে ঘুম
    থেকে উঠে আশে-পাশের লোকেরা দেখতে পায় জুমের জায়গায় পাহাড়ের উপরে বিরাট এক জলাশয়। এ জলাশয়ই
    ‘দেবতা পুকুর’ নামে পরিচিত। এ দেবতা পুকুর বর্ষাকালে পানিতে কানায় কানায় পরিপূর্ণ হয়ে যায় এবং বছরের
    কোন সময়ে শুকিয়ে যায় না। পুকুরের চারিদিক সুবিস্তৃত পর্বতশ্রেণী। তারই মাঝে পূর্ব-পশ্চিমে লম্বালম্বিভাবে
    প্রায় ১০০০ফুটের উপর এর অবস্থান। পুকুরের আকার দৈর্ঘ্যে প্রায় ১৫০০ফুট এবং প্রস্থে প্রায় ৬০০ফুট।
  </p>
    <h5>
      যেভাবে যাওয়া যায়:
    </h5>
    <p>
    খাগড়াছড়ি-মহালছড়ি-রাঙ্গামাটি সড়কে জেলা সদর থেকে ১১কিঃ মিঃ দক্ষিণে মূল রাস্তা হতে ৪কিঃ মিঃ পশ্চিমে সদর উপজেলার
    নূনছড়ি মৌজায় চির প্রশান্তিময় দেবতার পুকুরের অবস্থান। অর্থাৎ, এই গ্রাম পর্যটন মোটেল থেকে ১২ কি.মি. এবং মাইছছড়ি
    থেকে ৪ কি.মি. দূরে অবস্থিত। চাদের গাড়ি, সিএনজি ভাড়া করে বা ব্যক্তিগত গাড়ি নিয়ে গেলে নুনছড়ি ত্রিপুরা গ্রাম পর্যন্ত
    যাওয়া যাবে। পাহাড়ের চুড়ায় উঠার জন্য প্রায় এক থেকে সোয়া এক ঘণ্টা হাটতে হবে।
  </p>
  <p>
    পাঁচ একর জমির উপর ইতিহাস আর কালের সাক্ষী হয়ে দাঁড়িয়ে আছে এই বট গাছটি। এই গাছটি দেখতেও দর্শনার্থীদের ভিড়
    লেগে থাকে। শতবর্ষী এই বৃক্ষ দেখতে হলে খাগড়াছড়ি শহর থেকে বাসে করে মাটিরাঙ্গা বাজার আসতে হবে। সেখান থেকে
    ২.৫০ কি.মি. পায়ে হেটে অথবা মোটর বাইকে করে যেতে হবে। মোটর বাইকে ভাড়া নিবে জনপ্রতি প্রায় ১০০ টাকা।  </p>
  
  <h5>
    পানছড়ি অরণ্য কুটির ও রাবার ড্যাম:
  </h5>
  <p>
    খাগড়াছড়ি জেলা থেকে ২৫ কিমি উত্তরে, পানছড়ি সদর উপজেলা থেকে ৫ কিলোমিটার দুরে অবস্থিত শান্তিপুর অরণ্য
    কুটির। এই কুটিরে দেখা যাবে ৪৮.৫ ফুট উচ্চতার বৃহৎ বৌদ্ধ মূর্তি। যা মুহূর্তেই অভিভূত করবে যে কাউকে। মূল মূর্তিটি
    ৪২ ফিট উঁচু এবং বেদিটি ৬.৫ ফিট উঁচু। সব মিলিয়ে  মূর্তিটি ৪৮.৫ ফিট উঁচু। প্রায় ৬৫ একর জায়গা নিয়ে শান্তিপুর অরণ্যকুটির অবস্থিত।

    খাগড়াছড়ি শহরের চেঙ্গি স্কয়ার থেকে সিএনজি নিয়ে সরাসরি অরণ্যকুটির যাওয়া যায়। যাওয়ার পথে চেঙ্গি নদীর উপর নির্মিত রাবার ড্যাম দেখা যাবে।
  </p>
  <h5>
    তৈদুছড়া ঝর্ণা:
  </h5>
  <p>
    খাগড়াছড়ি জেলার দীঘিনালা উপজেলায় সবুজ পাহাড় আর বুনো জঙ্গলের মাঝে অবস্থিত নয়নাভিরাম ঝর্ণা দুটির নাম তৈদুছড়া
    ঝর্ণা। খাগড়াছড়ি থেকে তৈদুছড়া দুই ভাবে যাওয়া যায়। একটি দীঘিনালা হয়ে এবং অন্যটি সীমানা পাড়া দিয়ে। সীমানা পাড়া
    দিয়ে গেলে সময় অনেক বেঁচে যাবে কারন ট্র্যাকিং অনেক কম করতে হবে।
  </p>
  <h5>
    যেভাবে যাওয়া যায়ঃ
  </h5>
  <p>
    সীমানা পাড়া হয়ে গেলে:  খাগড়াছড়ি শহরের শাপলা মোড় থেকে ৯ কিলোমিটার দূরে নয় মাইল নামক স্থানে নামতে হবে।
    দীঘিনালা গামী যে কোন বাসে করে অথবা সিএনজি নিয়ে নয় মাইল যাওয়া যাবে। সেখান থেকে ৩/৪ কি.মি. হেটে সীমানা
    পাড়া যেতে হবে। এছাড়াও যে কেউ চাইলে শাপলা মোড় থেকে চাঁদের গাড়ী সীমানা পাড়া পর্যন্ত আপ-ডাউন ভাড়া করে
    নিতে পারেন। গাড়ী আপ-ডাউন ভাড়া পড়বে প্রায় ১৮০০/২০০০ টাকা। সকাল ৭ টায় রওনা হলে বিকাল ৪ টার মধ্যে খাগড়াছড়ি
    ফিরে আসতে পারবেন। সীমানা পাড়া থেকে গাইড ঠিক করে তাকে নিয়ে তৈদুছড়ার পথে হাটতে হবে। প্রায় ১ ঘণ্টা ৪৫ মিনিট
    হাটার পর প্রথমে পড়বে তৈদুছড়া ঝর্ণা – ২ (উপরের ঝর্ণা) এবং সেখান সূত্রঃ www.gonews24.com &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    থেকে ১ ঘণ্টার পথ তৈদুছড়া ঝর্ণা – ১
  </p>
  <p>
    দীঘিনালা হয়ে গেলে: বাসে করে খাগড়াছড়ি শহরের শাপলা মোড় থেকে ২৪ কি.মি. দূরে দীঘিনালা বাস স্টপেজে যেতে হবে।
    সেখান থেকে দীঘিনালা বাজার গিয়ে গাইড ঠিক করে নিতে হবে। তারপর জামতলি নামক জায়গা থেকে ট্র্যাকিং শুরু করতে হবে।
    ঝিরিপথ, উঁচু নিচু পাহাড় পার হয়ে প্রায় ৩ ঘণ্টা হাটার পর তৈদুছড়া ঝর্ণা – ১ পড়বে এবং সেখান থেকে ১ ঘন্টার পথ তৈদুছড়া
    ঝর্ণা – ২ (উপরের ঝর্ণা)। গাইড খরচ পড়বে ৩০০/৫০০ টাকা। দীঘিনালা হয়ে গেলে যেহেতু সময় বেশী লাগবে তাই একটু তাড়াতাড়ি বের হতে হবে।
  </p>
  <h5>
    সাজেক ভ্যালী:
  </h5>
  <p>
    সাজেক রাঙ্গামাটি জেলার সর্ববৃহৎ ইউনিয়ন। সাজেক যদিও রাঙ্গামাটি জেলায় অবস্থিত তবে যাতায়াতের সহজ পথ খাগড়াছড়ি-দীঘিনালা
    রোড। তাই যারা খাগড়াছড়ি ভ্রমণে যান তাদের কাছে অন্যতম আকর্ষণ সাজেক ভ্যালী। খাগড়াছড়ি থেকে ৬৯ কি.মি. এবং বাঘাইছড়ি
    উপজেলা থেকে ৩০ কি.মি. দুরের সাজেকের পুরোটাই পাহাড়ে মোড়ানো পথ।
  </p>

  <h5>
    যেভাবে যাওয়া যায়ঃ
  </h5>
  <p>
    খাগড়াছড়ি শহরের শাপলা মোড় থেকে চাদের গাড়ী/ সিএনজি রিজার্ভ করে সাজেক যাওয়া যাবে। এছাড়াও নিজস্ব মাইক্রো বা কার
    নিয়েও যাওয়া যাবে। সময় লাগবে সবমিলিয়ে ৩ ঘণ্টা। চাদের গাড়ী ভাড়া ৫০০০/৬০০০ টাকা (দরদাম করতে হবে), সিএনজি ভাড়া
    ৩০০০/৪০০০ টাকা (সিএনজিতে না যাওয়াই ভাল কারন প্রকৃতি ভালভাবে দেখা যাবে না)। যাওয়ার পথের সৌন্দর্য উপভোগ করতে
    হলে চাদের গাড়ীর ছাদে বসে যেতে হবে। সেই ক্ষেত্রে সাবধানে ধরে বসতে হবে। একটি চাদের গাড়ীতে অনায়াসে ১২ জন যেতে পারবেন।
  </p>
  </p>
   সাজেকে থাকার জন্য আছে – সাজেক রিসোর্ট – ০১৭৮৩৯৬৯২০০ এটি রুইলুই পাড়াতে অবস্থিত, রুনময় রিসোর্ট- ০১৮৬৫৬৮৮৭৭,
    রুইলুই পাড়া ক্লাব হাউস- ০১৮৩৮৪৯৭৬১২, ০১৮৬০১০৩৪০২, আলো রিসোর্ট- ০১৮৬৩৬০৬৯০৬ ইত্যাদি। এছাড়াও যে কোন কারবারির
    ঘরে জনপ্রতি ১০০ টাকা দিয়ে থাকা যাবে (যদি ফাকা থাকে)। রুইলুই পাড়া থেকে সাজেকের দূরত্ব মাত্র ১ কি.মি.। এছাড়া সাজেক
    থেকে ২০/২৫ মিনিটের হাঁটা পথ কংলাক পাড়া যার উচ্চতা সমুদ্রপৃষ্ঠ থেকে প্রায় ২০০০ ফিট উপরে। কংলাক পাড়া থেকে আকাশ
    পরিষ্কার থাকলে ভারতের লুসাই পাহাড় দেখা যায়। এই লুসাই পাহাড় থেকে বাংলাদেশের কর্ণফুলী নদীর উৎপত্তি হয়েছে যা রাঙ্গামাটি
    হয়ে চট্টগ্রামের ভিতর দিয়ে এসে বঙ্গোপসাগরের সাথে মিলেছে।
   </p>
  <p>
    এছাড়াও খাগড়াছড়িতে আরো যেসব দর্শনীয় স্থান রয়েছে তার মধ্যে উল্লেখযোগ্য হচ্ছে- শহরের মধ্যে ইয়োংড বৌদ্ধ বিহার, নিউজিল্যান্ড,
    জেলা পরিষদ পার্ক ও ঝুলন্ত সেতু, খাগড়াছড়ি চার্চ, মং রাজার বাড়ি, লক্ষী-নারায়ণ মন্দির, পাহাড়ি কৃষি গবেষণা কেন্দ্র, দীঘিনালা
    মাণিক্যের দিঘী, দীঘিনালা রিজার্ভ ফরেস্ট, হাজাছড়া ঝর্ণা, মহালছড়ি হৃদ, ভগবান টিলা, দুই টিলা ও তিন টিলা, রামগড় লেক ও
    ি গার্ডেন, মানিকছড়ি মং রাজার বাড়ি-ইত্যাদি।
  </p>
  <h5>
    যেভাবে খাগড়াছড়ি যাওয়া যায়-
  </h5>
  <p>
    ঢাকা, চট্টগ্রাম কিংবা ফেনী থেকে সহজেই যাত্রীবাহী কোচ বা বাসযোগে যাওয়া যায় রামগড় ও খাগড়াছড়িতে। ঢাকার কমলাপুর,
    ফকিরাপুল,সায়েদাবাদ প্রভৃতি স্থানে রয়েছে খাগড়াছড়ির বাস কাউন্টার। এসব স্থান থেকে সৌদিয়া, শ্যামলী, এস আলম, শান্তি
    পরিবহন প্রভৃতি চেয়ারকোচের নৈশ ও দিবা সার্ভিস রয়েছে। রাত ১১টা হতে ১২টা এবং সকাল ৭টা হতে খাগড়াছড়ির উদ্দেশ্যে
    এসব কোচ যাত্রা করে। নন-এসি বাস ভাড়া ৫২০ টাকা এবং এসি বাস ভাড়া ৮০০ টাকা। এই রূটে একমাত্র এসি বাস সেন্টমার্টিন
    পরিবহন। খাগড়াছড়ি থেকেও এসব কোচের দিবা ও নৈশ সার্ভিস রয়েছে। এসব কোচে রামগড় আসা যায়। রামগড় ভ্রমণ শেষে
    এখান থেকে ঢাকার বাস ধরতে পারেন, বাস ছাড়াও সিএনজি চালিত অটোরিক্সা কিংবা চাঁদেরগাড়ি রিজার্ভ করে খাগড়াছড়ি ও
    আলুটিলায় যাওয়া যায়। ফেনীর মহিপাল এবং চট্টগ্রামের অক্সিজেন বাস টার্মিনাল থেকে রামগড় ও খাগড়াছড়ির বাস ছেড়ে আসে।
  </p>
  <h5>
    খাগড়াছড়িতে থাকার ব্যবস্থা:
  </h5>
  <p>
    থাকার ব্যবস্থা: রামগড়ে একটি সরকারি রেস্ট হাউস রয়েছে। স্থানীয় উপজেলা নির্বাহী অফিসারের অনুমতি নিয়ে এখানে থাকা যায়।
    অনুমতি নিয়ে রামগড় কৃষি গবেষণা কেন্দ্রের রেস্ট হাউসেও থাকা যায়। এছাড়া মোটামুটি মানের কয়েকটি হোটেল রয়েছে রামগড়
    বাজারে। চাইলে রাতে খাগড়াছড়ি গিয়েও থাকতে পারেন। আলুটিলার পাদদেশে চেঙ্গী নদীরকূলে রয়েছে পর্যটন কর্পোরেশনের অত্যাধুনিক
    মোটেল। এখানে এসি, নন এসি রুম আছে। এছাড়া খাগড়াছড়ি জেলা সদরে রয়েছে হোটেল জিরান, লবিয়ত, শৈল সুবর্ণা, ফোর স্টার
    প্রভৃতি হোটেল।
  </p>
  <ul style="text-align: left">
    <li>
      <span style="font-size: large;font-weight: bold">পর্যটন মোটেল:</span></br>
      যোগাযোগ ০৩৭১-৬২০৮৪, ০৩৭১-৬২০৮৫, ০১৫৫৬৫৬৪৩৭৫, এসি রুম ২১০০ টাকা এবং নন এসি রুম ১৩০০ টাকা।
      এটি শহরে ঢুকার ২ কি.মি. আগে চেঙ্গী নদীর পাশে অবস্থিত।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">হোটেল ইকোছড়ি ইন: </span></br>
      যোগাযোগ ০৩৭১-৬১৬২৫, ০৩৭১-৬১৬২৬, ০১৮২৮৮৭৪০১৪। রুম ভাড়া প্রতি রাত ১০০০-২৫০০ টাকা।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">শৈল সুবর্ণ:</span></br>
      যোগাযোগ ০৩৭১-৬১৪৩৬। রুম ভাড়া প্রতি রাত ৬০০-১০০০ টাকা।
      এছাড়াও শাপলা মোড়ে অবস্থিত অন্যান্য হোটেলে ৩০০-৭০০ টাকায় থাকা যাবে।
    </li>
    <li>
      <span style="font-size: large;font-weight: bold">উল্লেখযোগ্য হোটেল: </span></br>
      হোটেল জিরান- ০৩৭১-৬১০৭১, ফোর স্টার- ০৩৭১-৬২২৪০, থ্রি স্টার- ০৩৭১-৬২০৫৭, লবিয়ত- ০৩৭১-৬১২২০,
      চেঙ্গী- ০৩৭১-৬১২৫৪, উপহার- ০৩৭১-৬১৯৮০, রাজু বোর্ডিং- ০৩৭১-৬১১৬১, চৌধুরী বোর্ডিং- ০৩৭১-৬১১৭৬, ভাই ভাই বোর্ডিং- ০৩৭১-৬১৪৬১ ইত্যাদি।
    </li>
  </ul>
</div>