<div class="container top-space">
    <h1>ফয়েস লেক</h1>
    <p>
        ফয়ে’স লেক কোনো প্রাকৃতিক জলাশয় নয়। এটি একটি কৃত্বিম বা মানবসৃষ্ট হ্রদ, যা বাংলাদেশের চট্টগ্রাম সিটি সেন্টার হতে
        ৮ কিলোমিটার দূরে ও পাহাড়তলী রেল ষ্টেশনের নিকটবর্তী খুলশী নামক স্থানে অবস্থিত। চট্টগ্রাম বাংলাদেশের একটি বিখ্যাত
        বিভাগীয় শহর। ঢাকার দক্ষিণে অবস্থিত শহরটি বন্দরনগরী কিংবা বাণিজ্যনগরী হিসেবেও ব্যাপকভাবে পরিচিত। প্রাকৃতিক
        সৌন্দর্যের বিচারে এটি দেশের সর্বোত্তম জেলাগুলোর একটি। সমুদ্র, পাহাড়-পর্বত, নদী, বন-জঙ্গল, উপত্যকা প্রভৃতি
        প্রাকৃতিক সৌন্দর্যের সমন্বয়ের কারণেই পুরো বিভাগটি সকলের নিকট খুবই আকর্ষণীয়।

    </p>
    <img src="/assets/foyslake/main.jpg" class="float-img" alt="Cinque Terre" width="100%" height="400px">

    <div class="Top_image_space">
        <p>
            ১৯২৪ সালে “আসাম বেঙ্গল রেলপথ কর্তৃপক্ষ (Asam Bengal Railway Authority)” -এর তত্বাবধানে সর্বপ্রথম ফয়ে’স লেকের
            খননকাজ শুরু হয়। চট্টগ্রামের উত্তরদিকের পাহাড়ী ঢল হয়ে বয়ে আসা জলের স্রোতধারার উপর একটি বাঁধ নির্মাণ করে ৩৩৬
            একরের এই হ্রদের সৃষ্টি করা হয়েছিল। এর পিছনে প্রধান উদ্দেশ্য ছিল, তৎকালীন সরকারের রেলপথ বিভাগের কলোনীতে
            প্রয়োজনীয় পানি সরবরাহ করা। রেল বিভাগের প্রকৌশলী “জনাব ফয় (Mr. Foy)” -এর নামানুসারে এই লেকটির নামকরণ করা হয়।
            চট্টগ্রামের প্রাণকেন্দ্রে অবস্থিত পাহাড়তলী এলাকাটি মূলত রেল বিভাগের বিভিন্ন কারখানা, ছাউনী ও কর্মশালার
            সমন্বয়ে গঠিত একটি রেলওয়ে শহর (Railway town)। দীর্ঘদিন ধরে সেখানে, রেলপথ বিভাগে কর্মরত বহু সংখ্যাক কর্মী
            বসবাস করে আসছে। বর্তমানেও শহরটিতে, রেলের বগী তৈরীর কারখানা, ডিজেল কর্মশালা, ইঞ্জিনশালা, পরীক্ষাগার, ভাণ্ডার
            (গুদাম), তড়িৎকৌশল কর্মশালা, কর্মীদের বাসস্থান, স্কুল, মসজিদ-মাদ্রাসাসহ বিভিন্ন স্থাপনা বিদ্যমান।
    </div>
    <h5>
        ফয়ে’স লেকের উন্নয়ন ও ব্যাবস্থাপনাঃ

    </h5>
    <p>
        বাংলাদেশ রেলওয়ে কর্তৃপক্ষের মালাকানাধীন এ লেকটির বর্তমান ব্যাবস্থাপনার দায়িত্বে আছে কনকর্ড এন্টারটেইনমেন্ট
        কোম্পানী লিমিটেড (Concord Entertainment Company Limited) । তারা ফয়ে’স লেকের ৩৩৬ একর জায়গা ১০০ বছরের জন্য লীজ
        নেয়। উদ্দেশ্য, এখানে দেশের সর্ববৃহৎ থিম পার্ক ও বিনোদন কেন্দ্র প্রতিষ্ঠা করা। এলক্ষ্যে, ২০০৪ সাল থেকে তারা কাজ
        শুরু করলে ধীরে ধীরে এটি বাংলাদেশের অন্যতম পর্যটনকেন্দ্র হিসেবে প্রতিষ্ঠা পায়। নিরিবিলি ও মনোরম প্রাকৃতিক পরিবেশ,
        নির্মল আবহাওয়া, ছোট ছোট খাল, ঘনসবুজে ঘেরা পাহাড় এবং এর আধুনিক খেলনা ও রাইডগুলো সকল বয়সী ভ্রমণকারীদের জন্যই বেশ
        আকর্ষণীয়। ভ্রমণকারীদের নিরাপদে অবস্থান ও অবকাশ যাপনের জন্য আশেপাশে বিভিন্ন মানের বেশকিছু হোটেল ও রিসোর্টও গড়ে
        উঠেছে।
    </p>
    <p>
        ফয়ে’স লেক চট্টগ্রামের সর্বোচ্চ পর্বত ‘বাতালী’ এবং আরও বেশকিছু সবুজ পাহাড় যথা- আসমানী, গঙ্গাদ্বীপ, জলতুঙ্গী
        প্রভৃতি দ্বারা বেষ্ঠিত এক বিশাল জলাশয়। পাহাড়গুলোর উপর জন্ম নেওয়া ঘন জঙ্গলের কারনে এদেরকে সবুজ দেখায়। এসব জঙ্গলে
        খরগোশ ও চিত্রা হরিণের মতো নিরীহ বন্যপ্রাণীদের ঘুরে বেড়াতে দেখা যায়। সেখানকার পাহাড়চূড়ায় একটি বনভোজনের স্থান
        (Picnic Spot) ও একটি পর্যবেক্ষণ টাওয়ার (Watch Tower) অবস্থিত যা হতে একনজরে পুরো চাঁটগা শহর দেখা যায়।
        ২০০৫ সালে এখানে তারা “ফয়ে’স লেক এমাউসমেন্ট ওয়ার্ল্ড (Foy’s Lake Amusement World)” নামে একটি বিনোদন কেন্দ্র
        স্থাপন করে। একইসাথে ৩২০ একরের এই কমপ্লেক্সে তারা “ফয়ে’স লেক সী ওয়ার্ল্ড (Foy’s Lake Sea World)” ও “ফয়ে’স লেক
        রিসোর্ট (Foy’s Lake Resort)” ও স্থাপন করে।

    </p>
    <h5>
        ফয়ে’স লেক এমাউসমেন্ট ওয়ার্ল্ডঃ

    </h5>
    <p>
        এমাউসমেন্ট ওয়ার্ল্ড মূলত একটি থিম পার্ক। বিভিন্ন খেলনা ও রাইড চড়া, আকর্ষণীয় স্থানসমূহে পরিভ্রমণ, বনভোজন, হ্রদের
        পানিতে নৌকাভ্রমণ, রেস্তোরাঁ, ভাসমান মঞ্চে সঙ্গীতানুষ্ঠান উপভোগসহ চিত্তবিনোদনের ব্যাপক সুযোগ-সুবিধা রয়েছে
        পার্কটিতে।

        শিশু, যুবক, মধ্যবয়স্ক কিংবা বয়োবৃদ্ধ – সকলেই সারাদিন ধরে রাইডগুলোতে চড়তে পারেন। সকল স্তরের ও বয়সের
        ভ্রমণপিপাসুদের মনোরঞ্জনের জন্য যাবতীয় উপাদান এখানে বিদ্যমান।


    </p>
    <p>
        প্রকৃতির সৌন্দর্য উপভোগে ইচ্ছুক ভ্রমণকারীগণ পুরো লেকের আসল সৌন্দর্য উপভোগ করতে চাইলে দিনের আলো থাকতে থাকতেই
        পাহাড়ে আরোহণ করুন। সাথে অবশ্যই দূরবীন (বাইনোকুলার) নিতে ভুলবেন না। পাহাড়ের উপর থেকে ক্রিকেট স্টেডিয়াম ও সাগরিকা
        বেলাভূমিসহ চট্টগ্রাম শহরের এক বৃহদাংশ অবলোকন করা যায়।
        এছাড়াও পুরো লেকজুড়ে বিভিন্ন স্থানে নৌকাঘাট স্থাপন করা হয়েছে। এসব ঘাট থেকে নৌকা ভাড়া করে লেকের সৌন্দর্য উপভোগ
        করতে পারেন।

    </p>
    <h5>
        ফয়ে’স লেক সী ওয়ার্ল্ডঃ
    </h5>
    <p>

        ওয়াটার ওয়ার্ল্ড হলো সুইমিংপুল, বিভিন্ন ধরনের ওয়াটার রাইড এবং পানির ফোয়ারা ও ঝর্ণার সমন্বয়ে গঠিত একটি
        প্রমোদস্থান। সাঁতার কাটা, গোসল করা ও জলকেলী খেলার জন্য উপযুক্ত একটি স্থান।
        স্থল কিংবা জল- উভয় পথে সী ওয়ার্ল্ডে যাওয়া যায়। এখানে ভ্রমণেচ্ছুক পর্যটকবৃন্দ সাথে অবশ্যই সাঁতারের জন্য উপযোগী
        অতিরিক্ত কাপড়-চোপড় সঙ্গে নিতে ভুলবেন না।
        ফয়ে’স লেকে অবস্থানকালীন সময়ে বিশ্রাম ও রাত্রীযাপনের জন্য সবচেয়ে উপযুক্ত ও নিকটবর্তী স্থান হলো ফয়ে’স লেক রিসোর্ট
        ও লেকের পাঁড় ঘেষে স্থাপিত কটেজসমূহ। নির্মল আবহাওয়া ও শুনশান নিরবতার মাঝে স্থাপিত এই বিলাশবহুল রিসোর্টটিতে থাকার
        জন্য আপনাকে প্রতিরাতে ৩,০০০ – ২৫,০০০ টাকা পর্যন্ত ব্যায় করতে হবে। যদিও এই মূল্য বছরের বিভিন্ন সময়ে কিছুটা বাড়তে
        বা কমতে পারে।


    </p>

    <p>
        ফয়ে’স লেক ব্যাবস্থাপনায় নিযুক্ত কনকর্ড এন্টারটেইনমেন্ট কোম্পানী লিমিটেডের নিজস্ব ব্যাবস্থাপনায় পরিচালিত
        রিসোর্টটি বাকী দুটি থিম পার্কের সাথে একই কম্পাউন্ডে অবস্থিত। ফলে এখানে অবস্থানকালে পর্যটকগণ সকল সুযোগসুবিধা এই
        একটি স্থান থেকেই গ্রহণ করতে পারবেন। প্রাকৃতিক সৌন্দর্য উপভোগ, ঐতিহাসিক স্থানসমূহ পরিদর্শন, দুঃসাহসিক রাইডসমূহে
        চড়া, লেকের পানিতে নৌকাভ্রমণ প্রভৃতি সুযোগসুবিধা এখানে বিদ্যমান। এছাড়াও এখান থেকে পায়ে হেটেই থিম পার্ক দুটিতে গমন
        করা যায়।

    </p>
    <h5>
        নৌকা ভ্রমণের জন্য উপযুক্ত সময়ঃ

    </h5>
    <p>
        শীতকালীন সময়ে সাধারণত বিকেল ৩ টায় নৌকাভ্রমণের জন্য সবচেয়ে উপযুক্ত সময়। ভ্রমণকারীগণ নৌকায় চড়ে সরাসরি ওয়াটার
        ওয়ার্ল্ডে গমণ করতে পারবেন। এসময়, ছোটখাটো নৌকা ভাড়া নেয়াটাই অধিক উত্তম।

    </p>
    <h5>
        যেভাবে যাওয়া যায়ঃ
    </h5>
    <p>
        পাহাড়তলী এলাকাটি চট্টগ্রাম শহরের উত্তরদিকে অবস্থিত। দেশের যেকোনো স্থান হতে সড়ক, রেল কিংবা আকাশপথে চট্টগ্রাম নগরে
        পৌছা যায়। চট্টগ্রাম শহরের জিইসি মোড় থেকে সিএনজি অটোরিক্সায় করে ফয়ে’স লেকে পৌঁছাতে আনুমানিক আধাঘণ্টা সময় লাগতে
        পারে। এতে ভাড়া পড়বে ৬০-৭০ টাকা। রিক্সায় করে ভাড়া লাগবে আনুমাণিক ৪০ টাকা। এছাড়াও বাস, টেম্পু, ম্যাক্সি প্রভৃতি
        যানবাহনে চড়ে সেখানে যাওয়া যায়।

    </p>
    <h5>
        প্রবেশমূল্য ও সময়সূচীঃ

    </h5>
    <p style="margin-left: 50px">&#9989;প্রাপ্তবয়স্কঃ ২০০ টাকা।</p>
    <p style="margin-left: 50px">&#9989;শিশুদের জন্যঃ ১৮০ টাকা।</p>
    <p style="margin-left: 50px">&#9989;৩ ফুটের কম উচ্চতাবিশিষ্ট শিশুদের জন্য সম্পূর্ণ ফ্রি।</p>
    <p style="margin-left: 50px">&#9989;খোলার সময়ঃ সকাল ১০ টা ৩০ মিনিট।</p>
    <p style="margin-left: 50px">&#9989;বন্ধ করার সময়ঃ সন্ধ্যা ৬ টা (রবিবার – বৃহস্পতিবার)।
        সন্ধ্যা ৭ টা (শুক্রবার – শনিবার)</p>
    <h5>
        অবস্থানের জন্য হোটেল ও রিসোর্টসমূহঃ
    </h5>
    <p>
        যারা চট্টগ্রাম শহরে কয়েকদিনের জন্য অবস্থান করতে চান তাদের জন্য সেখানে বেশকিছু হোটেল আছে। র‍্যাডিসন ব্লু নামের
        পাঁচ তারকা মানের হোটেলটি এদের মধ্যে অন্যতম। এছাড়াও নগরের আগ্রাবাদে অবস্থিত হোটেল আগ্রাবাদও একটি বিলাশবহুল হোটেল।
        ফয়ে’স লেকের গেটের বাইরেও বেশকিছু হোটেল ও রিসোর্ট রয়েছে। রাতপ্রতি ১২০০ – ৬০০০ টাকা খরচ করে সেগুলোতে অবস্থান করা
        যায়।
    </p>

</div>