<!-- Card deck -->
<div class="card-deck h-40 first-card">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/kagrasori/main.jpeg"
           alt="Card image cap">
    </div>
    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">খাগড়াছড়ি</h4>
      <!--Text-->
      <p class="card-text">
        রূপ বৈচিত্রে ভরপুর খাগড়াছড়ি বাংলাদেশের একটি পার্বত্য জেলা। নদী....
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="kagrasori/index" class="btn btn-primary">Read more</a>
    </div>

  </div>
</div>
<!-- Card deck -->
<div class="card-deck h-40">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/foyslake/home.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">ফয়েস লেক</h4>
      <!--Text-->
      <p class="card-text">
      ফয়ে’স লেক কোনো প্রাকৃতিক জলাশয় নয়। এটি একটি কৃত্বিম মানবসৃষ্ট হ্রদ,বাংলাদেশের...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="foyslake/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>