<div class="container mt-4 first-card" style="margin-top: 60px; background-color:gainsboro" xmlns="http://www.w3.org/1999/html">
  <h2></h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item check">
      <a class="nav-link active" data-toggle="tab" href="#home" style="background-color: cornflowerblue; font-size:11px; color: white;">সর্বশেষ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1" style="background-color:cornflowerblue; font-size:11px; color: white;">সর্বাধিক পঠিত</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2"></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>List</h3>
      <ul>
        <li class="active">
          <a  href="<%= rangamati_index_path%>">রাঙ্গামাটি</a>
        </li>
        <li><a href="<%= sajak_index_path%>">সাজেক ভ্যালী</a>
        </li>
        <li><a href="<%= kagrasori_index_path%>">খাগড়াছড়ি</a>
        </li>
      </ul>
    </div>

    <div id="menu1" class="container tab-pane fade"><br>
      <!--
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      -->
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>

  </div>
</div>