<!-- Card deck -->
<div class="card-deck h-40 first-card">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/corona/goton.jpg" alt="Card image cap">
    </div>
    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">করোনা ভাইরাস</h4>
      <!--Text-->
      <p class="card-text">
        করোনা ভাইরাস বা কোভিড-১৯ নামটি সাম্প্রতিক....
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="corona/index" class="btn btn-primary">Read more</a>
    </div>

  </div>
</div>

<!-- Card deck -->
<div class="card-deck h-40">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/Ahsan_Manzil/home.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">আহসান মঞ্জিল (গোলাপী প্রাসাদ)</h4>
      <!--Text-->
      <p class="card-text">
        ঢাকা শহরের পরতে পরতে ছড়িয়ে আছে সৌন্দর্য ও প্রাচীন গৌরবময় ইতিহাস...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="ahsanmanzil/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>