<!-- Card deck -->
<div class="card-deck h-40 first-card">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/rangamati/home.jpg"
           alt="Card image cap">
    </div>
    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">রাঙ্গামাটি</h4>
      <!--Text-->
      <p class="card-text">
        নৈসর্গিক সৌন্দর্যের এক অপার লীলাভূমি রাঙ্গামাটি পার্বত্য জেলা। এখানে....
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="rangamati/index" class="btn btn-primary">Read more</a>
    </div>

  </div>
</div>
<!-- Card deck -->
<div class="card-deck h-40">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/zoo/home.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">বাংলাদেশ জাতীয় চিড়িয়াখানা</h4>
      <!--Text-->
      <p class="card-text">
      চিত্তবিনোদন আর পশু-পাখি সম্পর্কে জানার অন্যতম মাধ্যম হচ্ছে...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="zoo/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>