<!-- Card deck -->
<div class="card-deck h-40 first-card">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/sajak/home.jpg"
           alt="Card image cap">
    </div>
    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">সাজেক ভ্যালী</h4>
      <!--Text-->
      <p class="card-text">
        বাংলাদেশের দর্শনীয় স্থানগুলোর মধ্যে মধ্যে পার্বত্য চট্টগ্রাম নিয়ে
        ....
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="sajak/index" class="btn btn-primary">Read more</a>
    </div>

  </div>
</div>
<!-- Card deck -->
<div class="card-deck h-40">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/boldhagarden/home.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">বলধা গার্ডেন</h4>
      <!--Text-->
      <p class="card-text">
       
      ঢাকার ঐতিহাসিক স্থানগুলোর মধ্যে বলধা গার্ডেন অন্যাতম। এদেশের ইতিহাস ও...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="boldhagarden/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>