
<!-- Card deck -->
<div class="card-deck h-40 first-card">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/coxbazar/Sant_Martin.jpg"
           alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body ">

      <!--Title-->
      <h4 class="card-title">বেরাতে যাবেন কক্সবাজার</h4>
      <!--Text-->
      <p class="card-text">
        কক্সবাজার বাংলাদেশের সর্বদক্ষিণে অবস্থিত...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="coxbazar/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>


<!-- Card deck -->
<div class="card-deck h-40">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="/assets/lalmai/home.jpg"
           alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">বেরাতে যাবেন লালমাই পাহাড়</h4>
      <!--Text-->
      <p class="card-text">
        প্রাচীন আর সমৃদ্ধশালী জেলাগুলোর নাম বললে কুমিল্লার নামটা...
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="lalmai/index" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>


